
{% extends "base" %}

{% block content %}
    <div class="base-block">
        <div style="max-width: 300px; margin: 0 auto;">
            <h2 class="form-title">Sign In</h2>
            <form class="form" 
                  method="POST" 
                  action="{{ url('/login') }}">
                {% if errors.has() %}
                    <div class="note-message">
                        ! {{ errors.first() }}
                    </div>
                {% endif %}
                <input id="email" 
                       type="email" 
                       name="email" 
                       placeholder="Email ..."
                       value="{{ old('email') }}">
                <br/>
                <input id="password" 
                       type="password" 
                       placeholder="Password ..."
                       name="password">
                <br/>
                <label class="form-checkbox" style="float: left;">
                    <input type="checkbox" name="remember"> Remember Me
                </label>
                <br/>

                <button class="pull-right" type="submit">
                    Sign In
                </button>
                <br/><br/>
                <div class="clear">
                    <a href="{{ url('/password/reset') }}">Forgot Your Password?</a><br/>
                    <a href="{{ url('/register') }}">Register!</a>
                </div>

            </form>
        </div>
        <div class="clear"></div>
    </div>

{% endblock %}