<!DOCTYPE html>
<html>
    <head>
        <title>{{ view.app.name }}</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="http://www.iconj.com/ico/y/p/ypb83oncxp.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ view.app.description }}">
        <!--  JS   RESOURECES         -->
        <script type="text/javascript" src="{{ asset('components/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('components/chosen/chosen.jquery.js') }}"></script>
        <!--  CSS  RESOURECES         -->
        <link type="text/css" rel="stylesheet" href="{{ asset('components/bootstrap/dist/css/bootstrap.min.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('components/chosen/chosen.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('components/lightbox2/dist/css/lightbox.min.css') }}" />
        <!--  CASCADING STYLE SHEETS  -->
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/styles.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}" />
        {% block components %}{% endblock %}
    </head>
    <body>
        
        <!------------------------------>
        <!--       HEADER BLOCK       -->
        <!------------------------------>
        <header class="no-print">
            <div class="header no-print">
                <nav>
                    <div class="menu-button">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </div>
                    <ul class="nav">
                        <li>
                            <a href="{{ url('/') }}" 
                               class="{{ view.category ? '' : 'active' }}">
                                <span class="glyphicon glyphicon-home"></span>
                                Face_of_Hope
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('/donating') }}"
                               class="{{ view.category == 'donating' ? 'active' : '' }}">Donating</a>
                        </li>
                        <li>
                            <a href="{{ url('/volunteering') }}"
                               class="{{ view.category == 'volunteering' ? 'active' : '' }}">Volunteering</a>
                        </li>
                        <li>
                            <a href="{{ url('/veterans') }}"
                               class="{{ view.category == 'veterans' ? 'active' : '' }}">Veterans</a>
                        </li>
                        <li>
                            <a href="{{ url('/citizenship') }}"
                               class="{{ view.category == 'citizenship' ? 'active' : '' }}">Citizenship</a>
                        </li>
                        <li>
                            <a href="{{ url('/projects') }}"
                               class="{{ view.category == 'projects' ? 'active' : '' }}">Projects</a>
                        </li>
                        <li>
                            <a href="{{ url('/newsletters') }}"
                               class="{{ view.category == 'newsletters' ? 'active' : '' }}">Newsletters</a>
                        </li>
{#                        <li>
                            <a href="{{ url('/events') }}"
                               class="{{ view.category == 'events' ? 'active' : '' }}">Events</a>
                        </li>#}
                    </ul>
                    {% include 'auth.nav.auth' %}
                </nav>
            </div>
            {% block header %}{% endblock %}
        </header>
        
{#        <!------------------------------>
        <!--     SOCIAL NETWORKS      -->
        <!------------------------------>
        <ul class="social">
            <li>
                <a class="google" href="#"></a>
            </li>
            <li>
                <a class="facebook" href="#"></a>
            </li>
            <li>
                <a class="twitter" href="#"></a>
            </li>
            <li>
                <a class="linkedin" href="#"></a>
            </li>
        </ul>#}
        
        {% block content %}{% endblock %}

        {% include 'frontend.newsletters.common' %}
        {% include 'footer' %}
        
        <span class="rating-desc no-print" itemscope="" itemtype="http://schema.org/Product">
            <span itemprop="name">{{ view.app.name }}</span>
            <span itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating"> 
                <span itemprop="ratingValue">4.7</span> 
                <span itemprop="reviewCount">11</span>
            </span>
        </span>
            
        {% include 'components.popups.message' %}
            
        {% include 'frontend.events.payment' %}
        
        {% block js %}{% endblock %}

        <script type="text/javascript">
            $('.remove-img-tag img').remove();
            $('.menu-button .glyphicon-menu-hamburger').on('click', function(){
                
                if($('nav').hasClass('expanded')){
                    $('nav').removeClass('expanded');
                }else{
                    $('nav').addClass('expanded');
                }
            });
            {% if session('popup-message') %}
                $('.popup-message').modal('show');
            {% endif %}
        </script>
        
    </body>
</html>
