<footer>
    <div class="footer no-print">
        <img class="footer-logo" src="{{ asset('assets/img/vector/logo-white.svg') }}">
        <br/>
        <div itemscope="" itemtype="http://schema.org/LocalBusiness">
            <div class="pull-left" style="padding: 0 25px;" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                <br/>
                <span style="display: inline-block; max-width: 250px;" itemprop="streetAddress">{{ view.app.address }}</span> <br/><br/>
                <span class="phone" itemprop="telephone">{{ view.app.phone }}</span> <br/>
                <a href="mailto:{{ view.app.email }}" itemprop="email">{{ view.app.email }}</a>
            </div>
            <span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
                <meta itemprop="latitude" content="-82.24472909999997">
                <meta itemprop="longitude" content="27.0576014">
            </span>
            <div class="other-details">
                <span style="color: #ffffff; font-size: 28px;">Schedule Time</span><br/><br/>
                <time itemprop="openingHours" datetime="Mo,Tu,We,Th,Fr 10:00-13:00">
                    Monday to Friday <br/>10:00 a.m. to 1:00 p.m. 
                    <br/>
                    <br/>
                    <span style="font-size: 14px; line-height: 24px;">
                        Monday to Thursday by appointment.
                        <br/>
                        Friday Food Bank 10:00 a.m. to 1:00 p.m.
                    </span>
                </time>
            </div>
            <div class="footer-nav">
                <div class="footer-nav-block">
                    <div class="title">Activities</div>
                    <a href="{{ url('donating') }}">Donating</a><br/>
                    <a href="{{ url('volunteering') }}">Volunteering</a><br/>
                    <a href="{{ url('volunteering/positions') }}">Jobs</a><br/>
                </div>
                <div class="footer-nav-block">
                    <div class="title">Services</div>
                    <a href="{{ url('register') }}">Needy</a><br/>
                    <a href="{{ url('veterans') }}">Veterans</a><br/>
                    <a href="{{ url('citizenship') }}">Citizenship</a>
                </div>
                <div class="footer-nav-block">
                    <div class="title">About Us</div>
                    <a href="{{ url('contactus') }}">Contact Us</a><br/>
                    <a href="{{ url('projects') }}">Projects</a><br/>
                    <a href="{{ url('newsletters') }}">Newsletters</a><br/>
                </div>
            </div>
            <div class="clear"><br/><br/></div>
            <div class="copy">
                &copy; Copyright 2011-{{ "now"|date("Y") }} <span itemprop="name">{{ view.app.name }}</span> | Created by Tudor Corcimar
            </div>
        </div>
    </div>
</footer>