{% extends 'base' %}

{% block content %}
    <div class="veterans-banner">
        <div class="description">
            <h1 class="title">
                Our door is always open for YOU.
            </h1>
            <br/><br/>
            <div style='font-size: 22px;'>Our Veterans comes first and foremost.</div>
            
            <br/><br/>
            {% if not view.isAuth %}
                <a href="{{ url('/register') }}" class="text-center" style="text-decoration: none;">
                    <span class="button-donate">
                        FIND HELP
                    </span>
                </a>
            {% endif %}
            <div class="clear"></div>
        </div>
    </div>
    
    <div class="clear"></div>
    
    <div class="base-block">
        <div class="block without-menu" style="min-height: 0;">

            <div class="title">Our Veterans</div>
            <div class="images-block">
                {% set randUsersByType = view.utils.getRandomUsersByType(4, 8) %}
                {% for userByType in randUsersByType %}
                    {% set userPhoto = view.utils.userPhoto(userByType.user_id) %}
                    <div class="images-block">
                        <div class="view octuple">
                            <div class="image" style="background: url('{{ userPhoto ? asset('/images/users/'~userByType.user_id~'/photo.jpg') : asset('/assets/img/photo.jpg') }}') center center no-repeat; 
                                                      background-size: cover;">
                            </div>
                            {% set userData = view.utils.getUserById(userByType.user_id) %}
                            {{ userData.first_name }}
                            {{ userData.middle_name }}
                            {{ userData.last_name }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if not view.isAuth %}
                <div class="clear"><br/><br/><br/><br/><br/></div>
                <a href="{{ url('/register') }}">
                    <span class="button-donate pull-left">
                        JOIN OUR VETERANS
                    </span>
                </a>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div> 
    
    <div class="clear"></div>

{% endblock %}

{% block js %}

    <script type="text/javascript">
        var wh = $(window).height();
        $('.veterans-banner').css('min-height', (wh - 45) + 'px' );
    </script>

{% endblock %}

