{% extends "base" %}

{% block content  %}
    
    {% if session('status') %}
        {{ session('status') }}
    {% endif %}
        
    <div class="base-block">
        <div style="max-width: 300px; margin: 0 auto;">
            <h2 class="form-title">Recover password</h2>
            <form class="form" 
                  method="POST" 
                  action="{{ url('/password/email') }}">
                {% if errors.has() %}
                    <div class="note-message">
                        ! {{ errors.first() }}
                    </div>
                {% endif %}
                
                <input id="email" placeholder="Email ..." type="email" name="email" value="{{ old('email') }}">
                <br/>

                <button class="pull-right" type="submit">
                    Reset
                </button>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>

            </form>
        </div>
        <div class="clear"></div>
    </div>

{% endblock %}