{% extends "base" %}

{% block content  %}
    
    {% if session('status') %}
        {{ session('status') }}
    {% endif %}

    <form method="POST" action="{{ url('/password/reset') }}">

        <input type="hidden" name="token" value="{{ token }}">
        
        {% if errors.has('email') %}
            {{ errors.first('email') }}
        {% endif %}
        <label for="email">Email</label>
        <input id="email" type="email" name="email" value="{{ email ? email : old('email') }}">
        <br/>

        {% if errors.has('password') %}
            {{ errors.first('password') }}
        {% endif %}
        <label for="password">Password</label>
        <input id="password" type="password" name="password">
        <br/>

        {% if errors.has('password_confirmation') %}
            {{ errors.first('password_confirmation') }}
        {% endif %}
        <label for="password_confirmation">Confirm Password</label>
        <input id="password_confirmation" type="password" name="password_confirmation">
        <br/>

        <button type="submit">
            Save
        </button>
        <br/>

    </form>

{% endblock %}