{% extends 'base' %}

{% block content %}
    
    <div class="base-block">
        <div class="block without-menu">
            
            <div class="title" style="border: 0px;">Open positions</div>
            
            <table class="simple-list">
                {% for job in jobs %}
                    <tr>
                        <td>
                            <div class="job-title">
                                <a href="{{ url('volunteering/position')~'/'~job.id }}">
                                    {{ job.title }}
                                </a>
                            </div>
                            <div class="timce-code-block">
                                {{ job.details|striptags|slice(0, 500)|raw }}
                                {{ job.details|length > 499 ? '<br/> ...' : '' }}
                            </div>
                            <br/>
                            {% if view.utils.isVolunteer(view.user.id) %}
                                {% if view.utils.isApplied(view.user.id, job.id) %}
                                    <span class="applied">Applied !</div>
                                {% else %}
                                    <a href="{{ url('/volunteering/jobs/apply')~'/'~job.id }}">
                                        <button class="btn small apply">Apply</button>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                
            </table>
        </div>
                
        <div class="pagination hide-on-mobile hide-on-print">
            {% set displayingTotalPages = 11 %}
            {% set totalPages = ( jobs.total()/ jobs.perPage())|round(0, 'ceil') %}
            {% set displayingFirstPage =  jobs.currentPage() - 5 > 1 ?  jobs.currentPage() - 5 : 1 %}
            {% set displayingLastPage =  jobs.currentPage() + 5 < totalPages ?  jobs.currentPage() + 5 : totalPages %}
            {% if  jobs.currentPage() > 1 %}
                <a href="{{ url('volunteering') ~ '?page=' ~ ( jobs.currentPage() - 1) }}" class="page" itemprop="pagination">Prev</a>
            {% endif %}
            {% if displayingFirstPage != 1 %}
                <a href="{{ url('volunteering') ~ '?page=1' }}" class="page">1</a>
                ..
            {% endif %}
            {% for page in displayingFirstPage..displayingLastPage %}
                <a href="{{  url('volunteering') ~ '?page=' ~ page }}" 
                   class="page {{  jobs.currentPage() == page ? 'active' : '' }}"
                   itemprop="pagination">
                    {{ page }}
                </a>
            {% endfor %}
            {% if  jobs.currentPage() + 5 < totalPages and  jobs.currentPage() + 5 > 0 %}
                ..
                <a href="{{  url('volunteering') ~ '?page=' ~  jobs.lastPage() }}" 
                   class="page">
                    {{  jobs.lastPage() }}
                </a>
            {% endif %}
            {% if  jobs.currentPage() < totalPages %}
                <a href="{{  url('volunteering') ~ '?page=' ~ ( jobs.currentPage() + 1) }}" class="page" itemprop="pagination">Next</a>
            {% endif %}
        </div>
        
        <div class="clear"></div>
    </div> 
    
    <div class="clear"></div>
            
            
{% endblock %}

{% block js %}

    <script type="text/javascript">
        var wh = $(window).height();
        $('.volunteering-banner').height(wh - 45);
        
        $('.timce-code-block img').each(function() {
            if($(this).css('float') === 'left'){
                $(this).css('margin-left', '0');
            };
            if($(this).css('float') === 'right'){
                $(this).css('margin-right', '0');
            };
        });
        
        $('.timce-code-block img').remove();
        
    </script>

{% endblock %}

