{% extends 'base' %}

{% block content %}
    
    <div class="base-block">
        
        <div class="job-title">
            {{ job.title }}
        </div>
        <div class="timce-code-block">
            {{ job.details|raw }}
        </div>
        <div class="clear"></div>
        {% if view.utils.isVolunteer(view.user.id) %}
            {% if view.utils.isApplied(view.user.id, job.id) %}
                <span class="applied">Applied !</div>
            {% else %}
                <a href="{{ url('/volunteering/jobs/apply')~'/'~job.id }}">
                    <button class="btn small apply">Apply</button>
                </a>
            {% endif %}
        {% endif %}
        
        <div class="clear"></div>
    </div> 
    
    <div class="clear"></div>
            
            
{% endblock %}

{% block js %}

    <script type="text/javascript">
        var wh = $(window).height();
        $('.volunteering-banner').height(wh - 45);
        
        $('.timce-code-block img').each(function() {
            if($(this).css('float') === 'left'){
                $(this).css('margin-left', '0');
            };
            if($(this).css('float') === 'right'){
                $(this).css('margin-right', '0');
            };
        });
        
    </script>

{% endblock %}

