{% extends 'admin.base' %}

{% block content %}
    <h2 class="form-title">Add donation</h2>
    <form class="form simple white-back" 
          method="POST" 
          action="{{ url('admin/donors/create/donation') }}">
        
        <input type="hidden" name="user_id" value="{{ donating.user.id }}"/>
        
        <div class="triple left">
            <label>First name</label>
            <input readonly type="text" value="{{ donating.user.first_name }} {{ donating.user.middle_name }} {{ donating.user.last_name }}">
        </div>
        
        <div class="clear"></div>
        
        
        <div class="triple left">
            <label>Money amount ($)</label>
            <input type="text" name="money" value="">
        </div>
        
        <div class="clear">
            <label>Comment</label>
            <textarea type="text" name="comments" value=""></textarea>
        </div>
        
        <div class="clear"></div>
        
        <label>Other stuff</label>
        {% for stuff in view.donationsMap %}

            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input type="checkbox" 
                           class="user-types-chosen"
                           id="checkbox-{{ stuff }}"
                           name="stuff[]" 
                           value="{{ stuff }}"
                           autocomplete="off"> 
                    {{ stuff }}
                </label>
            </div>

        {% endfor %} 

        <div class="clear form-line"></div>   

        <br/>
        <button type="submit">
            Create donation
        </button>
        
        
    </form>
    
{% endblock %}