{% extends 'admin.base' %}

{% block content %}
    <table class="list">
        <tr class="sort">
            <td>
                Donor
            </td>
            <td >
                Comment
            </td>
            <td width="1">
                Money amount
            </td>
            <td width="1">
                Items donated
            </td>
            <td width="1">
                Date
            </td>
            <td width="1">
                Actions
            </td>
        </tr>
        {% for donation in donations %}
            <tr>
                <td>
                    {% set userInfo = view.utils.getUserById(donation.user_id) %}
                    {{ userInfo.first_name }} {{ userInfo.middle_name }} {{ userInfo.last_name }}
                </td>
                <td>
                    {{ donation.comments }}
                </td>
                <td>
                    {{ donation.money }}
                </td>
                <td>
                    {% for object in view.utils.jsonDecode(donation.stuff) %}
                        {% for type in view.donationsMap %}
                            {% if type == object %}
                                <span class="sign">{{ type }}</span>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </td>
                <td>
                    {{ donation.created_a|date('m.d.Y') }}
                </td>
                <td style="white-space: nowrap;">
                    <a href="{{ url('admin/donors/remove/donation/')~'/'~donation.id }}" 
                       class="glyphicon glyphicon-remove" title="Remove"></a>&nbsp;
                </td>
            </tr>
        {% endfor %}
        
    </table>
{% endblock %}