<!DOCTYPE html>
<html>
    <head>
        <title>Admin {{ view.app.name }}</title>
        <meta charset="UTF-8">
        <title itemprop="name" itemprop="brand">{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="http://www.iconj.com/ico/y/p/ypb83oncxp.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ view.app.description }}">
        <!--  JS   RESOURECES         -->
        <script type="text/javascript" src="{{ asset('components/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('components/chosen/chosen.jquery.js') }}"></script>
        <!--  CSS  RESOURECES         -->
        <link type="text/css" rel="stylesheet" href="{{ asset('components/bootstrap/dist/css/bootstrap.min.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('components/chosen/chosen.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('components/lightbox2/dist/css/lightbox.min.css') }}" />
        <!--  CASCADING STYLE SHEETS  -->
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/admin/css/styles.css') }}" />
        {% block components %}{% endblock %}
    </head>
    <body>
        {% if user.isAuth %}
            <div class="header hide-on-print">
                <div class="logo">Admin Tools</div>
                <a href="{{ asset('/admin/auth/signout') }}">
                    <button  style="right: 25px; top: 7px; position: absolute;">Sign Out</button>
                </a>
            </div>
            <img src="{{ asset('assets/img/vector/logo.svg') }}" class="content-logo hide-on-print">
            <ul class="nav hide-on-print">
                <li>
                    <a href="{{ url('admin/app') }}">&#9642; Application</a>
                    <ul>
                        <li>
                            <a class="{{ category == 'app' ? 'active' : '' }}"
                               href="{{ url('admin/app') }}">├ Settings</a>
                        </li>
                        <li>
                            <a class="{{ category == 'contacts' ? 'active' : '' }}"
                               href="{{ url('admin/contacts') }}">└ Contacts</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ url('admin/users') }}">&#9642; Users</a>
                    <ul>
                        <li>
                            <a class="{{ category == 'users' ? 'active' : '' }}"
                               href="{{ url('admin/users') }}">├ Search</a>
                        </li>
                        <li>
                            <a class="{{ category == 'createusers' ? 'active' : '' }}"
                               href="{{ url('admin/users/create') }}">{{ category == 'editusers' ? '├' : '└' }} Create user</a>
                        </li>
                        {% if category == 'editusers' %}
                            <li>
                                <a class="active"
                                   href="#">└ Edit user</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    <a href="{{ url('admin/donors') }}">&#9642; Donors</a>

                    <ul>
                        <li>
                            <a class="{{ category == 'donations' ? 'active' : '' }}"
                               href="{{ url('admin/donors') }}">{{ category == 'createdonation' ? '├' : '└' }} Donations</a>
                        </li>
                        {% if category == 'createdonation' %}
                            <li>
                                <a class="{{ category == 'createdonation' ? 'active' : '' }}"
                                   href="#">└ Add donation</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    <a href="{{ url('admin/jobs') }}">&#9642; Jobs</a>
                    <ul>
                        <li>
                            <a class="{{ category == 'jobs' ? 'active' : '' }}"
                               href="{{ url('admin/jobs') }}">├  Positions</a>
                        </li>
                        <li>
                            <a class="{{ category == 'addjob' ? 'active' : '' }}"
                               href="{{ url('admin/jobs/add') }}">├  Add position</a>
                        </li>
                        {% if category == 'jobedit' %}
                            <li>
                                <a class="active"
                                   href="#">├ Edit position</a>
                            </li>
                        {% endif %}
                        <li>
                            <a class="{{ category == 'jobapplies' ? 'active' : '' }}"
                               href="{{ url('admin/jobs/applies') }}">└  Applies</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ url('admin/newsletters') }}">&#9642; Newsletters</a>

                    <ul>
                        <li>
                            <a class="{{ category == 'newsletters' ? 'active' : '' }}"
                               href="{{ url('admin/newsletters') }}">├ Newsletters</a>
                        </li>
                        {% if category == 'editnewsletter' %}
                            <li>
                                <a class="active"
                                   href="#">├ Edit newsletter</a>
                            </li>
                        {% endif %}
                        <li>
                            <a class="{{ category == 'subscribers' ? 'active' : '' }}"
                               href="{{ url('admin/newsletters/subscribers') }}">├ Subscribers</a>
                        </li>
                        <li>
                            <a class="{{ category == 'createnewsletters' ? 'active' : '' }}"
                               href="{{ url('admin/newsletters/create') }}">└ Create newsletter</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ url('admin/events') }}">&#9642; Events</a>

                    <ul>
                        <li>
                            <a class="{{ category == 'eventsubscribers' ? 'active' : '' }}"
                               href="{{ url('admin/events') }}">├ Subscribers</a>
                        </li>
                    </ul>
                    <br/><br/><br/>
                    <br/><br/><br/>
                    <br/><br/><br/>
                </li>
            </ul>
        {% endif %}
        
        <div class="{{ user.isAuth ? 'content' : '' }}">
            {% block content %}{% endblock %}
        </div>
        
        <div class="waiting-block" style="z-index: 1900; position: fixed; background: white; left: 0; top: 0; width: 100%; height: 100%; display: none;">
            <div style="width: 100%; text-align: center; padding: 300px 0 0 0;">
                Please wait ( it could take a few minutes ) ...
            </div>
        </div>
        
        {% block js %}{% endblock %}
        
    </body>
</html>
