{% extends 'admin.base' %}

{% block content %}
    <b>Total subscribers:</b> {{ subscriberscount }}
    <table class="list">
        <tr class="sort">
            <td>
                Email
            </td>
            <td>
                Subscribed
            </td>
        </tr>
        {% for subscriber in subscribers %}
            <tr>
                <td style="vertical-align: top; font-weight: bold;">
                    {{ subscriber.email }}
                </td>
                <td>
                    <a class=" btn-simple {{ subscriber.subscribed ? 'green' : '' }}" href="{{ url('/admin/newsletters/subscribe/')~'/'~subscriber.id }}">
                        {{ subscriber.subscribed ? 'yes' : 'no' }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        
    </table>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
{% endblock %}