{% extends 'admin.base' %}

{% block content %}
    <table class="list">
        <tr class="sort">
            <td style="min-width: 300px;">
                Newsletter title
            </td>
            <td>
                Description
            </td>
            <td with="1">
                Actions
            </td>
        </tr>
        {% for newsletter in newsletters %}
            <tr>
                <td style="vertical-align: top; font-weight: bold;">
                    <a href="{{ url('admin/newsletters/edit/')~'/'~newsletter.id }}">
                        {{ newsletter.title }}
                    </a>
                </td>
                <td class="tinymce-details">
                    {{ newsletter.details|slice(0, 1000)|raw }} 
                    {{ newsletter.details|length > 999 ? '...' : '' }}
                </td>
                <td>
                    <a href="{{ url('admin/newsletters/edit/')~'/'~newsletter.id }}" 
                       class="glyphicon glyphicon-edit" title="Edit"></a>&nbsp;
                    <a href="{{ url('admin/newsletters/remove/')~'/'~newsletter.id }}" 
                       class="glyphicon glyphicon-remove" title="Remove"></a>&nbsp;
                       <br/>
                       <br/>
                    {% if not newsletter.sent %}
                        <a href="{{ url('admin/newsletters/send/')~'/'~newsletter.id }}" 
                           class="btn-simple init-display-block" title="Send">
                            Send
                        </a>
                    {% else %}
                        Sent!
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        
    </table>
    <br/>
    <a href="{{ url('admin/newsletters/create') }}">
        <button>Create newsletter</button>
    </a>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
{% endblock %}

{% block js %}
    
    <script type="text/javascript">
        $('.init-display-block').on('click', function(){
            $('.waiting-block').css('display', 'block');
        });
    </script>
{% endblock %}