{% extends 'admin.base' %}

{% block content %}
    <table class="list">
        <tr class="sort">
            <td>
                Volunteer
            </td>
            <td >
                Position title
            </td>
        </tr>
        {% for apply in applies %}
            
            <tr>
                <td style="vertical-align: top; font-weight: bold;">
                    <a href="{{ url('admin/users/edit/')~'/'~apply.user_id }}">
                        {% set user = view.utils.getUserById(apply.user_id) %}
                        {{ user.first_name }} {{ user.middle_name }} {{ user.last_name }}
                    </a>
                </td>
                <td>
                    <a href="{{ url('admin/jobs/edit/')~'/'~apply.job_id }}">
                        {{ apply.title }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        
    </table>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
{% endblock %}