{% extends 'admin.base' %}

{% block components %}
    <script type="text/javascript" src="{{ asset('components/tinymce/tinymce.min.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset('components/tinymce/skins/lightgrey/skin.min.css') }}" />
{% endblock %}

{% block content %}
    <h2 class="form-title">Add donation</h2>
    <form class="form simple white-back" 
          method="POST" 
          action="{{ url('admin/jobs/edit')~'/'~job.id }}">
        
        <label>Title</label>
        <input type="text" 
               name="title" 
               value="{{ job.title }}">
        
        <div class="clear">
            <label>Description</label>
            <textarea type="text" name="details" value="">{{ job.details }}</textarea>
        </div>

        <div class="clear form-line"></div>   

        <br/>
        <button type="submit">
            Update position
        </button>
        
        
    </form>
{% endblock %}

        
{% block js %}
    <script type="text/javascript">
        tinymce.init({
          selector: 'textarea',
          height: 300,
          menubar: false,
          plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code'
          ],
          toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
          content_css: '//www.tinymce.com/css/codepen.min.css'
        });
    </script>
{% endblock %}