{% extends 'admin.base' %}

{% block content %}
    <table class="list">
        <tr class="sort">
            <td style="min-width: 300px;">
                Position title
            </td>
            <td>
                Description
            </td>
            <td with="1">
                Actions
            </td>
        </tr>
        {% for job in jobs %}
            <tr>
                <td style="vertical-align: top; font-weight: bold;">
                    <a href="{{ url('admin/jobs/edit/')~'/'~job.id }}">
                        {{ job.title }}
                    </a>
                </td>
                <td class="tinymce-details">
                    {{ job.details|raw }}
                </td>
                <td>
                    <a href="{{ url('admin/jobs/edit/')~'/'~job.id }}" 
                       class="glyphicon glyphicon-edit" title="Edit"></a>&nbsp;
                    <a href="{{ url('admin/jobs/remove/')~'/'~job.id }}" 
                       class="glyphicon glyphicon-remove" title="Remove"></a>&nbsp;
                </td>
            </tr>
        {% endfor %}
        
    </table>
    <br/>
    <a href="{{ url('admin/jobs/add') }}">
        <button>Add new position</button>
    </a>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
{% endblock %}