
<div class="side-menu">
    <img class="side-menu-logo" src="{{ asset('assets/img/vector/logo.svg') }}"/>
    <a href="{{ url('/profile/settings') }}"
       class="{{ view.breadcrumbs[1] == 'settings' ? 'active' : '' }}">
        <span class="glyphicon glyphicon-cog"></span>
        Settings
    </a>
    <a href="{{ url('/profile/donations') }}"
       class="{{ view.breadcrumbs[1] == 'donations' ? 'active' : '' }}">
        <span class="glyphicon glyphicon-plus"></span>
        Donations
    </a>
    <a href="{{ url('/profile/volunteerings') }}"
       class="{{ view.breadcrumbs[1] == 'volunteerings' ? 'active' : '' }}">
        <span class="glyphicon glyphicon-star"></span>
        Volunteerings
    </a>
    <a href="{{ url('/profile/needs') }}"
       class="{{ view.breadcrumbs[1] == 'needs' ? 'active' : '' }}">
        <span class="glyphicon glyphicon-cutlery"></span>
        Needs
    </a>
    <a href="{{ url('/profile/uploads') }}"
       class="{{ view.breadcrumbs[1] == 'uploads' ? 'active' : '' }}">
        <span class="glyphicon glyphicon-file"></span>
        Uploads
    </a>
</div>