
{% for question in questions %}
    <label>
        <span>
            {{ view.utils.getQuestionId(question.id) }}.
        </span>
        {{ question.title }}
        &nbsp;
        {% if question.note %}
            <span class="note">({{ question.note }})</span>
        {% endif %}
    </label>
    
    {% if question.clauses %}
        {% if question.clauses[0].type == 'radio' %}
            <div class="form-radio-group"> 
                {% set isRadio = false %}
                {% for element in question.clauses %}
                    {% set value = needyData[question.id] ? needyData[question.id] : '' %}
                    {% if not isRadio %}
                        {% set isRadio = value == element.name %}
                    {% endif %}
                    {% if element.type == 'radio' %}
                        <div class="double left">
                            <label class="simple-checkbox">
                                <input type="radio"
                                       {{ value == element.name ? 'checked' : '' }}
                                       name="needy[{{ question.id }}]{{ question.multiple ? '[]' : '' }}" 
                                       value="{{ element.name }}"> 
                                {{ element.name }}
                            </label>
                            <br/>
                        </div>
                    {% elseif element.type == 'text' %}
                        <label class="simple-checkbox" style="min-width: 230px;">
                            <input type="radio"
                                    {{ value and not isRadio ? 'checked' : '' }}
                                    name="needy[{{ question.id }}]" 
                                    value="{{ element.name }}"> 
                            {{ element.name }}
                            <input type="text" 
                                   name="{{ value and not isRadio ? 'needy['~ question.id ~']' : '' }}" 
                                   value="{{ value and not isRadio ? value : '' }}"/>
                        </label>
                        <br/>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="clear"><br/><br/></div>
        {% elseif question.clauses[0].type == 'checkbox' %}
            <div class="btn-group simple-buttons" data-toggle="buttons">
                {% for element in question.clauses %}
                    {% set values = needyData[question.id] ? needyData[question.id] : '' %}
                    <label class="btn btn-primary {{ element.name in values ? 'active' : '' }}">
                        <input type="checkbox" 
                               {{ element.name in values ? 'checked' : '' }}
                               name="needy[{{ question.id }}][]" 
                               value="{{ element.name }}"
                               autocomplete="off"> 
                        {{ element.name }}
                    </label>
                {% endfor %}
            </div>
        {% elseif question.clauses[0].type == 'text' %}
            {% for element in question.clauses %}
                {% set value = needyData[question.id][loop.index0] ? needyData[question.id][loop.index0] : '' %}
                <label>{{ element.name }}</label>
                <div class="double left">
                    <input type="text" 
                           name="needy[{{ question.id }}][]" 
                           value="{{ value ? value : '' }}"/>
                    <br/>
                </div>
                <div class="clear"></div>
            {% endfor %}
        {% endif %}
    {% endif %}
    
    {% if question.multiple %}
        {% for i in 0..2 %}
            
            {% include 'components.forms.questions_template' 
                with {
                    'name': 'needy['~ question.id ~'][multiple]',
                    'inputs': needyData[question.id].multiple[i],
                    'questions': question.multiple,
                    'iterator': i
                }
            %}
        {% endfor %}
        <div class="clear"><br/></div>
    {% endif %}
    
    
{% endfor %}
