
<div class="multiple triple">
    {% for question in questions %}

        <label style="background: #efefef; text-align: center; padding: 8px;">
            {{ question.title }} {{ i+1 }}
        </label>

        <div style="background: #f8f8f8;  padding: 8px;">
            {% if question.clauses %}
                {% if question.clauses[0].type == 'radio' %}

                    <div class="form-radio-group"> 
                        {% set isRadio = false %}
                        {% for element in question.clauses %}
                            {% set value = inputs[question.id] ? inputs[question.id] : '' %}
                            {% if not isRadio %}
                                {% set isRadio = value == element.name %}
                            {% endif %}
                            {% if element.type == 'radio' %}
                                <label class="simple-checkbox">
                                    <input type="radio"
                                           {{ value == element.name ? 'checked' : '' }}
                                           name="{{name}}[{{iterator}}][{{ question.id }}]" 
                                           value="{{ element.name }}"> 
                                    {{ element.name }}
                                </label>
                                <br/>
                            {% elseif element.type == 'text' %}
                                <label class="simple-checkbox" style="min-width: 230px;">
                                    <input type="radio"
                                            {{ value and not isRadio ? 'checked' : '' }}
                                            name="{{name}}[{{iterator}}][{{ question.id }}]" 
                                            value="{{ element.name }}"> 
                                    {{ element.name }}
                                    <input type="text" 
                                           name="{{ value and not isRadio ? name~'['~iterator~']['~ question.id ~']' : '' }}" 
                                           value="{{ value and not isRadio ? value : '' }}"/>
                                </label>
                                <br/>
                            {% endif %}
                        {% endfor %}
                    </div>
                    
                    <div class="clear"><br/><br/></div>
                    
                {% elseif question.clauses[0].type == 'checkbox' %}
                    <div class="btn-group simple-buttons" data-toggle="buttons">
                        {% for element in question.clauses %}
                            {% set values = inputs[question.id] ? inputs[question.id] : '' %}
                            <label class="btn btn-primary {{ element.name in values ? 'active' : '' }}">
                                <input type="checkbox" 
                                       {{ element.name in values ? 'checked' : '' }}
                                       name="{{name}}[{{iterator}}][{{ question.id }}][]" 
                                       value="{{ element.name }}"
                                       autocomplete="off"> 
                                {{ element.name }}
                            </label>
                        {% endfor %}
                    </div>
                {% elseif question.clauses[0].type == 'text' %}
                    {% for element in question.clauses %}
                        {% set value = inputs[question.id][loop.index0] ? inputs[question.id][loop.index0] : '' %}
                        <div class="">
                            <label>{{ element.name }}</label>
                            <input type="text" 
                                   name="{{name}}[{{iterator}}][{{ question.id }}][]" 
                                   value="{{ value ? value : '' }}"/>
                            <br/>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="clear"></div>
            {% endif %}
        </div>

    {% endfor %}
</div>




