@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Oswald:300,400');
body, body *{
    line-height: 19px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background: #ffffff;
}
.login-form{
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
}
form{
    display: block;
    font-size: 14px;
    color: #333333;
    background: #f8f8f8;
}
form .field{
    padding: 15px 25px 0 25px;
}
form .field .label{
    font-size: 12px;
    font-weight: bold;
}
.form-title{
    padding: 15px 25px 15px 25px;
    font-size: 18px;
    font-weight: bold;
    background: #4175a7;
    color: #ffffff;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select,
textarea,
.chosen-container-single .chosen-single{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    display: block;
    height: 35px;
    padding: 10px 18px;
    border: 1px solid #aaaaaa;
}
textarea{
    min-height: 150px;
}
.label{
    color: #555555;
}
input[type="text"].error,
input[type="email"].error,
input[type="password"].error,
input[type="number"].error,
select.error,
textarea.error,
.chosen-container-single.error .chosen-single
{
    color: red;
    border: 1px solid red;
}
input[type="text"].changed,
input[type="email"].changed,
input[type="password"].changed,
input[type="number"].changed,
select.changed,
textarea.changed,
.chosen-container-single.changed .chosen-single
{
    color: #000000;
    border: 1px solid blue;
}

.header{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 100%;
    background: #337ab7;
    border-bottom: 1px solid #e1e1e1;
    position: fixed;
    height: 45px;
    left: 0;
    top: 0;
    z-index: 1000;
}
.header .logo{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 20px; 
    color: #ffffff;
    font-weight: bold;
    padding: 12px 25px;
}
button{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #777777;
    color: #ffffff;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid #ffffff;
}
button:hover{
    background: #555555;
    border: 1px solid #ffffff;
}
button.blue{
    background: #337ab7;
}
button.white{
    background: #ffffff;
    color: #337ab7;
    border: 1px solid #337ab7;
    padding: 0px 5px;
    cursor: pointer;
}
button.white:hover{
    background: #337ab7;
    color: #ffffff;
}
.content-logo{
    width: 150px;
    position: fixed;
    left: 25px;
    top: 70px;
    z-index: 2;
}
.nav{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #ffffff;
    position: relative;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    padding: 170px 0 0 0;
    width: 200px;
    border-right: 1px solid #cccccc;
    overflow-y: auto;
}
.nav li{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
}
.nav li a{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    background: #f8f8f8;
    color: #003e9b;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 0 10px 15px;
    font-weight: bold;
}
.nav > li:first-child > a:first-child{
    border-top: 1px solid #e1e1e1;
}
.nav li li a{
    background: #fcfcfc;
    padding: 8px 0px 8px 30px;
    font-weight: normal;
}
.nav li a.active,
.nav li a.active:hover{
    background: #555555;
    color: #ffffff;
}
.nav li a:hover{
    background: #e1e1e1;
    color: #000000;
}
.content{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 70px 25px 0 225px;
}
.list{
    width: 100%;
    border: 0px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.list tr td{
    padding: 7px 15px;
    border-top: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}
.list tr td:first-child{
    border-left: 1px solid #e1e1e1;
}
.list tr.sort td{
    background: #f8f8f8;
    font-weight: bold;
}
.list tr:hover td{
    background: #fafafa;
}
.sign{
    display: inline-block;
    border: 1px solid #e1e1e1;
    background: #ffffff;
    padding: 0 5px;
    margin-top: 5px;
    white-space: nowrap;
}
.list .glyphicon{
    color: #aaaaaa;
}
.list .glyphicon.green{
    color: #15921b;
}
.list .glyphicon.glyphicon-pencil{
    color: #1f4b9c;
}
.list .glyphicon.glyphicon-remove{
    color: #b31909;
}

.double{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
}
.double.left{
    float: left;
    padding: 0 15px 0 0;
}
.double.right{
    float: right;
    padding: 0 0 0 15px;
}
.triple, .qadruple, quintuple{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333333%;
    float: left;
    padding: 0 7px 0 7px;
}
.triple.left, .qadruple.left, quintuple.left{
    float: left;
    padding: 0 8px 0 0;
}
.triple.right, .qadruple.right, quintuple.right{
    float: left;
    padding: 0 0 0 8px;
}
.clear{
    clear: both;
    min-height: 10px;
}
.form.simple{
    padding: 25px;
}
.form.simple label{
    display: block;
}

.form.simple input[type="text"],
.form.simple input[type="email"],
.form.simple input[type="password"],
.form.simple input[type="number"],
.form.simple select,
.form.simple textarea,
.chosen-container-single .chosen-single{
    margin-bottom: 15px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #ffffff;
}
.chosen-container-single .chosen-single{
    padding: 7px 18px;
    margin: 0;
}
.chosen-container{
    margin-bottom: 15px;
}
.simple-checkbox{
    font-weight: normal;
}
.btn-group{
    margin-bottom: 15px;
}
.title{
    background: #4175a7;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 25px;
    font-weight: bold;
}
.collapsed{
    height: 0;
    overflow: hidden;
}














@media print{
    .header,
    .nav,
    .logo,
    .hide-on-print{
        display: none; 
    }
    
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    select,
    textarea,
    .chosen-container-single .chosen-single{
        border: 0px;
        background: #ffffff;
    }
    .btn-group>.btn.btn-primary{
        border: 1px solid #e1e1e1;
        color: #777777;
    }
    .btn-group>.btn.btn-primary.active{
        background: #005b8f;
        border: 1px solid #005b8f;
        color: #ffffff;
    }
    
    .content{
        padding: 0;
    }
    .double.left{
        padding-bottom: 5px;
    }
    .double.left br,
    .form-radio-group br{
        display: none;
    }
    .clear{
        height: 0;
    }
}
.tinymce-details img{
    margin: 0 15px 15px 15px;
}

.btn-simple{
    display: inline-block;
    font-size: 12px;
    padding: 2px 8px;
    border: 1px solid #cccccc;
    font-weight: bold;
}
.btn-simple.green{
    background: #3da71c;
    border: 0;
    color: #ffffff;
    font-weight: bold;
}