.menu-button{
    display: none;
}
nav .nav li a .glyphicon{
    padding-right: 10px;
}
.with-html-tags i{
    font-style: italic;
}
.with-html-tags strong{
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    body {
        width: 100%;
        padding: 0px;
        height: 0px;
    }
    body .hide-on-tablet{
        display: none;
    }
    .home-banner,
    .home-banner.animate{
        display: none;
    }
    .logo{
        position: static;
        margin-top: 55px;
        margin-bottom: 55px;
    }
    .cloud,
    .hends-back,
    .home-button,
    .rays,
    .heart,
    .hend{
        display: none;
    }
    .home-categories,
    .home-categories .categories-box,
    .home-categories .categories-box .category-block,
    .home-categories.animate,
    .home-categories.animate .categories-box,
    .home-categories.animate .categories-box .category-block{
        display: block;
        position: static;
        left: auto;
        top: auto;
        margin: 0;
        padding: 0;
        opacity: 1;
        height: auto;
        background: none;
        width: 100%;
    }
    
    .home-categories .categories-box,
    .home-categories.animate .categories-box{
        display: block;
        max-width: 100%;
        width: 100%;
    }
    
    .home-categories.animate .categories-box .category-block,
    .home-categories .categories-box .category-block{
        width: 33.333333%;
        float: left;
    }
    .home-categories.animate .categories-box .category-block.cb-1,
    .home-categories .categories-box .category-block.cb-1{
        padding: 0 0 0 55px;
    }
    .home-categories.animate .categories-box .category-block.cb-2,
    .home-categories .categories-box .category-block.cb-2{
        padding: 0 22px 0 22px;
    }
    .home-categories.animate .categories-box .category-block.cb-3,
    .home-categories .categories-box .category-block.cb-3{
        padding: 0 55px 0 0;
    }
    form.newsletters-home,
    form.newsletters-home.animate{
        display: block;
        opacity: 1;
        height: auto;
        position: relative;
        max-width: 400px;
        margin: 0 auto;
        left: auto;
        top: auto;
        float: none;
        clear: both;
        padding-top: 55px;
        padding-bottom: 55px;
    }
    form.newsletters-home input[type="email"]{
        position: static;
        width: 100%;
        float: none;
    }
    form.newsletters-home .field{
        clear: both;
        width: 100%;
        position: relative;
        padding-right: 180px;
    }
    form.newsletters-home h3{
        position: static;
        text-align: center;
        width: 100%;
        padding-bottom: 25px;
    }
    form.newsletters-home button{
        bottom: 0;
    }
    .logo a img{
        width: 200px;
        height: auto;
    }
    .logo a{
        padding: 0;
        margin: 0;
        display: block;
        position: static;
        height: auto;
        width: auto;
    }
    .logo{
        display: block;
        position: static;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 100px 0 0 0;
    }
    .donating-banner,
    .veterans-banner,
    .citizenship-banner,
    .volunteering-banner{
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 55px 0 0 0;
        background-position: left top;
        width: 100%;
        height: auto;
    }
    .citizenship-banner{
        background-position: right top;
    }
    .donating-banner .description,
    .veterans-banner .description,
    .citizenship-banner .description,
    .volunteering-banner .description{
        position: static;
        padding: 55px 25px;
        width: auto;
        float: none;
        clear: both;
    }
    .donating-banner .description .title,
    .veterans-banner .description .title,
    .citizenship-banner .description .title,
    .volunteering-banner .description .title{
        font-size: 24px;
    }
    .donating-banner .back-button,
    .veterans-banner .back-button,
    .citizenship-banner .back-button,
    .volunteering-banner .back-button{
        float: left;
        clear: both;
    }
    .donating-banner .description a,
    .veterans-banner .description a,
    .citizenship-banner .description a,
    .volunteering-banner .description a{
        float: none;
        clear: both;
    }
    .double, .triple, .qadruple, quintuple{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .double.right,
    .double.left{
        padding: 0;
        margin: 0;
    }
    .projects-banner{
        height: auto;
    }
    .projects-banner .description{
        position: static;
        font-size: 14px;
        padding: 55px 25px 0 25px;
    }
    .projects-banner .description .title{
        margin: 45px 0 0 0;
    }
    .projects-banner.banner-5{
        height: auto;
        background-position: left bottom;
    }
    .projects-banner .description,
    .projects-banner .description.left,
    .projects-banner .description.right,
    .projects-banner.banner-5 .description.left,
    .projects-banner.banner-5 .description.right{
        width: 100%;
        margin: 0;
        clear: both;
        float: none;
        padding-bottom: 255px;
    }
    .newsletters-block{
        background: none;
        padding: 0;
    }
    .newsletters-block .newsletters-back{
        padding: 100px 25px 0 25px;
    }
    .newsletters-block .newsletter .title{
        line-height: normal;
    }
    .triple.right, .qadruple.right, quintuple.right,
    .triple.left, .qadruple.left, quintuple.left{
        padding: 0;
    }
    .base-block.grey-back{
        width: 100%;
        background: none;
    }
    .mobile-form{
        max-width: 100%;
        overflow-x: hidden;
    }
    .form.white-back{
        padding-left: 0px;
        padding-right: 0px;
    }
    .common-newsletter-block{
        height: auto;
    }
    .common-newsletter-block .statistics{
        float: none;
        width: 100%;
        position: static;
    }
    .common-newsletter-block .statistics .title{
        padding-top: 25px;
        text-align: center;
    }
    .common-newsletter-block .statistics .st-option{
        width: 100%;
        float: none;
        clear: both;
    }
    .common-newsletter-block .statistics .st-option .st-count{
        text-align: right;
    }
    .common-newsletter-block .statistics .st-option .st-count{
        position: static;
    }
    .common-newsletter-block .last-news{
        position: static;
        border: 0;
        padding: 25px 0;
        width: 100%;
        float: none;
        height: auto;
        border-bottom: 1px solid #cccccc;
        border-top: 1px solid #cccccc;
        margin: 25px 0;
    }
    .common-newsletter-block form.form{
        position: static;
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    .common-newsletter-block form.form .small{
        position: static;
        margin: 0 auto;
    }
    .common-newsletter-block form.form h3{
        font-size: 18px;
        width: 100%;
        text-align: center;
    }
    .common-newsletter-block form.form h3 .icon-newsletters{
        display: none;
    }
    .footer{
        height: auto;
        text-align: center;
    }
    .footer .pull-left{
        width: 100%;
        text-align: center;
    }
    .footer .other-details{
        width: 100%;
        position: static;
        clear: both;
        text-align: center;
        padding: 35px 0;
    }
    .footer .footer-nav{
        position: static;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }
    .footer .footer-nav .footer-nav-block{
        float: none;
        position: static;
        width: 100%;
        padding: 25px 0 35px 0;
        margin: 0;
        text-align: center;
        max-width: 100%;
        font-size: 24px;
    }
    .footer .footer-nav .footer-nav-block .title{
        font-size: 28px;
    }
    .side-menu{
        display: none;
    }
    .base-block .block{
        padding: 0;
    }
}

@media screen and (max-width: 1090px) {
    .home-categories.animate .categories-box .category-block.cb-1,
    .home-categories .categories-box .category-block.cb-1,
    .home-categories.animate .categories-box .category-block.cb-2,
    .home-categories .categories-box .category-block.cb-2,
    .home-categories.animate .categories-box .category-block.cb-3,
    .home-categories .categories-box .category-block.cb-3{
        padding: 25px;
        width: 100%;
        height: auto;
        float: none;
        padding: 25px;
    }
    .home-categories .categories-box .category-block .details{
        clear: both;
        height: auto;
        margin-bottom: 25px;
    }
    .home-categories .categories-box .category-block .details a{
        position: static;
        margin: 25px auto;
    }
    header,
    .header{
        width: 100%;
        margin: 0;
        padding: 0;
        float: none;
        position: relative;
    }
    nav{
        position: fixed;
        width: 100%;
        height: 55px;
        padding-top: 55px;
        overflow: hidden;
        overflow-y: hidden;
    }
    nav.expanded{
        overflow-y: scroll;
        height: 100%;
    }
    nav ul.nav{
        width: 100%;
        padding: 0;
        position: static;
        float: none;
    }
    nav ul.nav li{
        display: block;
        width: 100%;
        position: static;
        border: 0px;
    }
    header .login-nav a,
    nav ul.nav li a{
        height: 55px;
        border-right: 0px;
        border-bottom: 1px solid #5488b9;
        padding: 16px 25px;
        font-size: 24px;
        float: none;
        width: 100%;
        margin: 0px;
        font-family: 'Oswald', sans-serif;
    }
    nav ul.nav li .glyphicon{
        display: none;
    }
    header .login-nav{
        position: static;
        margin: 0px;
    }
    header .login-nav a:first-child{
        margin: 0;
        border: 0;
        padding-left: 25px;
        border-bottom: 1px solid #5488b9;
    }
    .menu-button{
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        height: 55px;
        width: 100%;
        z-index: 1001;
        background: #4175a7;
        border-bottom: 0px solid #5488b9;
    }
    nav.expanded .menu-button{
        background: #384774;
    }
    .menu-button .glyphicon-menu-hamburger{
        font-size: 27px;
        color: #ffffff;
        margin: 15px 0 0 23px;
    }
    .base-block{
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding: 100px 35px;
    }
    nav .nav.profile li a{
        border-left: 0px;
    }
    nav .nav.profile ul{
        display: block;
        height: auto;
        position: static;
    }
}

@media screen and (max-width: 900px) {
    form.newsletters-home{
        width: 100%;
        padding: 55px 25px;
    }
    form.newsletters-home .field{
        padding-right: 0;
        margin-top: 25px;
    }
    form.newsletters-home button{
        position: static;
        margin: 0 auto;
    }
    form.newsletters-home input[type="email"]{
        margin-bottom: 25px;
    }
    form.newsletters-home h3{
        font-size: 20px;
    }
    .images-block .view.octuple,
    .images-block .view.quadruple{
        width: 25%;
    }
}

@media screen and (max-width: 750px) {
    .images-block .view.octuple,
    .images-block .view.quadruple{
        width: 50%;
    }
}

@media print
{    
    .newsletters-back{
        background: red;
    }
    .no-print, .no-print *{
        display: none !important;
    }
}


.images-block .view.with-description{
    text-overflow: initial;
    white-space: normal;
}
.images-block .view .descript{
    font-size: 12px;
    padding: 10px 0 0 0;
    border-top: 1px solid #cccccc;
    margin: 10px 0 0 0;
    height: 122px;
}