@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Oswald:300,400");
/* line 2, sass/_bootstrap.scss */
form .btn-group {
  margin: 0 0 15px 0;
}
/* line 4, sass/_bootstrap.scss */
form .btn-group > label.btn {
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border: 0px solid #000000;
  height: auto;
  padding: 8px 14px;
  margin-left: 4px;
  margin: 0px 0px 4px 4px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: normal;
  background: #ffffff;
  border: 1px solid #cccccc;
  color: #555555;
  position: static;
  float: left;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
}
/* line 24, sass/_bootstrap.scss */
form .btn-group > label.btn + .btn {
  margin: 0px 0px 4px 4px;
}
/* line 27, sass/_bootstrap.scss */
form .btn-group > label.btn.active {
  background: #5e9f09;
  color: #ffffff;
  border: 1px solid transparent;
}
/* line 31, sass/_bootstrap.scss */
form .btn-group > label.btn.active:hover, form .btn-group > label.btn.active:active {
  background: #5e9f09;
  color: #ffffff;
}
/* line 36, sass/_bootstrap.scss */
form .btn-group > label.btn:hover, form .btn-group > label.btn:focus, form .btn-group > label.btn:active {
  color: #5e9f09;
  border: 1px solid #5e9f09;
  background: #ffffff;
}
/* line 42, sass/_bootstrap.scss */
form .btn-group.simple-buttons {
  width: 100%;
}
/* line 44, sass/_bootstrap.scss */
form .btn-group.simple-buttons > label.btn {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-size: normal;
  color: #1e1e1e;
  padding: 5px 10px;
  margin: 0 10px 10px 0;
  text-transform: none;
  text-align: left;
}
/* line 53, sass/_bootstrap.scss */
form .btn-group.simple-buttons > label.btn.active {
  background: #4175a7;
  color: #ffffff;
  border: 1px solid #4175a7;
}
/* line 57, sass/_bootstrap.scss */
form .btn-group.simple-buttons > label.btn.active:hover, form .btn-group.simple-buttons > label.btn.active:active {
  background: #4175a7;
  color: #ffffff;
}
/* line 62, sass/_bootstrap.scss */
form .btn-group.simple-buttons > label.btn:hover, form .btn-group.simple-buttons > label.btn:focus, form .btn-group.simple-buttons > label.btn:active {
  border: 1px solid #85a8c8;
  color: #285278;
  background: #ffffff;
}

/* line 72, sass/_bootstrap.scss */
.btn.small {
  border: 1px solid #cccccc;
  background: #f8f8f8;
  color: #313131;
}

/* line 5, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, sass/_base.scss */
body {
  line-height: 19px;
  font-family: 'Open Sans', sans-serif;
}

/* line 10, sass/_base.scss */
.logo {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  left: 0;
  top: 90px;
  z-index: 90;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  height: 15%;
}
/* line 20, sass/_base.scss */
.logo a {
  color: #555555;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  height: 100%;
}
/* line 27, sass/_base.scss */
.logo a img {
  margin: 0 auto;
  height: 100%;
}
/* line 32, sass/_base.scss */
.logo:hover {
  color: #333333;
  text-decoration: none;
}
/* line 37, sass/_base.scss */
.logo .logo-contacts {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #777777;
  line-height: 28px;
  overflow: hidden;
  height: 0;
  width: 100%;
  padding: 25px 0 0 0;
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
  clear: both;
}
/* line 58, sass/_base.scss */
.logo .logo-contacts b {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
}
/* line 63, sass/_base.scss */
.logo .logo-contacts.animate {
  opacity: 1;
  height: 500px;
}
/* line 68, sass/_base.scss */
.logo label {
  cursor: pointer;
}

/* line 73, sass/_base.scss */
.clear {
  clear: both;
}

/* line 76, sass/_base.scss */
.social {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: fixed;
  right: 0;
  top: 30%;
  background: none;
  z-index: 35;
  width: 50px;
  padding: 5px 0 0 3px;
  border-radius: 4px 4px 4px 4px;
  border-radius: 0px 4px 4px 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  -webkit-border-radius: 0px 4px 4px 0px;
  border: 0px solid #000000;
}
/* line 90, sass/_base.scss */
.social.stop {
  top: -1000px;
}
/* line 93, sass/_base.scss */
.social li {
  display: block;
}
/* line 95, sass/_base.scss */
.social li a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: block;
  height: 42px;
  width: 43px;
  background: url("../img/vector/social.svg") no-repeat;
  background-size: 170px 170px;
  margin: 0 0 4px 0;
  opacity: .45;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 106, sass/_base.scss */
.social li a.google {
  background-position: -128px -43px;
}
/* line 110, sass/_base.scss */
.social li a.facebook {
  background-position: 1px 0px;
}
/* line 113, sass/_base.scss */
.social li a.twitter {
  background-position: -42px 0px;
}
/* line 116, sass/_base.scss */
.social li a.linkedin {
  background-position: -128px -86px;
}
/* line 119, sass/_base.scss */
.social li a:hover {
  opacity: 1;
}

/* line 125, sass/_base.scss */
.double {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
}
/* line 131, sass/_base.scss */
.double.left {
  float: left;
  padding: 0 15px 0 0;
}
/* line 135, sass/_base.scss */
.double.right {
  float: right;
  padding: 0 0 0 15px;
}

/* line 140, sass/_base.scss */
.triple, .qadruple, quintuple {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333333%;
  float: left;
  padding: 0 7px 0 7px;
}
/* line 148, sass/_base.scss */
.triple.left, .qadruple.left, quintuple.left {
  float: left;
  padding: 0 8px 0 0;
}
/* line 152, sass/_base.scss */
.triple.right, .qadruple.right, quintuple.right {
  float: right;
  padding: 0 0 0 8px;
}

/* line 157, sass/_base.scss */
.qadruple {
  width: 25%;
}

/* line 161, sass/_base.scss */
.base-block {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 100px;
  background: white;
  background: -moz-linear-gradient(top, white 0%, white 80%, #d1eff8 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(80%, white), color-stop(100%, #d1eff8));
  background: -webkit-linear-gradient(top, white 0%, white 80%, #d1eff8 100%);
  background: -o-linear-gradient(top, white 0%, white 80%, #d1eff8 100%);
  background: -ms-linear-gradient(top, white 0%, white 80%, #d1eff8 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 80%, #d1eff8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1eff8', GradientType=0 );
}
/* line 175, sass/_base.scss */
.base-block.grey-back {
  background: #f8f8f8;
}
/* line 178, sass/_base.scss */
.base-block .block {
  padding: 0 0 0 270px;
  min-height: 500px;
}
/* line 181, sass/_base.scss */
.base-block .block.without-menu {
  padding: 0;
}
/* line 184, sass/_base.scss */
.base-block .block .title {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid #cccccc;
  font-size: 28px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  padding: 0 0 25px 0;
}
/* line 192, sass/_base.scss */
.base-block .block p {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Open Sans', sans-serif;
  padding: 25px 0 0 0;
}
/* line 193, sass/_base.scss */
.base-block .block p b {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 16px;
}
/* line 204, sass/_base.scss */
.base-block .block form {
  padding: 25px 0 0 0;
  background: none;
  border: 0;
}

/* line 211, sass/_base.scss */
b {
  font-weight: bold;
}

/* line 214, sass/_base.scss */
.rating-desc {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  height: 0;
  width: 0;
  border: 0;
  padding: 0;
  margin: 0;
}

/* line 225, sass/_base.scss */
.button-donate,
a .button-donate {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Oswald', sans-serif;
  background: #f78000;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-shadow: 0px 0px 0px white;
}

/* line 241, sass/_base.scss */
.nowrap {
  white-space: nowrap;
}

/* line 244, sass/_base.scss */
.form-line {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 10px;
  margin: 0 0 25px 0;
  border-bottom: 1px solid #e1e1e1;
}

/* line 253, sass/_base.scss */
.collapsed,
.form .collapsed {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  height: 0;
}

/* line 264, sass/_base.scss */
.base-block .block .timce-code-block *,
.timce-code-block * {
  padding: 0;
  margin: 0;
}
/* line 268, sass/_base.scss */
.base-block .block .timce-code-block p,
.timce-code-block p {
  display: inline-block;
  width: auto;
  min-width: 0;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  float: none;
  margin: 0 0 15px 0px;
  display: block;
  unicode-bidi: embed;
  line-height: 21px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
/* line 287, sass/_base.scss */
.base-block .block .timce-code-block strong, .base-block .block .timce-code-block b,
.timce-code-block strong,
.timce-code-block b {
  font-weight: bold;
}
/* line 290, sass/_base.scss */
.base-block .block .timce-code-block i, .base-block .block .timce-code-block em,
.timce-code-block i,
.timce-code-block em {
  font-style: italic;
}
/* line 293, sass/_base.scss */
.base-block .block .timce-code-block img,
.timce-code-block img {
  margin: 0 15px 10px 15px;
  clear: none;
}
/* line 296, sass/_base.scss */
.base-block .block .timce-code-block img[style*="float:left"],
.timce-code-block img[style*="float:left"] {
  margin-left: 0px;
}
/* line 299, sass/_base.scss */
.base-block .block .timce-code-block img[style*="float:right"],
.timce-code-block img[style*="float:right"] {
  margin-right: 0px;
}

/* line 304, sass/_base.scss */
.applied {
  white-space: nowrap;
  font-weight: bold;
  color: #777777;
}

/* line 309, sass/_base.scss */
.btn.small.apply {
  border: 1px solid transparent;
  background: #4175a7;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

/* line 316, sass/_base.scss */
.pagination {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: block;
  padding: 55px 0;
  margin: 0 auto;
  text-align: center;
}
/* line 322, sass/_base.scss */
.pagination .page {
  display: inline-block;
  padding: 3px 5px;
  border: 1px solid #cccccc;
  background: #ffffff;
  color: #4175a7;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
/* line 330, sass/_base.scss */
.pagination .page:hover {
  background: #f8f8f8;
}
/* line 333, sass/_base.scss */
.pagination .page.active {
  border: 1px solid #4175a7;
  background: #4175a7;
  color: #ffffff;
}

/* line 341, sass/_base.scss */
.sign {
  display: inline-block;
  border: 1px solid #e1e1e1;
  background: #ffffff;
  padding: 0 5px;
  margin-top: 5px;
  white-space: nowrap;
}

/* line 1, sass/_header.scss */
header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  position: relative;
  padding: 45px 0 0 0;
}
/* line 5, sass/_header.scss */
header .login-nav {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 45px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 101;
  white-space: no-wrap;
}
/* line 16, sass/_header.scss */
header .login-nav a {
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  margin: 15px 8px 0 0;
  padding: 0px 8px 0 0;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}
/* line 29, sass/_header.scss */
header .login-nav a:first-child {
  border-right: 1px solid #ffffff;
}
/* line 32, sass/_header.scss */
header .login-nav a.forgot-password {
  position: absolute;
  right: 5px;
  bottom: -18px;
  color: #2192ad;
  border: 0;
  font-size: 12px;
  padding: 0;
  margin: 0;
}
/* line 42, sass/_header.scss */
header .login-nav a:hover {
  text-decoration: underline;
}

/* line 1, sass/_footer.scss */
.footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 45px 0 0 0;
  text-align: left;
  font-size: 18px;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  background: #4175a7;
  font-weight: 300;
  position: relative;
  border-top: 1px solid #ffffff;
  color: rgba(255, 255, 255, 0.9);
}
/* line 13, sass/_footer.scss */
.footer .footer-logo {
  display: inline;
  width: 200px;
  margin: 0 0 0 25px;
}
/* line 18, sass/_footer.scss */
.footer .phone {
  font-size: 34px;
  color: #ffffff;
}
/* line 22, sass/_footer.scss */
.footer a {
  color: #ffffff;
}
/* line 25, sass/_footer.scss */
.footer .copy {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #214b74;
  text-align: left;
  padding: 5px;
  font-size: 12px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.4);
}
/* line 34, sass/_footer.scss */
.footer .other-details {
  position: absolute;
  width: 250px;
  right: 25px;
  top: 45px;
  text-align: right;
  z-index: 1;
}
/* line 42, sass/_footer.scss */
.footer .footer-nav {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 70%;
  z-index: 10;
  left: 50%;
  margin: 0 0 0 -30%;
  top: 45px;
}
/* line 53, sass/_footer.scss */
.footer .footer-nav .footer-nav-block {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 28.57143%;
  float: left;
  margin-right: 7.14286%;
  padding: 0 35px;
  margin: 0;
  max-width: 310px;
  text-align: center;
}
/* line 59, sass/_footer.scss */
.footer .footer-nav .footer-nav-block .title {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 0 0 15px 0;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #ffffff;
}
/* line 68, sass/_footer.scss */
.footer .footer-nav .footer-nav-block a {
  display: inline-block;
  padding: 8px;
}

/* line 2, sass/_nav.scss */
nav {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  height: 45px;
  background: #4175a7;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
/* line 10, sass/_nav.scss */
nav .nav {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  list-style: none;
  height: 45px;
  font-family: 'Oswald', sans-serif;
}
/* line 21, sass/_nav.scss */
nav .nav li {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  float: left;
}
/* line 29, sass/_nav.scss */
nav .nav li a {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100px;
  height: 45px;
  width: 100%;
  border-right: 1px solid #ffffff;
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
  padding: 12px 17px 0 17px;
  white-space: nowrap;
  cursor: pointer;
}
/* line 45, sass/_nav.scss */
nav .nav li a.active {
  background: #f78000;
}
/* line 47, sass/_nav.scss */
nav .nav li a.active:hover {
  background: #f78000;
}
/* line 51, sass/_nav.scss */
nav .nav li a:hover, nav .nav li a:focus, nav .nav li a:active {
  background: #384774;
}
/* line 54, sass/_nav.scss */
nav .nav li a .glyphicon {
  font-size: 15px;
}
/* line 59, sass/_nav.scss */
nav .nav.profile {
  z-index: 2;
  left: auto;
  right: 0;
}
/* line 63, sass/_nav.scss */
nav .nav.profile li {
  float: right;
}
/* line 65, sass/_nav.scss */
nav .nav.profile li a {
  border: 0;
  padding-right: 25px;
  padding-left: 25px;
  border-left: 1px solid #ffffff;
}
/* line 70, sass/_nav.scss */
nav .nav.profile li a .glyphicon {
  margin: 0 0 0 25px;
}
/* line 75, sass/_nav.scss */
nav .nav.profile li:hover ul {
  height: auto;
}
/* line 80, sass/_nav.scss */
nav .nav.profile ul {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #f8f8f8;
  position: absolute;
  overflow: hidden;
  height: 0;
  right: 0;
  top: 45px;
  border-left: 1px solid #cccccc;
}
/* line 92, sass/_nav.scss */
nav .nav.profile ul li {
  width: 100%;
}
/* line 94, sass/_nav.scss */
nav .nav.profile ul li a {
  float: none;
  text-align: right;
  clear: both;
  border: 0;
  border-bottom: 1px solid #cccccc;
  background: #ffffff;
  color: #4175a7;
}
/* line 102, sass/_nav.scss */
nav .nav.profile ul li a:hover, nav .nav.profile ul li a.active, nav .nav.profile ul li a:focus, nav .nav.profile ul li a:active {
  color: #333333;
  background: #f8f8f8;
}

/* line 1, sass/_home.scss */
.home-banner {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: block;
  height: 500px;
  position: relative;
  top: 0px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9) 7%, rgba(212, 226, 250, 0.9) 39%, #82acf0 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(7%, rgba(255, 255, 255, 0.9)), color-stop(39%, rgba(212, 226, 250, 0.9)), color-stop(100%, #82acf0));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 7%, rgba(212, 226, 250, 0.9) 39%, #82acf0 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.9) 7%, rgba(212, 226, 250, 0.9) 39%, #82acf0 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.9) 7%, rgba(212, 226, 250, 0.9) 39%, #82acf0 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 7%, rgba(212, 226, 250, 0.9) 39%, #82acf0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#82acf0', GradientType=0 );
  z-index: 50;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 19, sass/_home.scss */
.home-banner * {
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 23, sass/_home.scss */
.home-banner .home-button {
  opacity: 1;
}
/* line 25, sass/_home.scss */
.home-banner .home-button.next {
  right: 4%;
}
/* line 26, sass/_home.scss */
.home-banner .home-button.back {
  left: 4%;
}
/* line 28, sass/_home.scss */
.home-banner .cloud {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 39.87976%;
  float: left;
  margin-right: 0.2004%;
  position: absolute;
  z-index: 9;
  margin: 0;
}
/* line 33, sass/_home.scss */
.home-banner .cloud.left {
  right: 61%;
  bottom: -9px;
}
/* line 37, sass/_home.scss */
.home-banner .cloud.right {
  left: 61%;
  bottom: -9px;
}
/* line 42, sass/_home.scss */
.home-banner .hends {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  bottom: -20px;
  left: 0;
  height: 30%;
}
/* line 48, sass/_home.scss */
.home-banner .hends .hend {
  height: 100%;
  position: absolute;
  z-index: 2;
  margin: 0;
  opacity: 1;
}
/* line 54, sass/_home.scss */
.home-banner .hends .hend.left {
  right: 51%;
}
/* line 57, sass/_home.scss */
.home-banner .hends .hend.right {
  left: 51%;
}
/* line 62, sass/_home.scss */
.home-banner .hends-back {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  left: 0;
  bottom: -5px;
  z-index: 1;
  height: 170%;
  margin: 0 0 0 0;
}
/* line 71, sass/_home.scss */
.home-banner .heart {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 61%;
  z-index: 4;
}
/* line 78, sass/_home.scss */
.home-banner .heart img {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  opacity: 1;
}
/* line 88, sass/_home.scss */
.home-banner .text {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 15%;
  color: #333333;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 55px;
  z-index: 8;
  line-height: 19px;
}
/* line 101, sass/_home.scss */
.home-banner .text b {
  color: #33679a;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 700;
  padding-bottom: 8px;
}
/* line 110, sass/_home.scss */
.home-banner .text.left {
  right: 71%;
}
/* line 112, sass/_home.scss */
.home-banner .text.left .bottom {
  position: absolute;
  width: 100%;
  right: -100px;
  top: 200px;
}
/* line 119, sass/_home.scss */
.home-banner .text.right {
  left: 71%;
}
/* line 121, sass/_home.scss */
.home-banner .text.right .bottom {
  position: absolute;
  width: 100%;
  left: -100px;
  top: 200px;
}
/* line 129, sass/_home.scss */
.home-banner .rays {
  position: absolute;
  height: 100%;
  width: 140%;
  top: 0;
  left: -20%;
  overflow: hidden;
}
/* line 136, sass/_home.scss */
.home-banner .rays img {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  width: 100%;
  height: 140%;
  position: absolute;
  left: 0%;
  opacity: .20;
  bottom: 0%;
}

/* line 148, sass/_home.scss */
form.newsletters-home {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  height: 200px;
  width: 700px;
  left: 50%;
  margin: 0 0 0 -350px;
  top: 535px;
  background: none;
  overflow: hidden;
  opacity: 1;
  border: 0;
  z-index: 20;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -moz-transition-duration: 1.2s;
  -o-transition-duration: 1.2s;
  -webkit-transition-duration: 1.2s;
  transition-duration: 1.2s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  display: block;
}
/* line 166, sass/_home.scss */
form.newsletters-home input[type="email"] {
  position: absolute;
  width: 520px;
  left: 15px;
  bottom: 0;
  margin: 0px;
}
/* line 173, sass/_home.scss */
form.newsletters-home button {
  position: absolute;
  width: 140px;
  right: 15px;
  bottom: 0;
  background: #f78000;
  border: 1px solid #f78000;
}
/* line 180, sass/_home.scss */
form.newsletters-home button:hover {
  background: #f78000;
  border: 1px solid #f78000;
}
/* line 185, sass/_home.scss */
form.newsletters-home h3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  left: 0;
  bottom: 70px;
  font-weight: 400;
  color: #333333;
  font-size: 26px;
  text-align: center;
}

/* line 196, sass/_home.scss */
.about-us {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  height: 530px;
  margin: 200px 0 0 0;
  padding: 11% 20% 0 20%;
  -moz-transition-duration: 0.05s;
  -o-transition-duration: 0.05s;
  -webkit-transition-duration: 0.05s;
  transition-duration: 0.05s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  font-family: 'Open Sans', sans-serif;
  line-height: 25px;
  background: #82acf0;
  background: -moz-linear-gradient(top, #82acf0 0%, rgba(189, 211, 247, 0.9) 44%, rgba(255, 255, 255, 0.9) 93%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #82acf0), color-stop(44%, rgba(189, 211, 247, 0.9)), color-stop(93%, rgba(255, 255, 255, 0.9)));
  background: -webkit-linear-gradient(top, #82acf0 0%, rgba(189, 211, 247, 0.9) 44%, rgba(255, 255, 255, 0.9) 93%);
  background: -o-linear-gradient(top, #82acf0 0%, rgba(189, 211, 247, 0.9) 44%, rgba(255, 255, 255, 0.9) 93%);
  background: -ms-linear-gradient(top, #82acf0 0%, rgba(189, 211, 247, 0.9) 44%, rgba(255, 255, 255, 0.9) 93%);
  background: linear-gradient(to bottom, #82acf0 0%, rgba(189, 211, 247, 0.9) 44%, rgba(255, 255, 255, 0.9) 93%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82acf0', endColorstr='#ffffff', GradientType=0 );
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  border-top: 45px solid #ffffff;
  overflow: hidden;
}
/* line 218, sass/_home.scss */
.about-us * {
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 222, sass/_home.scss */
.about-us .text {
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  opacity: 1;
  position: relative;
  top: 0;
  z-index: 5;
}
/* line 230, sass/_home.scss */
.about-us .light-circles {
  position: absolute;
  right: 54%;
  top: 40px;
}
/* line 235, sass/_home.scss */
.about-us b {
  font-size: 14px;
  font-weight: bold;
}
/* line 239, sass/_home.scss */
.about-us .hends-back {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 69.93988%;
  float: left;
  margin-right: 0.2004%;
  position: absolute;
  left: 50%;
  bottom: 0px;
  z-index: 1;
  margin: 0 0 0 -35%;
}
/* line 247, sass/_home.scss */
.about-us .cloud {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 44.88978%;
  float: left;
  margin-right: 0.2004%;
  position: absolute;
  z-index: 3;
  margin: 0;
}
/* line 252, sass/_home.scss */
.about-us .cloud.left {
  right: 55%;
  top: -9px;
}
/* line 256, sass/_home.scss */
.about-us .cloud.right {
  left: 55%;
  top: -9px;
}

/* line 262, sass/_home.scss */
.home-categories {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  height: 600px;
  z-index: 1;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 269, sass/_home.scss */
.home-categories .categories-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  left: 50%;
  opacity: 1;
  overflow: hidden;
  z-index: 91;
  margin: 55px 0 0 -450px;
  top: 10px;
  text-align: center;
  max-width: 900px;
  text-align: center;
}
/* line 281, sass/_home.scss */
.home-categories .categories-box .category-block {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 33.333333333%;
  height: 100%;
  padding: 15px;
  text-align: left;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid transparent;
  float: left;
  font-family: 'Open Sans', sans-serif;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 299, sass/_home.scss */
.home-categories .categories-box .category-block:hover {
  background: rgba(255, 255, 255, 0.3);
}
/* line 301, sass/_home.scss */
.home-categories .categories-box .category-block:hover .details {
  border-bottom: 7px solid #f78000;
}
/* line 305, sass/_home.scss */
.home-categories .categories-box .category-block .title {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #f78000;
  padding: 11px;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
}
/* line 313, sass/_home.scss */
.home-categories .categories-box .category-block .details {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #f8f8f8;
  padding: 11px;
  font-size: 14px;
  line-height: 19px;
  height: 280px;
  position: relative;
  border-bottom: 7px solid #cccccc;
  color: #333333;
}
/* line 323, sass/_home.scss */
.home-categories .categories-box .category-block .details a {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 15px;
  background: #1b728a;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 20px;
  margin-left: -50px;
  width: 100px;
}
/* line 339, sass/_home.scss */
.home-categories .categories-box .category-block .details a:hover {
  background: #4299b1;
}

/* line 349, sass/_home.scss */
.home-button {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  height: auto;
  width: 170px;
  bottom: 5%;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #2192ad;
  background: #ffffff;
  font-weight: 400;
  color: #2192ad;
  padding: 14px 0;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 369, sass/_home.scss */
.home-button.next {
  right: -24%;
}
/* line 370, sass/_home.scss */
.home-button.back {
  left: -24%;
}
/* line 371, sass/_home.scss */
.home-button:hover {
  border: 1px solid #054d5e;
  color: #054d5e;
}

/* line 1, sass/_forms.scss */
.form {
  width: 100%;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  background: #f8f8f8;
  padding: 20px;
  margin: 0 auto;
  text-align: left;
  line-height: 19px;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 7px solid #cccccc;
  font-size: 14;
}
/* line 16, sass/_forms.scss */
.form.white-back {
  background: #ffffff;
}
/* line 19, sass/_forms.scss */
.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="number"],
.form select,
.form textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: block;
  height: 45px;
  padding: 10px 18px;
  border: 1px solid #aaaaaa;
  color: #333333;
  margin-bottom: 15px;
  font-weight: 300;
  /* Webkit */
  /* Firefox 4-18 */
  /* Firefox 19+ */
  /* IE10+ */
}
/* line 33, sass/_forms.scss */
.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form input[type="password"]:focus,
.form input[type="number"]:focus,
.form select:focus,
.form textarea:focus {
  outline: none;
  border: 1px solid #777777;
}
/* line 37, sass/_forms.scss */
.form input[type="text"].error,
.form input[type="email"].error,
.form input[type="password"].error,
.form input[type="number"].error,
.form select.error,
.form textarea.error {
  border: 1px solid #e77c5b;
  background: #ffede8;
}
/* line 41, sass/_forms.scss */
.form input[type="text"].changed,
.form input[type="email"].changed,
.form input[type="password"].changed,
.form input[type="number"].changed,
.form select.changed,
.form textarea.changed {
  background: #ffffff;
  border: 1px solid #9fbdd8;
}
/* line 46, sass/_forms.scss */
.form input[type="text"]::-webkit-input-placeholder,
.form input[type="email"]::-webkit-input-placeholder,
.form input[type="password"]::-webkit-input-placeholder,
.form input[type="number"]::-webkit-input-placeholder,
.form select::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
  color: #777777;
}
/* line 48, sass/_forms.scss */
.form input[type="text"]:-moz-placeholder,
.form input[type="email"]:-moz-placeholder,
.form input[type="password"]:-moz-placeholder,
.form input[type="number"]:-moz-placeholder,
.form select:-moz-placeholder,
.form textarea:-moz-placeholder {
  color: #777777;
}
/* line 50, sass/_forms.scss */
.form input[type="text"]::-moz-placeholder,
.form input[type="email"]::-moz-placeholder,
.form input[type="password"]::-moz-placeholder,
.form input[type="number"]::-moz-placeholder,
.form select::-moz-placeholder,
.form textarea::-moz-placeholder {
  color: #777777;
}
/* line 52, sass/_forms.scss */
.form input[type="text"]:-ms-input-placeholder,
.form input[type="email"]:-ms-input-placeholder,
.form input[type="password"]:-ms-input-placeholder,
.form input[type="number"]:-ms-input-placeholder,
.form select:-ms-input-placeholder,
.form textarea:-ms-input-placeholder {
  color: #777777;
}
/* line 54, sass/_forms.scss */
.form textarea {
  height: auto;
  min-height: 150px;
}
/* line 58, sass/_forms.scss */
.form label {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 8px 0;
  color: #333333;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}
/* line 67, sass/_forms.scss */
.form label .note {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #555555;
}
/* line 73, sass/_forms.scss */
.form button {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #2192ad;
  color: #ffffff;
  font-weight: normal;
  height: 45px;
  padding: 0 25px;
  border: 1px solid #2192ad;
}
/* line 84, sass/_forms.scss */
.form button:hover {
  background: #2192ad;
}
/* line 87, sass/_forms.scss */
.form button:focus {
  outline: none;
}
/* line 91, sass/_forms.scss */
.form a {
  font-size: 14px;
  color: #2192ad;
  font-weight: 300;
  text-align: left;
  line-height: 18px;
}
/* line 97, sass/_forms.scss */
.form a:hover {
  text-decoration: underline;
}
/* line 101, sass/_forms.scss */
.form .form-checkbox {
  font-weight: 300;
}
/* line 104, sass/_forms.scss */
.form .simple-checkbox {
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #1e1e1e;
  padding: 4px 8px 4px 8px;
  border: 1px solid transparent;
  margin: 0;
  text-transform: none;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  cursor: pointer;
}
/* line 120, sass/_forms.scss */
.form .simple-checkbox:hover {
  border: 1px solid #e1e1e1;
  background: #ffffff;
}

/* line 126, sass/_forms.scss */
.chosen-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: block;
  background: #ffffff;
  height: 45px;
  padding: 10px 18px;
  margin: 0;
  border: 1px solid #aaaaaa;
  color: #333333;
  margin-bottom: 15px;
  font-weight: 300;
  text-align: left;
  line-height: 19px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14;
}
/* line 141, sass/_forms.scss */
.chosen-container:focus {
  outline: none;
  border: 1px solid #777777;
}
/* line 145, sass/_forms.scss */
.chosen-container.error {
  border: 1px solid #e77c5b;
  background: #ffede8;
}
/* line 149, sass/_forms.scss */
.chosen-container.changed {
  background: #ffffff;
  border: 1px solid #9fbdd8;
}
/* line 153, sass/_forms.scss */
.chosen-container.chosen-container-single .chosen-single, .chosen-container.chosen-container-single a,
.chosen-container .chosen-single {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  background: none;
  border: 0px;
  padding: 0;
  margin: 0;
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border: 0px solid #000000;
  text-decoration: none;
}
/* line 172, sass/_forms.scss */
.chosen-container.chosen-container-single .chosen-search {
  padding: 0;
  margin: 0;
}
/* line 175, sass/_forms.scss */
.chosen-container.chosen-container-single .chosen-search input {
  border: 0px;
  padding: 10px 18px;
  border-bottom: 1px solid #cccccc;
  background: white;
}
/* line 182, sass/_forms.scss */
.chosen-container .chosen-single div, .chosen-container.chosen-with-drop .chosen-single div {
  right: -10px;
}
/* line 186, sass/_forms.scss */
.chosen-container.chosen-container-single .chosen-drop {
  margin: 1px 0 0 0;
}
/* line 189, sass/_forms.scss */
.chosen-container .chosen-results {
  padding: 0;
  margin: 0;
  clear: both;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-size: 14px;
  color: #333333;
}
/* line 198, sass/_forms.scss */
.chosen-container .chosen-results .active-result {
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  padding: 10px 18px;
}
/* line 202, sass/_forms.scss */
.chosen-container .chosen-results .active-result.highlighted {
  background: #f8f8f8;
  color: #333333;
  padding: 10px 0px 10px 22px;
  font-weight: bold;
}

/* line 211, sass/_forms.scss */
.note-message,
.success-message {
  display: block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  border: 1px solid #f0d498;
  background: #fff5e0;
  color: #7c5604;
  margin-bottom: 10px;
  clear: both;
  font-family: 'Open Sans', sans-serif;
}

/* line 225, sass/_forms.scss */
.success-message {
  border: 1px solid #5e9f09;
  background: #ecf9db;
  color: #3a5318;
}

/* line 230, sass/_forms.scss */
.form-details {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 19px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}
/* line 239, sass/_forms.scss */
.form-details b {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 16px;
}

/* line 245, sass/_forms.scss */
.form-title {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  background: #f78000;
  color: #ffffff;
  padding: 15px 20px;
}

/* line 256, sass/_forms.scss */
button.btn {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
/* line 261, sass/_forms.scss */
button.btn.orange {
  background: #f78000;
  color: #ffffff;
}

/* line 1, sass/_newsletters.scss */
.common-newsletter-block {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 180px;
  background: #efefef;
  position: relative;
  overflow: hidden;
  border-top: 1px solid #ffffff;
  padding: 24px;
}
/* line 9, sass/_newsletters.scss */
.common-newsletter-block .statistics {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 250px;
}
/* line 12, sass/_newsletters.scss */
.common-newsletter-block .statistics .title {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  padding: 0 0 25px 0;
  color: #333333;
}
/* line 18, sass/_newsletters.scss */
.common-newsletter-block .statistics .title b {
  color: #4175a7;
}
/* line 22, sass/_newsletters.scss */
.common-newsletter-block .statistics .st-option {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 64.92986%;
  float: left;
  margin-right: 0.2004%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 0 0 2px 0;
}
/* line 27, sass/_newsletters.scss */
.common-newsletter-block .statistics .st-option * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 34.86974%;
  float: left;
  margin-right: 0.2004%;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: left;
}
/* line 34, sass/_newsletters.scss */
.common-newsletter-block .statistics .st-option .st-name {
  font-weight: 700;
  float: left;
}
/* line 38, sass/_newsletters.scss */
.common-newsletter-block .statistics .st-option .st-count {
  float: right;
}
/* line 43, sass/_newsletters.scss */
.common-newsletter-block .last-news {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 40%;
  position: absolute;
  left: 275px;
  top: 25px;
  padding: 8px 25px 0 25px;
  border-left: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
  height: 130px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  overflow: hidden;
  line-height: 18px;
  z-index: 5;
}
/* line 58, sass/_newsletters.scss */
.common-newsletter-block .last-news .last-news-title {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 0 0 8px 0;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
/* line 65, sass/_newsletters.scss */
.common-newsletter-block form.form {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 60%;
  padding: 15px 185px 0 300px;
  position: absolute;
  left: 40%;
  z-index: 4;
  background: none;
  border: none;
}
/* line 76, sass/_newsletters.scss */
.common-newsletter-block form.form h3 {
  font-size: 22px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 0 0 15px 0;
}
/* line 80, sass/_newsletters.scss */
.common-newsletter-block form.form h3 .icon-newsletters {
  display: inline-block;
  width: 22px;
  margin: 0 0 -1px 0;
}
/* line 86, sass/_newsletters.scss */
.common-newsletter-block form.form .small {
  position: absolute;
  right: 25px;
  bottom: 15px;
  width: 150px;
  font-size: 18px;
}

/* line 97, sass/_newsletters.scss */
.newsletters-block {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #f8f8f8;
  padding: 0 25px 0 25px;
}
/* line 101, sass/_newsletters.scss */
.newsletters-block .newsletters-back {
  max-width: 1200px;
  background: #ffffff;
  padding: 55px 35px 0 35px;
  margin: 0 auto;
}
/* line 107, sass/_newsletters.scss */
.newsletters-block .newsletter {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: block;
}
/* line 110, sass/_newsletters.scss */
.newsletters-block .newsletter .title {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: block;
  padding: 0 0 15px 0;
  font-size: 24px;
  font-weight: normal;
  color: #174979;
  font-family: 'Oswald', sans-serif;
  border-bottom: 1px solid #cccccc;
  position: relative;
  clear: both;
}
/* line 121, sass/_newsletters.scss */
.newsletters-block .newsletter .title .date {
  display: block;
  position: absolute;
  background: #ffffff;
  padding: 5px 10px;
  font-size: 14px;
  color: #555555;
  right: 15px;
  bottom: -12px;
  margin: 0;
  line-height: 19px;
  font-family: 'Open Sans', sans-serif;
}
/* line 135, sass/_newsletters.scss */
.newsletters-block .newsletter .details {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: block;
  color: #555555;
  font-size: 14px;
  margin: 0;
  line-height: 19px;
  font-family: 'Open Sans', sans-serif;
  padding: 23px 0px 0 0;
  float: left;
}
/* line 147, sass/_newsletters.scss */
.newsletters-block .newsletter .images {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 19.83968%;
  float: left;
  margin-right: 0.2004%;
  display: block;
  float: right;
  margin: 0;
  padding: 25px 0 0 0;
}
/* line 153, sass/_newsletters.scss */
.newsletters-block .newsletter .images .image {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: block;
  padding: 0 0 5px 0;
}
/* line 157, sass/_newsletters.scss */
.newsletters-block .newsletter .images .image img {
  width: 100%;
}

/* line 1, sass/_sidemenu.scss */
.side-menu {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 250px;
  position: fixed;
  left: 45px;
  top: 100px;
  z-index: 10;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 14, sass/_sidemenu.scss */
.side-menu.stop {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  top: -1000px;
}
/* line 19, sass/_sidemenu.scss */
.side-menu .side-menu-logo {
  width: 90%;
  margin: 0 0 25px 0;
}
/* line 23, sass/_sidemenu.scss */
.side-menu a {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 14px 0 14px 10px;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Oswald', sans-serif;
  border-bottom: 1px solid #cccccc;
  text-decoration: none;
  color: #555555;
}
/* line 36, sass/_sidemenu.scss */
.side-menu a:hover, .side-menu a.active, .side-menu a:active, .side-menu a:focus {
  background: #f8f8f8;
  color: #337ab7;
}
/* line 40, sass/_sidemenu.scss */
.side-menu a .glyphicon {
  margin-right: 10px;
}

/* line 1, sass/_lists.scss */
.simple-list {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-size: 14px;
  line-height: 19px;
  font-family: 'Open Sans', sans-serif;
}
/* line 7, sass/_lists.scss */
.simple-list tr.simple-list-tabs {
  padding: 10px 25px;
}
/* line 9, sass/_lists.scss */
.simple-list tr.simple-list-tabs td {
  white-space: nowrap;
  font-weight: bold;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  padding: 10px 25px;
}
/* line 16, sass/_lists.scss */
.simple-list tr.simple-list-tabs td:first-child {
  border-left: 1px solid #e1e1e1;
}
/* line 19, sass/_lists.scss */
.simple-list tr.simple-list-tabs td:first-child, .simple-list tr.simple-list-tabs td:last-child {
  width: 1px;
}
/* line 25, sass/_lists.scss */
.simple-list tr td {
  padding: 10px 0;
  border-bottom: 1px solid #e1e1e1;
}

/* line 32, sass/_lists.scss */
.job-title {
  color: #555555;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: normal;
  padding: 25px 0 0 0;
  color: #005b8f;
}

/* line 1, sass/_donating.scss */
.donating-banner {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: block;
  height: 400px;
  background: url("../img/donating/homeless.jpg") top left no-repeat content-box transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 80%;
  font-size: 14px;
  color: #1e1e1e;
  line-height: 19px;
  font-weight: bold;
  text-shadow: 0px 0px 15px white;
  font-family: 'Open Sans', sans-serif;
}
/* line 19, sass/_donating.scss */
.donating-banner .back-button {
  padding: 10px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border: 0px solid #000000;
  float: left;
}
/* line 28, sass/_donating.scss */
.donating-banner .description {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 500px;
  height: auto;
}
/* line 34, sass/_donating.scss */
.donating-banner .description .title {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 38px;
}

/* line 2, sass/_images.scss */
.images-block .view {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px 20px 0 20px;
  font-size: 14px;
  color: #333333;
  line-height: 19px;
  font-family: 'Open Sans', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
/* line 16, sass/_images.scss */
.images-block .view.quadruple {
  width: 25%;
  float: left;
}
/* line 20, sass/_images.scss */
.images-block .view.octuple {
  width: 12.5%;
  float: left;
}
/* line 24, sass/_images.scss */
.images-block .view .image {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-top: 95%;
  /* 1:1 Aspect Ratio */
  position: relative;
  height: -8px;
  overflow: hidden;
  margin: 0px 0px 20px 0px;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 4px solid #e1e1e1;
}
/* line 39, sass/_images.scss */
.images-block .view .image img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* line 51, sass/_images.scss */
.images-uploader-block {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
}
/* line 57, sass/_images.scss */
.images-uploader-block .image-back {
  overflow: hidden;
  margin: 0;
  border: 4px solid #e1e1e1;
}

/* line 1, sass/_volunteering.scss */
.volunteering-banner {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: block;
  height: 400px;
  background: url("../img/volunteering/banner.jpg") top left no-repeat content-box transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 80%;
  font-size: 14px;
  color: #1e1e1e;
  line-height: 19px;
  font-weight: bold;
  text-shadow: 0px 0px 15px white;
  font-family: 'Open Sans', sans-serif;
}
/* line 19, sass/_volunteering.scss */
.volunteering-banner .back-button {
  padding: 10px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border: 0px solid #000000;
  float: left;
}
/* line 29, sass/_volunteering.scss */
.volunteering-banner .description {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 500px;
  height: auto;
}
/* line 35, sass/_volunteering.scss */
.volunteering-banner .description .title {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 38px;
}

/* line 1, sass/_veterans.scss */
.veterans-banner {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: block;
  height: 400px;
  background: url("../img/veterans/banner.jpg") top left no-repeat content-box transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 80%;
  font-size: 14px;
  color: #ffffff;
  line-height: 19px;
  font-weight: bold;
  text-shadow: 0px 0px 15px black;
  font-family: 'Open Sans', sans-serif;
}
/* line 19, sass/_veterans.scss */
.veterans-banner .back-button {
  padding: 10px;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border: 0px solid #000000;
  float: left;
}
/* line 28, sass/_veterans.scss */
.veterans-banner .description {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 500px;
  height: auto;
}
/* line 34, sass/_veterans.scss */
.veterans-banner .description .title {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 38px;
}

/* line 1, sass/_citizenship.scss */
.citizenship-banner {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: block;
  height: 400px;
  background: url("../img/citizenship/banner.png") top left no-repeat content-box transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 80%;
  font-size: 14px;
  color: #1e1e1e;
  line-height: 19px;
  font-weight: bold;
  text-shadow: 0px 0px 15px white;
  font-family: 'Open Sans', sans-serif;
}
/* line 20, sass/_citizenship.scss */
.citizenship-banner .back-button {
  padding: 10px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border: 0px solid #000000;
  float: left;
}
/* line 30, sass/_citizenship.scss */
.citizenship-banner .description {
  position: absolute;
  right: 8%;
  top: 100px;
  width: 500px;
  height: auto;
}
/* line 36, sass/_citizenship.scss */
.citizenship-banner .description .title {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 38px;
}

/* line 1, sass/_projects.scss */
.projects-banner {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: block;
  height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 80%;
  font-size: 14px;
  color: #1e1e1e;
  line-height: 19px;
  font-weight: bold;
  text-shadow: 0px 0px 15px white;
  font-family: 'Open Sans', sans-serif;
}
/* line 18, sass/_projects.scss */
.projects-banner.banner-1 {
  background: url("../img/projects/banner-1.jpg") top left no-repeat content-box transparent;
  background-size: cover;
}
/* line 21, sass/_projects.scss */
.projects-banner.banner-1 .description {
  left: 8%;
  top: 200px;
}
/* line 26, sass/_projects.scss */
.projects-banner.banner-2 {
  background: url("../img/projects/banner-2.jpg") top right no-repeat content-box transparent;
  background-size: cover;
}
/* line 29, sass/_projects.scss */
.projects-banner.banner-2 .description {
  right: 8%;
  top: 100px;
}
/* line 34, sass/_projects.scss */
.projects-banner.banner-3 {
  background: url("../img/projects/banner-3.jpg") top left no-repeat content-box transparent;
  background-size: cover;
}
/* line 37, sass/_projects.scss */
.projects-banner.banner-3 .description {
  left: 8%;
  top: 100px;
}
/* line 42, sass/_projects.scss */
.projects-banner.banner-4 {
  background: url("../img/projects/banner-4.jpg") top right no-repeat content-box transparent;
  background-size: cover;
}
/* line 45, sass/_projects.scss */
.projects-banner.banner-4 .description {
  right: 8%;
  top: 100px;
}
/* line 50, sass/_projects.scss */
.projects-banner.banner-5 {
  background: url("../img/projects/banner-5.jpg") top left no-repeat content-box transparent;
  background-size: cover;
}
/* line 54, sass/_projects.scss */
.projects-banner.banner-5 .description.right {
  right: 8%;
  top: 200px;
  width: 35%;
}
/* line 59, sass/_projects.scss */
.projects-banner.banner-5 .description.left {
  left: 8%;
  top: 200px;
  width: 35%;
}
/* line 67, sass/_projects.scss */
.projects-banner .back-button {
  padding: 10px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border: 0px solid #000000;
  float: left;
}
/* line 77, sass/_projects.scss */
.projects-banner .description {
  position: absolute;
  max-width: 590px;
  height: auto;
  font-weight: normal;
  color: #333333;
}
/* line 83, sass/_projects.scss */
.projects-banner .description .title {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 38px;
  color: #000000;
}
/* line 89, sass/_projects.scss */
.projects-banner .description .project-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 25px;
  color: #333333;
}
