<div class="modal fade shedule-popup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><b>My schedule</b></h4>
            </div>
            <div class="modal-body">
                
                <form class="form" 
                      style="padding: 0; background: none; border: 0;" 
                      method="POST" action="{{ url('profile/volunteerings/shedule/')~'/'~view.user.id }}">
                
                    {# MONDAY #}
                    <div style="background: #f8f8f8; padding: 10px ; font-weight: bold;">Monday</div>
                    <br/>
                    <div class="double left">
                        <label>Position</label>
                        <select data-placeholder=" "
                            class="chosen-positions"
                            name="monday[position]">
                            <option> &nbsp;</option>
                            {% for job in jobs %}
                                <option {{ shedule.monday.position == job.id ? 'selected' : '' }} 
                                    value="{{ job.id }}">{{ job.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="qadruple">
                        <label>From</label>
                        <input class="time-picker" 
                               value="{{ shedule.monday.from }}"
                               type="text" 
                               name="monday[from]" />

                    </div>
                    <div class="qadruple right">
                        <label>To</label>
                        <input class="time-picker"
                               value="{{ shedule.monday.to }}"
                               type="text" name="monday[to]" />

                    </div>
                    <div class="clear"><br/><br/></div>
                    
                    
                    {# Tuesday #}
                    <div style="background: #f8f8f8; padding: 10px ; font-weight: bold;">Tuesday</div>
                    <br/>
                    <div class="double left">
                        <label>Position</label>
                        <select data-placeholder=" "
                            class="chosen-positions"
                            name="tuesday[position]">
                            <option> &nbsp;</option>
                            {% for job in jobs %}
                                <option {{ shedule.tuesday.position == job.id ? 'selected' : '' }} 
                                    value="{{ job.id }}">{{ job.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="qadruple">
                        <label>From</label>
                        <input class="time-picker"  
                               value="{{ shedule.tuesday.from }}"
                               type="text" name="tuesday[from]" />

                    </div>
                    <div class="qadruple right">
                        <label>To</label>
                        <input class="time-picker"
                               value="{{ shedule.tuesday.to }}"
                               type="text" name="tuesday[to]" />

                    </div>
                    <div class="clear"><br/><br/></div>
                    
                    {# Wednesday #}
                    <div style="background: #f8f8f8; padding: 10px ; font-weight: bold;">Wednesday</div>
                    <br/>
                    <div class="double left">
                        <label>Position</label>
                        <select data-placeholder=" "
                            class="chosen-positions"
                            name="wednesday[position]">
                            <option> &nbsp;</option>
                            {% for job in jobs %}
                                <option {{ shedule.wednesday.position == job.id ? 'selected' : '' }} 
                                    value="{{ job.id }}">{{ job.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="qadruple">
                        <label>From</label>
                        <input class="time-picker"  
                               value="{{ shedule.wednesday.from }}"
                               type="text" name="wednesday[from]" />

                    </div>
                    <div class="qadruple right">
                        <label>To</label>
                        <input class="time-picker"
                               value="{{ shedule.wednesday.to }}"
                               type="text" name="wednesday[to]" />

                    </div>
                    <div class="clear"><br/><br/></div>
                    
                    {# Thursday #}
                    <div style="background: #f8f8f8; padding: 10px ; font-weight: bold;">Thursday</div>
                    <br/>
                    <div class="double left">
                        <label>Position</label>
                        <select data-placeholder=" "
                            class="chosen-positions"
                            name="thursday[position]">
                            <option> &nbsp;</option>
                            {% for job in jobs %}
                                <option {{ shedule.thursday.position == job.id ? 'selected' : '' }} 
                                    value="{{ job.id }}">{{ job.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="qadruple">
                        <label>From</label>
                        <input class="time-picker" 
                               value="{{ shedule.thursday.from }}"
                               type="text" name="thursday[from]" />

                    </div>
                    <div class="qadruple right">
                        <label>To</label>
                        <input class="time-picker"
                               value="{{ shedule.thursday.to }}"
                               type="text" name="thursday[to]" />

                    </div>
                    <div class="clear"><br/><br/></div>
                    
                    {# Friday #}
                    <div style="background: #f8f8f8; padding: 10px ; font-weight: bold;">Friday</div>
                    <br/>
                    <div class="double left">
                        <label>Position</label>
                        <select data-placeholder=" "
                            class="chosen-positions"
                            name="friday[position]">
                            <option> &nbsp;</option>
                            {% for job in jobs %}
                                <option {{ shedule.friday.position == job.id ? 'selected' : '' }} 
                                    value="{{ job.id }}">{{ job.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="qadruple">
                        <label>From</label>
                        <input class="time-picker"
                               value="{{ shedule.friday.from }}"
                               type="text" name="friday[from]" />

                    </div>
                    <div class="qadruple right">
                        <label>To</label>
                        <input class="time-picker"
                               value="{{ shedule.friday.to }}"
                               type="text" name="friday[to]" />

                    </div>
                    <div class="clear"><br/><br/></div>
                    
                    {# Saturday #}
                    <div style="background: #f8f8f8; padding: 10px ; font-weight: bold;">Saturday</div>
                    <br/>
                    <div class="double left">
                        <label>Position</label>
                        <select data-placeholder=" "
                            class="chosen-positions"
                            name="saturday[position]">
                            <option> &nbsp;</option>
                            {% for job in jobs %}
                                <option {{ shedule.saturday.position == job.id ? 'selected' : '' }} 
                                    value="{{ job.id }}">{{ job.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="qadruple">
                        <label>From</label>
                        <input class="time-picker"
                               value="{{ shedule.saturday.from }}"
                               type="text" name="saturday[from]" />

                    </div>
                    <div class="qadruple right">
                        <label>To</label>
                        <input class="time-picker"
                               value="{{ shedule.saturday.to }}"
                               type="text" name="saturday[to]" />

                    </div>
                    <div class="clear"><br/><br/></div>
                    
                    {# Sunday #}
                    <div style="background: #f8f8f8; padding: 10px ; font-weight: bold;">Sunday</div>
                    <br/>
                    <div class="double left">
                        <label>Position</label>
                        <select data-placeholder=" "
                            class="chosen-positions"
                            name="sunday[position]">
                            <option> &nbsp;</option>
                            {% for job in jobs %}
                                <option {{ shedule.sunday.position == job.id ? 'selected' : '' }}
                                    value="{{ job.id }}">{{ job.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="qadruple">
                        <label>From</label>
                        <input class="time-picker"
                               value="{{ shedule.sunday.from }}"
                               type="text" name="sunday[from]" />

                    </div>
                    <div class="qadruple right">
                        <label>To</label>
                        <input class="time-picker"
                               value="{{ shedule.sunday.to }}"
                               type="text" name="sunday[to]" />

                    </div>
                    <div class="clear"><br/><br/></div>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-shedule">Save</button>
            </div>
        </div>




    </div>
</div>
        
        


