<div class="common-newsletter-block no-print">
    <div class="statistics">
        <div class="title"><b>FOH</b> Newsletters</div>
        {% set statistics = view.utils.getStatistics() %}
        {% if statistics.volunteers > 0 %}
            <div class="st-option">
                <div class="st-name">
                    Volunteers
                </div>
                <div class="st-count">
                    {{ statistics.volunteers + 26 }}
                </div>
            </div>
        {% endif %}
        {% if statistics.donors > 0 %}
            <div class="st-option">
                <div class="st-name">
                    Donors
                </div>
                <div class="st-count">
                    {{ statistics.donors }}
                </div>
            </div>
        {% endif %}
        {% if statistics.needy > 0 %}
            <div class="st-option">
                <div class="st-name">
                    Needy
                </div>
                <div class="st-count">
                    {{ statistics.needy + 3350 }}
                </div>
            </div>
        {% endif %}
        {% if statistics.donated > 0 %}
            <div class="st-option">
                <div class="st-name">
                    Donated
                </div>
                <div class="st-count">
                    {{ statistics.donated }}$
                </div>
            </div>
        {% endif %}
        <div class="clear"></div>
    </div>
    <div class="last-news">
        {% set lastNewsletter = view.utils.getLastNewsletter() %}
        {% if lastNewsletter %}
            <a class="last-news-title" href="{{ url('newsletters/')~'/'~lastNewsletter.id }}">
                {{ lastNewsletter.title|slice(0, 40) }}
                {{ lastNewsletter.title|length > 40 ? '...' : '' }}
            </a>
            <div class="remove-img-tag">
                {{ lastNewsletter.details|slice(0, 250) }}
                {{ lastNewsletter.details|length > 250 ? '...' : '' }}
            </div>
        {% else %}
            <div class="remove-img-tag">
                Nothing new.
            </div>
        {% endif %}
        <div class="clear hide-on-tablet"></div>
    </div>
    
    <form class="form" 
        method="POST" 
        action="{{ url('/newsletters/subscribe') }}">
        <h3>
            <img class="icon-newsletters" src="{{ asset('assets/img/vector/newsletters-icon.svg') }}" />
            Subscribe to our newsletter
        </h3>
        <div class="field">
            <input type="email"
                   name="subscribe_email"
                   placeholder="Email ...">
            <button type="submit" class="small">Subscribe</button>
            <div class="clear"></div>
        </div>
    </form>
    
</div>