{% extends 'base' %}

{% block content %}
    <div class="newsletters-block">
        {% if newsletters|length > 0 %}
            <div class="newsletters-back">
                {% for newsletter in newsletters %}
                    <div class="newsletter">
                        <div class="title">
                            <a href="{{ url('newsletters/')~'/'~newsletter.id }}">
                                {{ newsletter.title }}
                            </a>
                            <div class="date">{{ newsletter.created_at|date("F j Y") }}</div>
                        </div>
                        <div class="details timce-code-block">
                            {{ newsletter.details|slice(0, 1000)|raw }} 
                            {{ newsletter.details|length > 999 ? '...' : '' }}
                        </div>
                    </div>
                    <div class="clear"><br/><br/><br/><br/><br/></div>
                {% endfor %}
            </div>
            <div class="pagination hide-on-mobile hide-on-print">
                {% set displayingTotalPages = 11 %}
                {% set totalPages = (newsletters.total()/newsletters.perPage())|round(0, 'ceil') %}
                {% set displayingFirstPage = newsletters.currentPage() - 5 > 1 ? newsletters.currentPage() - 5 : 1 %}
                {% set displayingLastPage = newsletters.currentPage() + 5 < totalPages ? newsletters.currentPage() + 5 : totalPages %}
                {% if newsletters.currentPage() > 1 %}
                    <a href="{{ url('newsletters') ~ '?page=' ~ (newsletters.currentPage() - 1) }}" class="page" itemprop="pagination">Prev</a>
                {% endif %}
                {% if displayingFirstPage != 1 %}
                    <a href="{{ url('newsletters') ~ '?page=1' }}" class="page">1</a>
                    ..
                {% endif %}
                {% for page in displayingFirstPage..displayingLastPage %}
                    <a href="{{  url('newsletters') ~ '?page=' ~ page }}" 
                       class="page {{ newsletters.currentPage() == page ? 'active' : '' }}"
                       itemprop="pagination">
                        {{ page }}
                    </a>
                {% endfor %}
                {% if newsletters.currentPage() + 5 < totalPages and newsletters.currentPage() + 5 > 0 %}
                    ..
                    <a href="{{  url('newsletters') ~ '?page=' ~ newsletters.lastPage() }}" 
                       class="page">
                        {{ newsletters.lastPage() }}
                    </a>
                {% endif %}
                {% if newsletters.currentPage() < totalPages %}
                    <a href="{{  url('newsletters') ~ '?page=' ~ (newsletters.currentPage() + 1) }}" class="page" itemprop="pagination">Next</a>
                {% endif %}
            </div>
        {% else %}
            <br/>
            Nothing new
            <br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/>
        {% endif %}
    </div>
    
{% endblock %}

{% block js %}

    <script type="text/javascript">
        var wh = $(window).height();
        $('.veterans-banner').height(wh - 45);
        
        $('.timce-code-block img').each(function() {
            if($(this).css('float') === 'left'){
                $(this).css('margin-left', '0');
            };
            if($(this).css('float') === 'right'){
                $(this).css('margin-right', '0');
            };
        });
    </script>

{% endblock %}

