{% extends 'base' %}

{% block content %}
    
    <div class="newsletters-block">
        <div class="newsletters-back">
            <div class="newsletter">
                <div class="title gery">
                    {{ newsletter.title }}
                    <div class="date">{{ newsletter.created_at|date("F j Y") }}</div>
                </div>
                <div class="details timce-code-block">
                    {{ newsletter.details|raw }} 
                </div>
            </div>
            <div class="clear"><br/><br/><br/><br/><br/></div>
        </div>
    </div>
    
{% endblock %}

{% block js %}

    <script type="text/javascript">
        $('.timce-code-block img').each(function() {
            if($(this).css('float') === 'left'){
                $(this).css('margin-left', '0');
            };
            if($(this).css('float') === 'right'){
                $(this).css('margin-right', '0');
            };
        });
    </script>

{% endblock %}

