
{% extends "base" %}

{% block content %}
    <div class="base-block">
            {% if session('success-message') %}
                <div class="success-message" style="max-width: 700px; margin: 0 auto;">
                    {{ session('success-message') }}
                </div>
                <div class="clear">
                    <br/><br/><br/>
                </div>
            {% endif %}
            <div class="double left">
                <div style="max-width: 400px; float: right;">
                    <h2 class="form-title">Contact Us</h2>
                    <form class="form" 
                          method="POST" 
                          action="{{ url('/contactus') }}">
                        {% if errors.has() %}
                            <div class="note-message">
                                ! {{ errors.first() }}
                            </div>
                        {% endif %}
                        <input type="text" 
                               name="name" 
                               placeholder="Name ..."
                               value="{{ old('name') }}">
                        <br/>
                        <input type="email" 
                               name="email" 
                               placeholder="Email ..."
                               value="{{ old('email') }}">
                        <br/>
                        <input type="text" 
                               name="subject" 
                               placeholder="Subject ..."
                               value="{{ old('subject') }}">
                        <br/>
                        <textarea name="c_message" placeholder="Message ...">{{ old('message') }}</textarea>

                        <button class="pull-right" type="submit">
                            Send
                        </button>

                        <div class="clear"></div>

                    </form>
                </div>
                <div class="clear"><br/><br/></div>
            </div>
            <div class="double right" style="font-size: 14px; max-width: 400px; float: left;">
                <div class="title" 
                     style="font-size: 18px; font-weight: bold;">
                    {{ view.app.name }}
                </div>
                <hr/>
                {{ view.app.address }}
                <br/>
                <br/>
                <a href="mailto:{{ view.app.email }}">
                    {{ view.app.email }}
                </a>
                <br/>
                {{ view.app.phone }}
                <br/>
                {{ view.app.url }}
                
                <br/>
                <hr/>
                <br/>
                {% for contact in contacts %}
                    <div style="width: 100%;" class="hide-on-tablet with-html-tags">
                        <div style="width:70px; 
                             height: 70px;
                             float: left;
                             border: 3px solid #cccccc;
                             background:url('{{ asset('images/contacts/')~'/'~contact.photo }}') center center no-repeat content-box transparent;
                             background-size: cover;">
                        </div>
                        <div style="float: left; padding: 4px 15px;">
                            {{ contact.details|raw }}
                        </div>
                        <div class="clear"><br/></div>
                    </div>
                {% endfor %}
            </div>
        <div class="clear"></div>
    </div>

{% endblock %}