{% extends 'base' %}

{% block content %}

    <h1 class="logo">
        <a href="{{ url('/') }}"
           itemscope 
           itemtype="http://schema.org/Organization">
            <img itemprop="logo" 
                 src="{{ asset('assets/img/vector/logo.svg') }}" 
                 alt="{{ view.app.name }} Home Page"/>
            <div><br/>There is help. There is hope.</div>
        </a>
    </h1>
            
    <div class="home-banner hide-on-tablet window-height">
        <div class="rays">
            <img src="{{ asset('assets/img/vector/rays.svg') }}" />
        </div>
        <img class="cloud left" src="{{ asset('assets/img/vector/cloud-left.svg') }}" />
        <img class="cloud right" src="{{ asset('assets/img/vector/cloud-right.svg') }}" />
        <div class="hends">
            <img class="hend left" src="{{ asset('assets/img/vector/hend-left.svg') }}" />
            <img class="hend right" src="{{ asset('assets/img/vector/hend-right.svg') }}" />
        </div>
        <img class="hends-back" src="{{ asset('assets/img/vector/hands-back.png') }}" />
        <div class="heart">
            <img src="{{ asset('assets/img/vector/heart.svg') }}" />
        </div>
        <div class="text left">
            <div class="top">
                <b>Our Mission</b>
                As a community outreach organization, we serve the underprivileged 
                experiencing unexpected crisis and those with minor physical 
                and/or mental health conditions throughout North Port and South 
                County.
            </div>
            <div class="bottom">
                <b>Our Vision</b>
                To provide necessities for individuals and families, especially 
                the homeless and veterans, plus educational and spiritual 
                guidance to those we serve. 
            </div>
        </div>
        <div class="text right">
            <div class="top">
                <b>We Need Volunteers</b>
                We need volunteers to stock shelves, do computer work, and to do
                many other essential tasks. If you have a special skill or talent, 
                please let us know. We welcome all volunteers (age 15 and up).
            </div>
            <div class="bottom">
                <b>Our Aim</b>
                To unite all of the assistive organizations throughout North Port 
                and South County. We can accomplish more when we all work together.
            </div>
        </div>
    </div>
    
    <div class="about-us hide-on-tablet">
        

        <h1 class="logo">
            <a href="{{ url('/') }}"
               itemscope 
               itemtype="http://schema.org/Organization">
                <img itemprop="logo" 
                     src="{{ asset('assets/img/vector/logo.svg') }}" 
                     alt="{{ view.app.name }} Home Page"/>
                <div><br/>There is help. There is hope.</div>
            </a>
        </h1>
        <img class="cloud left" src="{{ asset('assets/img/vector/cloud-left-top.svg') }}" />
        <img class="cloud right" src="{{ asset('assets/img/vector/cloud-right-top.svg') }}" />
        <img class="hends-back" src="{{ asset('assets/img/vector/hands-back-top.png') }}" />
        <img class="light-circles" src="{{ asset('assets/img/vector/light-circles.png') }}" />
        <br/><br/>
        <span class="text">
            <br/>
            {{ view.app.name }} partners with individuals, families and the community, 
            by providing advocacy and support to the consumers' lives and eliminate 
            chronic homelessness. We seek to unite all of North Port's assistive 
            organizations with an outstretched hands. We can accomplish more when 
            we all work together.
            <br/><br/>
            Together, we share a belief that to solve the world's greatest challenges, 
            donors, nonprofits, funders, and other partners need the right information 
            in order to make confident, intelligent decisions. We believe that more 
            effective and informed giving will inspire the entire philanthropic 
            community, raise confidence, and, as a result, increase giving and lead 
            to greater impact and innovation in the sector. Members are key investors 
            and partners in our work to strengthen the nonprofit sector and create 
            a dynamic philanthropic community.
        </span>
    </div>
    <div class="home-categories">
        <div class="categories-box">
            <div class="category-block cb-1">
                <div class="image donating"></div>
                <div class="title">Donating</div>
                <div class="details">
                    Donors, why we ask you to give financially because we can't 
                    accomplish our menygoals without your generous contribution.
                    <a href="{{ url('donating') }}">Donating</a>
                </div>
            </div>
            <div class="category-block cb-2">
                <div class="image donating"></div>
                <div class="title">Volunteering</div>
                <div class="details">
                    Volunteers are a key component to our operations. 
                    <br/>
                    They are the backbone to the services we provide.
                    <a href="{{ view.isAuth ? url('contactus') : url('register') }}">Join Us</a>
                </div>
            </div>
            <div class="category-block cb-3">
                <div class="image donating"></div>
                <div class="title">Needy</div>
                <div class="details">
                    Our clients need jobs, once they go through our application
                    and evoluation process, we help them find resonable paying job. 
                    <a href="{{ view.isAuth ? url('contactus') : url('register') }}">Find help</a>
                </div>
            </div>
        </div>
    </div>
    
    <form class="form newsletters-home position-js-fix" 
        method="POST" 
        action="{{ url('/newsletters/subscribe') }}">
        <h3>Subscribe to Newsletter</h3>
        <div class="field">
            <input id="email" 
                   type="email" 
                   name="subscribe_email"
                   class="{{ errors.has('email') ? 'error' : '' }}"
                   placeholder="Email ..."
                   value="{{ old('email') }}">
            <button type="submit">Subscribe</button>
        </div>
    </form>
    
{% endblock %}


{% block js %}
    <script type="text/javascript">
        var h = window.innerHeight - 45 - 150;
        $('.window-height').css('height', h + 'px');
        $('.position-js-fix').css('top', (h - 40) + 'px');
    </script>
{% endblock %}

