{% extends "admin.base" %}

{% block components %}
    <script type="text/javascript" src="{{ asset('components/jquery-ui/jquery-ui.min.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset('components/jquery-ui/themes/flick/jquery-ui.min.css') }}" />
{% endblock %}

{% block content  %}
    
    <div class="base-block grey-back">
        
        <div>
            <h2 class="form-title">Create user</h2>
            <form class="form simple white-back" 
                  method="POST" 
                  action="{{ url('admin/users/create') }}">
                
                {% if errors.first() %}
                    <div class="note-message">
                        {{ errors.first() }}
                    </div>
                
                    <div class="clear form-line"></div>
                {% endif %}

                <label>* Chose your activity types</label>
                {% for type in view.userTypes %}

                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary {{ old('types')[type.id] ? 'active' : '' }}">
                            <input type="checkbox" 
                                   class="user-types-chosen"
                                   id="checkbox-{{ type.name }}"
                                   name="types[{{ type.id }}]" 
                                   autocomplete="off" 
                                   {{ old('types')[type.id] ? 'checked' : '' }}> 
                            {{ type.name }}
                        </label>
                    </div>

                {% endfor %} 
                
                <div class="register-all {{ old('types') ? '' : 'collapsed' }}">
                    
                    <div class="clear form-line"></div>

                    <div class="triple left">
                        <label>* First name</label>
                        <input class="{{ errors.has('first_name') ? 'error' : '' }}"
                               type="text" name="first_name" value="{{ old('first_name') }}">

                    </div>
                    <div class="triple">

                        <label>Middle name</label>
                        <input class="{{ errors.has('middle_name') ? 'error' : '' }}"
                               type="text" name="middle_name" value="{{ old('middle_name') }}">
                    </div>
                    <div class="triple right">

                        <label>* Last name</label>
                        <input class="{{ errors.has('last_name') ? 'error' : '' }}"
                               type="text" name="last_name" value="{{ old('last_name') }}">
                    </div>

                    <div class="clear form-line"></div>
                    
                    {# GENERAL STAFF #}
                    <div class="triple left">
                        <label>* Email</label>
                        <input type="email" 
                               class="{{ errors.has('email') ? 'error' : '' }}"
                               name="email" value="{{ old('email') }}">
                    </div>
                    <div class="triple">
                        <label>* Telephone</label>
                        <input class="{{ errors.has('phone') ? 'error' : '' }}"
                               type="text" name="phone" value="{{ old('phone') }}">
                    </div>
                    <div class="triple right">
                        <label>Emergency contact</label>
                        <input class="{{ errors.has('emergency_contact') ? 'error' : '' }}"
                               type="text" name="emergency_contact" value="{{ old('emergency_contact') }}">
                    </div>

                    <label>* Address</label>
                    <input class="{{ errors.has('address') ? 'error' : '' }}"
                           type="text" name="address" value="{{ old('address') }}">

                    <div class="triple left">
                        <label>* State</label>
                        <select data-placeholder=" "
                            class="{{ errors.has('state') ? 'error' : '' }}"
                            id="state"
                            name="state">
                            <option></option>
                            {% for state in view.states %}
                                <option {{ old('state') == state.state_code ? 'selected' : '' }}
                                    value="{{ state.state_code }}">{{ state.state }}</option>
                            {% endfor %}
                        </select>

                        <label>* Date of birth</label>
                        <input id="birthday"
                               class="{{ errors.has('birth_day') ? 'error' : '' }}"
                               type="text" name="birth_day" value="{{ old('birth_day') }}">

                    </div>
                    <div class="triple">
                        <label>* City {{ old('city') }}</label>
                        <select data-placeholder=" "
                            id="cities"
                            class="{{ errors.has('city') ? 'error' : '' }}"
                            name="city">
                            {% if not old('city') %}
                                <option></option>
                                <option>Chose the state before ...</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="triple right">
                        <label>* Zip / Postal code</label>
                        <input class="{{ errors.has('zip') ? 'error' : '' }}"
                               type="number" name="zip" value="{{ old('zip') }}">
                    </div>

                    <div class="needy_form_fields {{ old('types')[3] or old('types')[4]  ? '' : 'collapsed' }}">
                        <div class="clear form-line"></div>
                        {% include 'components.forms.needy_form_fields' with {
                            'questions': view.needyMap,
                            'needyData': old('needy'),
                            } 
                        %}
                    </div>

                    <div class="clear form-line"></div>

                    <div class="triple left">
                        <label>* Password</label>
                        <input class="{{ errors.has('password') ? 'error' : '' }}"
                               type="password" name="password">
                    </div>
                    <div class="triple">
                        <label>* Confirm Password</label>
                        <input class="{{ errors.has('password') ? 'error' : '' }}"
                               type="password" name="password_confirmation">
                    </div>

                    <div class="clear form-line"></div>   

                    <br/>
                    <button type="submit">
                        Create
                    </button>
                    <br/>
                    <div class="clear"></div>
                    
                </div>

            </form>
        </div>
        <div class="clear"></div>
    </div>
    
{% endblock %}

        
{% block js %}
    <script type="text/javascript">
        var citiesUrl = "{{ url('/locations/cities/') }}/";
        var oldCity = '{{ old('city') }}';
        var setStateCities = function(state){
            $.ajax({
                url: citiesUrl +state,
                method: "GET"
            }).done(function( listOfCities ) {
                repopulateChosenCities(listOfCities);
            });
        };
        var repopulateChosenCities = function(listOfCities){
            $("#cities option").remove();
            addOptionToCitiesSelect(null);
            for(city in listOfCities){
                addOptionToCitiesSelect(listOfCities[city]);
            }
            $('#cities').trigger('chosen:updated');
        };
        var addOptionToCitiesSelect = function(city){
            var innerText = city ? city.state_code + ', ' + city.city : '';
            var value = city ? city.city : '';
            var isOldCity = false;
            if( value != '' ){
                isOldCity = value == oldCity ? true : false;
            }
            var el = $("<option " +(isOldCity ? 'selected' : '')+ " value=\"" +value+ "\">" +innerText+ "</option>");
            $('#cities').append(el);
        };
        $("#cities").chosen({
            no_results_text: "Nothing found!",
            inherit_select_classes: true
        }).change( function(){
            $(this).next().addClass('changed');
        });
        
        var currentSelectedState = $("#state option[selected]").val();
        if(currentSelectedState){
            setStateCities(currentSelectedState);
        }
        
        $("#state").chosen({
            no_results_text: "Nothing found!",
            inherit_select_classes: true
        }).change( function(e, p){
            setStateCities(p.selected);
            $(this).next().addClass('changed');
        });
        $( "#birthday" ).datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'MM.dd.yy',
            yearRange: "-108:+0"
        });
        $( "input" ).on('change', function(){
            $(this).addClass('changed');
        });
        $('.user-types-chosen').on('change', function(){
            var showFlag = 0;
            var types = [];
            types['donorIsSelected'] = $('#checkbox-donor').prop('checked');
            types['volunteerIsSelected'] = $('#checkbox-volunteer').prop('checked');
            types['veteranIsSelected'] = $('#checkbox-veteran').prop('checked');
            types['needyIsSelected'] = $('#checkbox-needy').prop('checked');
            if(types['veteranIsSelected'] || types['needyIsSelected']){
                $('.needy_form_fields').removeClass('collapsed');
            }else{
                $('.needy_form_fields').addClass('collapsed');
            }
            for(type in types){
                types[type] ? showFlag ++ : null;
            }
            if(showFlag > 0){
                $('.register-all').removeClass('collapsed');
            }else{
                $('.register-all').addClass('collapsed');
            }
            $('#cities, #states').trigger('chosen:updated');
        });
        
        $('input[type="radio"]').on('change', function(){
            var name = $(this).prop('name');
            var siblings = $('input[type="radio"][name="' + name + '"]');
            var otherIsSelected = false;
            $( siblings ).each(function( index ) {
                if( ($(this).prop('value') === 'Other' || $(this).prop('value') === 'Other (Specify)') && $(this).prop('checked') === true ){
                    otherIsSelected = true;
                }
            });
            
            if(otherIsSelected){
                $(this).siblings('input[type="text"]').prop('name', name).focus();
            }else{
                $(this).parent().parent().find('input[type="text"]').prop('name', '').prop('value', '');
            }
        });
    </script>
{% endblock %}