{% extends "admin.base" %}

{% block components %}
    <script type="text/javascript" src="{{ asset('components/jquery-ui/jquery-ui.min.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset('components/jquery-ui/themes/flick/jquery-ui.min.css') }}" />
{% endblock %}

{% block content %}
    
    <div class="title hide-on-print">Update general settings</div>
    <form class="form simple" 
            method="POST" 
            action="{{ url('admin/users/edit/settings')~'/'~userdata.id }}">
        {% if errors.first() %}
            <div class="note-message">
                {{ errors.first() }}
            </div>

            <div class="clear form-line"></div>
        {% endif %}

        <div class="triple left">
            <label>* First name</label>
            <input class="{{ errors.has('first_name') ? 'error' : '' }}"
                   type="text" name="first_name" value="{{ old('first_name') ? old('first_name') : userdata.first_name }}">

        </div>
        <div class="triple">

            <label>Middle name</label>
            <input class="{{ errors.has('middle_name') ? 'error' : '' }}"
                   type="text" name="middle_name" value="{{ old('middle_name') ? old('middle_name') : userdata.middle_name }}">
        </div>
        <div class="triple right">

            <label>* Last name</label>
            <input class="{{ errors.has('last_name') ? 'error' : '' }}"
                   type="text" name="last_name" value="{{ old('last_name') ? old('last_name') : userdata.last_name }}">
        </div>

        <div class="triple left">
            <label>* Email</label>
            <input type="email" 
                   readonly
                   value="{{ old('email') ? old('email') : userdata.email }}">
        </div>
        <div class="triple">
            <label>* Telephone</label>
            <input class="{{ errors.has('phone') ? 'error' : '' }}"
                   type="text" name="phone" value="{{ old('phone') ? old('phone') : userdata.profile.phone }}">
        </div>
        <div class="triple right">
            <label>Emergency contact</label>
            <input class="{{ errors.has('emergency_contact') ? 'error' : '' }}"
                   type="text" name="emergency_contact" value="{{ old('emergency_contact') ? old('emergency_contact') : userdata.profile.emergency_contact }}">
        </div>

        <label>* Address</label>
        <input class="{{ errors.has('address') ? 'error' : '' }}"
               type="text" name="address" value="{{ old('address') ? old('address') : userdata.profile.address }}">

        <div class="triple left">
            <label>* State</label>
            <select data-placeholder=" "
                class="{{ errors.has('state') ? 'error' : '' }}"
                id="state"
                name="state">
                <option></option>
                {% for state in view.states %}
                    {% set stateValue = old('state') ? old('state') : userdata.profile.state %}
                    <option {{ stateValue == state.state_code ? 'selected' : '' }}
                        value="{{ state.state_code }}">{{ state.state }}</option>
                {% endfor %}
            </select>

            <label>* Date of birth</label>
            <input id="birthday"
                   class="{{ errors.has('birth_day') ? 'error' : '' }}"
                   type="text" name="birth_day" value="{{ old('birth_day') ? old('birth_day') : userdata.profile.birth_day|date("F.d.Y") }}">

        </div>
        <div class="triple">
            <label>* City {{ old('city') }}</label>
            <select data-placeholder=" "
                id="cities"
                class="{{ errors.has('city') ? 'error' : '' }}"
                name="city">
                {% if not old('city') %}
                    <option></option>
                    <option>Chose the state before ...</option>
                {% endif %}
            </select>
        </div>
        <div class="triple right">
            <label>* Zip / Postal code</label>
            <input class="{{ errors.has('zip') ? 'error' : '' }}"
                   type="number" name="zip" value="{{ old('zip') ? old('zip') : userdata.profile.zip }}">
        </div>
        {% set isVolunteer = false %}
        {% for userType in userdata.types %}
            {% if userType.type_id == 2 %}
                {% set isVolunteer = true %}
            {% endif %}
        {% endfor %}
        {% if isVolunteer %}
            <div class="clear">
                <label>Short description (max. 150 symbols) (current: <span id="textForCutLength">0</span>)</label>
                <textarea class="{{ errors.has('description') ? 'error' : '' }}"
                          id="textForCut"
                          name="description" >{{ old('description') ? old('description') : userdata.description }}</textarea>
            </div>
        {% endif %}

        <div class="clear form-line hide-on-print"></div>   

        <button type="submit" class="hide-on-print">
            Update profile
        </button>

        <div class="clear"></div>
    </form>  
    <div class="clear hide-on-print">
        <br/><br/><br/>
    </div>
    <div class="title hide-on-print">Update email</div>

    <form class="form simple hide-on-print" 
            method="POST" 
            action="{{ url('admin/users/edit/email')~'/'~userdata.id }}">
        {% if session('emailError') %}
            <div class="note-message">
                {{ session('emailError') }}
            </div>
        {% endif %}

        <div class="double left">
            <label>Current email</label>
            <input type="text" 
                   readonly
                   value="{{ userdata.email }}">
        </div>
        <div class="double right">
            <label>New email</label>
            <input type="text" 
                   class="{{ session('emailError') ? 'error' : '' }}"
                   name="email" 
                   value="">
        </div>

        <div class="clear form-line"></div>   

        <button type="submit">
            Update email
        </button>

        <br/>
        <div class="clear"></div>
    </form> 
    <div class="clear hide-on-print">
        <br/><br/><br/>
    </div>
    <div class="title hide-on-print">Update password</div>

    <form class="form simple hide-on-print" 
            method="POST" 
            action="{{ url('admin/users/edit/password')~'/'~userdata.id }}">
        {% if session('passwordError') %}
            <div class="note-message">
                {{ session('passwordError') }}
            </div>
        {% endif %}

        <div class="double left">
            <label>Current password</label>
            <input class="{{ session('passwordError') ? 'error' : '' }}"
                   type="password" 
                   name="password">
        </div>
        <div class="double right">
            <label>New password</label>
            <input class="{{ session('passwordError') ? 'error' : '' }}"
                   type="password" 
                   name="password_confirmation">
        </div>

        <div class="clear form-line"></div>   

        <button type="submit" class="hide-on-print">
            Update password
        </button>

        <br/>
        <div class="clear"></div>
    </form>
    <div class="clear hide-on-print">
        <br/><br/><br/>
    </div>
    <div class="title hide-on-print {{ needy ? '' : 'hidden' }}">Update needy settings</div>

    
    <form id="needyform" class="form simple white-back {{ needy ? '' : 'hidden' }}" 
            method="POST" 
            action="{{ url('admin/users/edit/needy')~'/'~userdata.id }}">

        {% include 'components.forms.needy_form_fields' with {
            'questions': view.needyMap,
            'needyData': old('needy') ? old('needy') : needy.details,
            } 
        %}

        <div class="clear form-line"></div>   

        <br/>
        <button type="submit" class="hide-on-print">
            Update
        </button>
        <br/>
        <div class="clear"></div>

    </form>

{% endblock %}
        
{% block js %}
    <script type="text/javascript">
        
        var citiesUrl = "{{ url('/locations/cities/') }}/";
        var oldCity = '{{ old('city') ? old('city') : userdata.profile.city }}';
        var setStateCities = function(state){
            $.ajax({
                url: citiesUrl +state,
                method: "GET"
            }).done(function( listOfCities ) {
                repopulateChosenCities(listOfCities);
            });
        };
        var repopulateChosenCities = function(listOfCities){
            $("#cities option").remove();
            addOptionToCitiesSelect(null);
            for(city in listOfCities){
                addOptionToCitiesSelect(listOfCities[city]);
            }
            $('#cities').trigger('chosen:updated');
        };
        var addOptionToCitiesSelect = function(city){
            var innerText = city ? city.state_code + ', ' + city.city : '';
            var value = city ? city.city : '';
            var isOldCity = false;
            if( value != '' ){
                isOldCity = value == oldCity ? true : false;
            }
            var el = $("<option " +(isOldCity ? 'selected' : '')+ " value=\"" +value+ "\">" +innerText+ "</option>");
            $('#cities').append(el);
        };
        $("#cities").chosen({
            no_results_text: "Nothing found!",
            inherit_select_classes: true
        }).change( function(){
            $(this).next().addClass('changed');
        });
        
        var currentSelectedState = $("#state option[selected]").val();
        if(currentSelectedState){
            setStateCities(currentSelectedState);
        }
        
        $("#state").chosen({
            no_results_text: "Nothing found!",
            inherit_select_classes: true
        }).change( function(e, p){
            setStateCities(p.selected);
            $(this).next().addClass('changed');
        });
        $( "#birthday" ).datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'MM.dd.yy',
            yearRange: "-108:+0"
        });
        $( "input" ).on('change', function(){
            $(this).addClass('changed');
        });
        
        $('input[type="radio"]').on('change', function(){
            var name = $(this).prop('name');
            var siblings = $('input[type="radio"][name="' + name + '"]');
            var otherIsSelected = false;
            $( siblings ).each(function( index ) {
                if( ($(this).prop('value') === 'Other' || $(this).prop('value') === 'Other (Specify)') && $(this).prop('checked') === true ){
                    otherIsSelected = true;
                }
            });
            
            if(otherIsSelected){
                $(this).siblings('input[type="text"]').prop('name', name).focus();
            }else{
                $(this).parent().parent().find('input[type="text"]').prop('name', '').prop('value', '');
            }
        });
        
        $('#textForCut').on('change keyup', function(e){
            var str = e.target.value;
            if(str.length >= 150){
                str = str.slice(0, 150);
            }
            $('#textForCutLength').text(str.length);
            e.target.value = str;
        });
        
    </script>
{% endblock %}