{% extends "admin.base" %}

{% block content %}
        
    <form class="hide-on-print" action="{{ url('admin/users/search') }}" method="POST" style="background: #ffffff; border: 0px solid #e1e1e1;">

        <div class="field" style="padding: 0;">
            <span class="label">Search by keywords</span>
            <input type="text" 
                   name="keywords"
                   placeholder="You can search by: ( name, second name , middle name or email ) or part of that ..."
                   value="{{ form.keywords }}"/>
        </div>
        <br/>
        <div class="field" style="padding: 0;">
            <button type="submit" class="blue">Search</button>
        </div>
    </form>
    <br/><br/>
    <table class="list">
        <tr class="sort">
            <td width="1">
                Created Date
            </td>
            <td width="1">
                Updated Date
            </td>
            <td>
                Name
            </td>
            <td width="1">
                Email
            </td>
            <td width="1">
                Phone
            </td>
            <td width="1">
                Types
            </td>
            <td width="1">
                Actions
            </td>
        </tr>
        {% for user in users %}
            <tr>
                <td>
                    {{ user.created_at | date('m.d.Y') }}
                </td>
                <td>
                    {{ user.updated_at | date('m.d.Y') }}
                </td>
                <td>
                    <a href="{{ url('admin/users/edit/')~'/'~user.id }}" style="color: #171eb5;">
                        {{ user.first_name }} {{ user.middle_name }} {{ user.last_name }}
                    </a>
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    {{ user.profile.phone }}
                </td>
                <td>
                    {% set isDonor = false %}
                    {% for userType in user.types %}
                        {% for type in view.userTypes %}
                            {% if type.id == userType.type_id %}
                                {% if type.id == 1 %}
                                    {% set isDonor = true %}
                                {% endif %}
                                <span class="sign">{{ type.name }}</span>
                                
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </td>
                <td style="white-space: nowrap;">
                    <a href="{{ url('admin/users/status/change/')~'/'~user.id }}" class="glyphicon glyphicon-off
                                       {{ user.active ? 'green' : '' }}"
                                title="{{ user.active ? 'deactivate' : 'activate' }}"></a>&nbsp;
                    <a href="{{ url('admin/users/edit/')~'/'~user.id }}" 
                       class="glyphicon glyphicon-pencil" title="Edit"></a>&nbsp;
                    <a href="{{ url('admin/users/remove/')~'/'~user.id }}" 
                       class="glyphicon glyphicon-remove" title="Remove"></a>&nbsp;
                    {% if isDonor %}
                        <a href="{{ url('admin/donors/create/donation/')~'/'~user.id }}">
                            <button class="white">Add donation</button>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        
    </table>

    <div class="pagination hide-on-mobile hide-on-print">
        {% set displayingTotalPages = 11 %}
        {% set totalPages = (users.total()/users.perPage())|round(0, 'ceil') %}
        {% set displayingFirstPage = users.currentPage() - 5 > 1 ? users.currentPage() - 5 : 1 %}
        {% set displayingLastPage = users.currentPage() + 5 < totalPages ? users.currentPage() + 5 : totalPages %}
        {% if users.currentPage() > 1 %}
            <a href="{{ url('admin/users') ~ '?page=' ~ (users.currentPage() - 1) }}" class="page" itemprop="pagination">Prev</a>
        {% endif %}
        {% if displayingFirstPage != 1 %}
            <a href="{{ url('admin/users') ~ '?page=1' }}" class="page">1</a>
            ..
        {% endif %}
        {% for page in displayingFirstPage..displayingLastPage %}
            <a href="{{  url('admin/users') ~ '?page=' ~ page }}" 
               class="page {{ users.currentPage() == page ? 'active' : '' }}"
               itemprop="pagination">
                {{ page }}
            </a>
        {% endfor %}
        {% if users.currentPage() + 5 < totalPages and users.currentPage() + 5 > 0 %}
            ..
            <a href="{{  url('admin/users') ~ '?page=' ~ users.lastPage() }}" 
               class="page">
                {{ users.lastPage() }}
            </a>
        {% endif %}
        {% if users.currentPage() < totalPages %}
            <a href="{{  url('admin/users') ~ '?page=' ~ (users.currentPage() + 1) }}" class="page" itemprop="pagination">Next</a>
        {% endif %}
    </div>

{% endblock %}