{% extends 'base' %}

{% block content %}
    
    <div class="base-block">
        {% include 'frontend.nav.profilemenu' %}
    
        <div class="block">
            <div class="title">Donations</div>

            <div class="">
                <p>
                    <b>Every little bit helps!</b><br/><br/>
                    Donating a little bit of money or time may not seem like much. But 
                    if your donation is joined with others, it becomes something much 
                    bigger.Giving to others increases your capacity for love. It makes 
                    you realize that even if you don’t have much, you have enough to 
                    share with others.
                    <br/><br/>
                    ​Eighty-eight percent of households give to charity. Some people give
                    to charity because they want to make a difference; others do it 
                    because they feel obligated, some do it to get credit, and others 
                    do it because it’s socially expected of them. Others who cannot give 
                    financially give their time by volunteering at nonprofits that are 
                    important to them. In 2011, the estimated dollar value of volunteer 
                    time was $19.54 per hour, and in addition to the financial impact 
                    of volunteering, many people who benefit from volunteers appreciate 
                    actual volunteer hours because they feel more personal.
                </p>
                <p class="text-left">
                    <br/>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="37ZJXHZ83JWFA">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </p>
                <div class="clear"><br/><br/><br/></div>
            </div>
            {% set isDonor = view.utils.isDonor(view.user.id) %}
            {% if isDonor %}
                <div>
                    <p>
                        <b>My donations</b><br/><br/>
                    </p>
                    <table class="simple-list">
                        <tr class="simple-list-tabs">
                            <td>
                                Date
                            </td>
                            <td class="hide-on-tablet">
                                Comments
                            </td>
                            <td>
                                Donated
                            </td>
                        </tr>
                        <tr>
                            {% for donation in donations %}
                                <tr>
                                    <td style="vertical-align: top; white-space: nowrap;">
                                        {{ donation.created_at|date('F j Y') }}
                                    </td>
                                    <td style="vertical-align: top; padding-left: 25px; width: 300px;">
                                        {{ donation.comments }}
                                    </td>
                                    <td style="padding-left: 25px; ">
                                        {% if donation.money%}
                                            <span class="sign">{{ donation.money }}$</span>
                                        {% endif %}

                                        {% for object in view.utils.jsonDecode(donation.stuff) %}
                                            <span class="sign">{{ object }}</span>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            {% endif %}

            <div class="clear">
                <br/><br/><br/>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    
{% endblock %}
        
{% block js %}
    <script type="text/javascript">
        
        var getSideMenuHeight = function(){
            return 100 + $('.side-menu').height();
        };
        var getFooterPos = function(){
            return $('.common-newsletter-block').offset().top - 45 - getSideMenuHeight();
        };
        $( document ).scroll(function() {
            if(getFooterPos() < $(document).scrollTop()){
                $('.side-menu').addClass('stop');
            }else{
                $('.side-menu').removeClass('stop');
            }
        });
        
    </script>
{% endblock %}
        
        


