{% extends 'base' %}

{% block content %}
    
    
    <div class="base-block">
        {% include 'frontend.nav.profilemenu' %}

        <div class="block">
            <div class="title">We are ready to help you!</div>

            <p>
                <b>What we can!</b><br/><br/>
                Face of Hope partners with individuals we serve, families and the 
                community, by providing advocacy and support to the consumers' 
                lives and eliminate chronic homelessness. We seek to unite all of 
                North Port's assistive organizations with an out stretched hands. 
                We can accomplish more when we all work together.
                <br/><br/>
                Together, we share a belief that to solve the world's greatest 
                challenges, donors, nonprofits, funders, and other partners need 
                the right information in order to make confident, intelligent 
                decisions. We believe that more effective and informed giving will 
                inspire the entire philanthropic community, raise confidence, and, 
                as a result, increase giving and lead to greater impact and 
                innovation in the sector. Members are key investors and partners 
                in our work to strengthen the nonprofit sector and create a dynamic
                philanthropic community.
            </p>
            
            
            <form id="needyform" class="form white-back {{ needy ? '' : 'hidden' }}" 
                  method="POST" 
                  action="{{ url('/profile/needs') }}">
                
                {% include 'components.forms.needy_form_fields' with {
                    'questions': view.needyMap,
                    'needyData': old('needy') ? old('needy') : needy.details,
                    } 
                %}

                <div class="clear form-line"></div>   

                <br/>
                <button type="submit">
                    Save
                </button>
                <br/>
                <div class="clear"></div>

            </form>
            
            {% if not needy %}
                <div class="clear pull-left" id="gethelp" >
                    <br/><br/>
                    <span class="button-donate" style="cursor: pointer;">
                        GET HELP
                    </span>
                </div>
            {% endif %}
            
        </div>
        <div class="clear"></div>
    </div>
    
{% endblock %}
        
{% block js %}
    <script type="text/javascript">
        
        var getSideMenuHeight = function(){
            return 100 + $('.side-menu').height();
        };
        var getFooterPos = function(){
            return $('.common-newsletter-block').offset().top - 45 - getSideMenuHeight();
        };
        $( document ).scroll(function() {
            if(getFooterPos() < $(document).scrollTop()){
                $('.side-menu').addClass('stop');
            }else{
                $('.side-menu').removeClass('stop');
            }
        });
        
        $('#gethelp').on('click', function(){
            $(this).addClass('hidden');
            $('#needyform').removeClass('hidden');
        });
        
        $('input[type="radio"]').on('change', function(){
            var name = $(this).prop('name');
            var siblings = $('input[type="radio"][name="' + name + '"]');
            var otherIsSelected = false;
            $( siblings ).each(function( index ) {
                if( ($(this).prop('value') === 'Other' || $(this).prop('value') === 'Other (Specify)') && $(this).prop('checked') === true ){
                    otherIsSelected = true;
                }
            });
            
            if(otherIsSelected){
                $(this).siblings('input[type="text"]').prop('name', name).focus();
            }else{
                $(this).parent().parent().find('input[type="text"]').prop('name', '').prop('value', '');
            }
        });
        
    </script>
{% endblock %}
        
        


