{% extends 'base' %}

{% block components %}
    <script type="text/javascript" src="{{ asset('components/jquery-ui/jquery-ui.min.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset('components/jquery-ui/themes/flick/jquery-ui.min.css') }}" />
{% endblock %}

{% block content %}
    
    <div class="base-block">
        {% include 'frontend.nav.profilemenu' %}

        <div class="block">
            {% if session('success-message') %}
                <div class="success-message">
                    {{ session('success-message') }}
                </div>
                <div class="clear">
                    <br/><br/><br/>
                </div>
            {% endif %}
            <div class="title">Profile settings</div>
{#            <p>
                <b></b>
                Provide all necessary information about your self that we can contact and help you!
            </p>#}

            <form class="form" 
                    method="POST" 
                    action="{{ url('/profile/settings') }}">
                {% if errors.first() %}
                    <div class="note-message">
                        {{ errors.first() }}
                    </div>
                
                    <div class="clear form-line"></div>
                {% endif %}

                <div class="triple left">
                    <label>* First name</label>
                    <input class="{{ errors.has('first_name') ? 'error' : '' }}"
                           type="text" name="first_name" value="{{ old('first_name') ? old('first_name') : view.user.first_name }}">

                </div>
                <div class="triple">

                    <label>Middle name</label>
                    <input class="{{ errors.has('middle_name') ? 'error' : '' }}"
                           type="text" name="middle_name" value="{{ old('middle_name') ? old('middle_name') : view.user.middle_name }}">
                </div>
                <div class="triple right">

                    <label>* Last name</label>
                    <input class="{{ errors.has('last_name') ? 'error' : '' }}"
                           type="text" name="last_name" value="{{ old('last_name') ? old('last_name') : view.user.last_name }}">
                </div>

                <div class="triple left">
                    <label>* Email</label>
                    <input type="email" 
                           readonly
                           value="{{ old('email') ? old('email') : view.user.email }}">
                </div>
                <div class="triple">
                    <label>* Telephone</label>
                    <input class="{{ errors.has('phone') ? 'error' : '' }}"
                           type="text" name="phone" value="{{ old('phone') ? old('phone') : view.user.profile.phone }}">
                </div>
                <div class="triple right">
                    <label>Emergency contact</label>
                    <input class="{{ errors.has('emergency_contact') ? 'error' : '' }}"
                           type="text" name="emergency_contact" value="{{ old('emergency_contact') ? old('emergency_contact') : view.user.profile.emergency_contact }}">
                </div>

                <label>* Address</label>
                <input class="{{ errors.has('address') ? 'error' : '' }}"
                       type="text" name="address" value="{{ old('address') ? old('address') : view.user.profile.address }}">

                <div class="triple left hide-on-tablet">
                    <label>* State</label>
                    <select data-placeholder=" "
                        class="{{ errors.has('state') ? 'error' : '' }}"
                        id="state"
                        name="state">
                        <option></option>
                        {% for state in view.states %}
                            {% set stateValue = old('state') ? old('state') : view.user.profile.state %}
                            <option {{ stateValue == state.state_code ? 'selected' : '' }}
                                value="{{ state.state_code }}">{{ state.state }}</option>
                        {% endfor %}
                    </select>

                    <label>* Date of birth</label>
                    <input id="birthday"
                           class="{{ errors.has('birth_day') ? 'error' : '' }}"
                           type="text" name="birth_day" value="{{ old('birth_day') ? old('birth_day') : view.user.profile.birth_day|date("F.d.Y") }}">

                </div>
                <div class="triple hide-on-tablet">
                    <label>* City {{ old('city') }}</label>
                    <select data-placeholder=" "
                        id="cities"
                        class="{{ errors.has('city') ? 'error' : '' }}"
                        name="city">
                        {% if not old('city') %}
                            <option></option>
                            <option>Chose the state before ...</option>
                        {% endif %}
                    </select>
                </div>
                <div class="triple right">
                    <label>* Zip / Postal code</label>
                    <input class="{{ errors.has('zip') ? 'error' : '' }}"
                           type="number" name="zip" value="{{ old('zip') ? old('zip') : view.user.profile.zip }}">
                </div>

                <div class="clear form-line"></div>   

                <button type="submit">
                    Update profile
                </button>
                    
                <br/>
                <div class="clear"></div>
            </form>  
            <div class="clear">
                <br/><br/><br/>
                <br/><br/><br/>
            </div>
            <div class="title">Update email</div>

            <form class="form" 
                    method="POST" 
                    action="{{ url('/profile/settings/email') }}">
                {% if session('emailError') %}
                    <div class="note-message">
                        {{ session('emailError') }}
                    </div>
                {% endif %}

                <div class="double left">
                    <label>Current email</label>
                    <input type="text" 
                           readonly
                           value="{{ view.user.email }}">
                </div>
                <div class="double right">
                    <label>New email</label>
                    <input type="text" 
                           class="{{ session('emailError') ? 'error' : '' }}"
                           name="email" 
                           value="">
                </div>

                <div class="clear form-line"></div>   

                <button type="submit">
                    Update email
                </button>
                    
                <br/>
                <div class="clear"></div>
            </form> 
            <div class="clear">
                <br/><br/><br/>
                <br/><br/><br/>
            </div>
            <div class="title">Update password</div>

            <form class="form" 
                    method="POST" 
                    action="{{ url('/profile/settings/password') }}">
                {% if session('passwordError') %}
                    <div class="note-message">
                        {{ session('passwordError') }}
                    </div>
                {% endif %}

                <div class="double left">
                    <label>Current password</label>
                    <input class="{{ session('passwordError') ? 'error' : '' }}"
                           type="password" 
                           name="password">
                </div>
                <div class="double right">
                    <label>New password</label>
                    <input class="{{ session('passwordError') ? 'error' : '' }}"
                           type="password" 
                           name="password_confirmation">
                </div>

                <div class="clear form-line"></div>   

                <button type="submit">
                    Update password
                </button>
                    
                <br/>
                <div class="clear"></div>
            </form>
        </div>
        <div class="clear"></div>
    </div>
    
{% endblock %}
        
{% block js %}
    <script type="text/javascript">
        
        var getSideMenuHeight = function(){
            return 100 + $('.side-menu').height();
        };
        var getFooterPos = function(){
            return $('.common-newsletter-block').offset().top - 45 - getSideMenuHeight();
        };
        $( document ).scroll(function() {
            if(getFooterPos() < $(document).scrollTop()){
                $('.side-menu').addClass('stop');
            }else{
                $('.side-menu').removeClass('stop');
            }
        });
        
        var citiesUrl = "{{ url('/locations/cities/') }}/";
        var oldCity = '{{ old('city') ? old('city') : view.user.profile.city }}';
        var setStateCities = function(state){
            $.ajax({
                url: citiesUrl +state,
                method: "GET"
            }).done(function( listOfCities ) {
                repopulateChosenCities(listOfCities);
            });
        };
        var repopulateChosenCities = function(listOfCities){
            $("#cities option").remove();
            addOptionToCitiesSelect(null);
            for(city in listOfCities){
                addOptionToCitiesSelect(listOfCities[city]);
            }
            $('#cities').trigger('chosen:updated');
        };
        var addOptionToCitiesSelect = function(city){
            var innerText = city ? city.state_code + ', ' + city.city : '';
            var value = city ? city.city : '';
            var isOldCity = false;
            if( value != '' ){
                isOldCity = value == oldCity ? true : false;
            }
            var el = $("<option " +(isOldCity ? 'selected' : '')+ " value=\"" +value+ "\">" +innerText+ "</option>");
            $('#cities').append(el);
        };
        $("#cities").chosen({
            no_results_text: "Nothing found!",
            inherit_select_classes: true
        }).change( function(){
            $(this).next().addClass('changed');
        });
        
        var currentSelectedState = $("#state option[selected]").val();
        if(currentSelectedState){
            setStateCities(currentSelectedState);
        }
        
        $("#state").chosen({
            no_results_text: "Nothing found!",
            inherit_select_classes: true
        }).change( function(e, p){
            setStateCities(p.selected);
            $(this).next().addClass('changed');
        });
        $( "#birthday" ).datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'MM.dd.yy',
            yearRange: "-108:+0"
        });
        $( "input" ).on('change', function(){
            $(this).addClass('changed');
        });
        
    </script>
{% endblock %}
        
        


