{% extends 'base' %}

{% block content %}
    
    <div class="base-block">
        {% include 'frontend.nav.profilemenu' %}
    
        <div class="block">
            {% if session('success-message') %}
                <div class="success-message">
                    {{ session('success-message') }}
                </div>
                <div class="clear">
                    <br/><br/><br/>
                </div>
            {% endif %}
            <div class="title">Photo</div>
            
            <div class="clear"></div>
            
            <form enctype="multipart/form-data" 
                  action="{{ url('profile/uploads/photo') }}" 
                  method="post" 
                  class="form pull-left"
                  style="width:200px;">
            {% if form.errors|length > 0 %}<span class="notice-message">{{ form.errors.first() }}</span>{% endif %}
                <div class="field">
                    <div class="images-uploader-block company-logo">
                        <input type="file" class="hidden logo-image"/>
                        <div class="uploaded-images">
                            <div class="image uploaded-image">
                                <div class="mini-image">
                                    <div class="image-back"
                                         style="background: url('{{ photo?photo: asset('assets/img/photo.jpg') }}') center center no-repeat; 
                                                background-size: cover;
                                                width: 200px; height: 200px; margin-bottom: 5px;">
                                    </div>
                                </div>
                                <textarea class="hidden base-64-storage" name="photo" disabled></textarea>
                            </div>
                        </div>
                        <button class="upload-image-button" type="button" style="width: 200px; margin-bottom: 5px;">
                            <div class="image-uploader-loader" style="display: none;"><img src="{{ url('assets/img/image-loader.gif') }}" /></div>
                            <span class="glyphicon glyphicon-file pull-left"></span>
                            Choose
                        </button>
                    </div>
                </div>
                <button type="submit" class="green" style="width: 200px;">
                    <span class="glyphicon glyphicon-floppy-disk pull-left"></span>
                    Save
                </button>
                <div class="clear"></div>
            </form>
            
                            
            
            <div class="clear">
                <br/><br/><br/>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    
{% endblock %}
        
{% block js %}

    <script type="text/javascript" src="{{ asset('components/blueimp-load-image/js/load-image.all.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/services/fileService.js') }}"></script>
    
    
    <script type="text/javascript">
        
        var getSideMenuHeight = function(){
            return 100 + $('.side-menu').height();
        };
        var getFooterPos = function(){
            return $('.common-newsletter-block').offset().top - 45 - getSideMenuHeight();
        };
        $( document ).scroll(function() {
            if(getFooterPos() < $(document).scrollTop()){
                $('.side-menu').addClass('stop');
            }else{
                $('.side-menu').removeClass('stop');
            }
        });
        
    </script>
{% endblock %}
        
        


