{% extends 'base' %}

{% block components %}
    <script type="text/javascript" src="{{ asset('components/jquery-timepicker-jt/jquery.timepicker.min.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset('components/jquery-timepicker-jt/jquery.timepicker.css') }}" />
{% endblock %}

{% block content %}
    
    <div class="base-block">
        {% include 'frontend.nav.profilemenu' %}
    
        <div class="block">
            <div class="title">Volunteerings</div>

            <p>
                <b>Volunteers are a key component to our operations. They are the backbone to the services we provide.</b><br/><br/>
                
            </p>
            {% set isVolunteer = view.utils.isVolunteer(view.user.id) %}
            {% if isVolunteer %}
                <div class="double left">
                    <p>
                        <b>My schedule</b><br/><br/>
                    </p>
                    {% if shedule %}
                        <table class="simple-list">
                            <tr>
                                <td style="padding-right: 10px;">
                                    <b>Monday</b>
                                </td>
                                <td>
                                    {% for job in jobs %}
                                        {% if shedule.monday.position == job.id %}
                                            <a href="{{ url('volunteering/position')~'/'~job.id }}"
                                               target="_blank">
                                                {{ job.title }}
                                            </a>
                                        {% endif %}
                                    {% endfor %} 
                                </td>
                                <td class="nowrap text-right" style="padding-left: 10px;">
                                    {{ shedule.monday.from }} - {{ shedule.monday.to }}
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 10px;">
                                    <b>Tuesday</b>
                                </td>
                                <td>
                                    {% for job in jobs %}
                                        {% if shedule.tuesday.position == job.id %}
                                            <a href="{{ url('volunteering/position')~'/'~job.id }}"
                                               target="_blank">
                                                {{ job.title }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td class="nowrap text-right" style="padding-left: 10px;">
                                    {{ shedule.tuesday.from }} - {{ shedule.tuesday.to }}
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 10px;">
                                    <b>Wednesday</b>
                                </td>
                                <td>
                                    {% for job in jobs %}
                                        {% if shedule.wednesday.position == job.id %}
                                            <a href="{{ url('volunteering/position')~'/'~job.id }}"
                                               target="_blank">
                                                {{ job.title }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td class="nowrap text-right" style="padding-left: 10px;">
                                    {{ shedule.wednesday.from }} - {{ shedule.wednesday.to }}
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 10px;">
                                    <b>Thursday</b>
                                </td>
                                <td>
                                    {% for job in jobs %}
                                        {% if shedule.thursday.position == job.id %}
                                            <a href="{{ url('volunteering/position')~'/'~job.id }}"
                                               target="_blank">
                                                {{ job.title }}
                                            </a>
                                        {% endif %}
                                    {% endfor %} 
                                </td>
                                <td class="nowrap text-right" style="padding-left: 10px;">
                                    {{ shedule.thursday.from }} - {{ shedule.thursday.to }}
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 10px;">
                                    <b>Friday</b>
                                </td>
                                <td>
                                    {% for job in jobs %}
                                        {% if shedule.friday.position == job.id %}
                                            <a href="{{ url('volunteering/position')~'/'~job.id }}"
                                               target="_blank">
                                                {{ job.title }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td class="nowrap text-right" style="padding-left: 10px;">
                                    {{ shedule.friday.from }} - {{ shedule.friday.to }}
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 10px;">
                                    <b>Saturday</b>
                                </td>
                                <td>
                                    {% for job in jobs %}
                                        {% if shedule.saturday.position == job.id %}
                                            <a href="{{ url('volunteering/position')~'/'~job.id }}"
                                               target="_blank">
                                                {{ job.title }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td class="nowrap text-right" style="padding-left: 10px;">
                                    {{ shedule.saturday.from }} - {{ shedule.saturday.to }}
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 10px;">
                                    <b>Sunday</b>
                                </td>
                                <td>
                                    {% for job in jobs %}
                                        {% if shedule.sunday.position == job.id %}
                                            <a href="{{ url('volunteering/position')~'/'~job.id }}"
                                               target="_blank">
                                                {{ job.title }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td class="nowrap text-right" style="padding-left: 10px;">
                                    {{ shedule.sunday.from }} - {{ shedule.sunday.to }}
                                </td>
                            </tr>
                        </table>
                        <div class="clear"><br/></div>
                        <button class="btn small shedule-button">Update shedule</button>
                    {% else %}
                        <button class="btn small shedule-button">Create shedule</button>
                    {% endif %}

                </div>
                <div class="double right">
                    <p>
                        <b>My applies</b><br/><br/>
                    </p>
                    <table class="simple-list">

                        {% for job in jobs %}
                            <tr>
                                <td>
                                    <a href="{{ url('volunteering/position')~'/'~job.id }}">
                                        {{ job.title|slice(0, 40) }}
                                        {{ job.title|length > 40 ? '...' : '' }}
                                    </a>
                                    <br/>
                                    {{ job.details|striptags|slice(0, 100)|raw }}
                                    {{ job.details|length > 99 ? ' ...' : '' }}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <a href="{{ url('volunteering/positions') }}">
                                    View all open positions
                                </a>
                            </td>
                        </tr>

                    </table>
                </div>
            {% endif %}

            <div class="clear">
                <br/><br/><br/>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    {% include 'frontend.profile.popup.shedule' %}
{% endblock %}
        
{% block js %}
    <script type="text/javascript">
        
        var getSideMenuHeight = function(){
            return 100 + $('.side-menu').height();
        };
        var getFooterPos = function(){
            return $('.common-newsletter-block').offset().top - 45 - getSideMenuHeight();
        };
        $( document ).scroll(function() {
            if(getFooterPos() < $(document).scrollTop()){
                $('.side-menu').addClass('stop');
            }else{
                $('.side-menu').removeClass('stop');
            }
        });
        $('.shedule-button').on('click', function(){
            $('.shedule-popup').modal('show');
            $('.shedule-popup .chosen-container').css('width', '100%');
        });
        
        $(".chosen-positions").chosen({
            no_results_text: "Nothing found!",
            inherit_select_classes: true
        });
        
        $('.time-picker').timepicker();
        
        $('.save-shedule').on('click', function(){
            $('.shedule-popup form').submit();
        });
    </script>
{% endblock %}
        
        


