<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
    <style>
        a.ironboard-link:hover,
        a.ironboard-link-small:hover{
            text-decoration: underline;
            color: #0a5594;
        }
        a.ironboard-link{
            color: #00b4ff;
            text-decoration: none;
        }
        a.ironboard-link-small{
            color: #777777;
            font-size: 12px;
            text-decoration: none;
        }
        a.ironboard-link-board{
            color: #0c9ad5;
        }
        a.ironboard-link-board-highlighted{
            color: #0a5594;
        }
        a.title{
            color: #0c9ad5;
        }
    </style>
    <table cellpadding="0" 
           cellspacing="0" 
           width="678" 
           border="0" 
           rules="none"
           style="font-family: Calibri, sans-serif; width: 678px;">
        <tr>
            <td>
                <br/>
                <img src="{{ message.embed(resources_path~'/other/header.png') }}"/>
                <br/>
                <br/>
                <font color="#1c548b" style="color: #1c548b; font-size: 24px;">
                    <b>
                        Fundraising Event
                    </b>
                </font>
                <br/>
                Jacaranda West Country Club<br/>
                April 29, 2017
                <br/><br/>
                <font color="#1c548b" style="color: #1c548b; font-size: 14px;">
                    <b>
                        Dinner, Dancing, Silent Auction, Raffle, Cash Bar.
                    </b>
                </font>
                <br/>
                <br/>
                <br/>
                
                <font size="4" style="font-family: Calibri, sans-serif; font-size: 14px;">
                    <b>
                        Dear Friends, 
                        <br/>
                        <br/>
                        we are hosting a Fundraising Dinner and invite
                        you to be our special guests.
                        <br/>
                        <br/>
                        As a community outreach organization, our mission is to serve the underprivileged 
                        experiencing unexpected crisis and those with minor physical 
                        and/or mental health conditions throughout North Port and South 
                        County.
                        
                        
                        
                        
                        <br/>
                        <br/>
                        Without our services many of our clients would find themselves homeless.
                        <br/>
                        <br/>
                        <font color="#1c548b" style="color: #1c548b;">
                            <b>
                                Your R.S.V.P. is requested by April 20, to ensure proper food selection and seating.
                                You can reserve any amount of seats, each table can accommodate eight or ten people.
                            </b>
                        </font>
                        <br/>
                        <br/>
                        Your dinner selection menu is attached.
                        <br/><br/>
                        The address is:<br/>
                        Jacaranda West Country Club, <br/>
                        1901 Jacaranda Blvd, Venice, FL
                    </b>
                </font>
                <br/>
                <br/>
                <br/>
                <a target="_blank" href="http://www.faceofhope211.org/events"><img src="{{ message.embed(resources_path~'/other/click.png') }}"/></a>
                <br/>
                <br/>
                <br/>
                Or follow this link: 
                <a target="_blank" href="http://www.faceofhope211.org/events">
                    http://www.faceofhope211.org/events
                </a>
                <br/>
                <br/>
                <br/>
                <hr>
                The gift of hope is the greatest gift of all. Come be a part of something wonderful!
                <br/>
                <br/>
                <br/>
                <br/>
                <table cellpadding="0"
                       cellspacing="0"
                       width="678"
                       border="0"
                       rules="none"
                       bgcolor="#ffffff"
                       style="font-family: Calibri, Helvetica, sans-serif;
                       font-size: 14px;
                       width: 678px;
                       margin: 0 auto;
                       border-collapse: collapse; 
                       border: 0px solid #cccccc;">
                    <tr>
                        <td align="left"
                            width="99%"
                            style="border-color: transparent;">
                            <font size="2" color="#777777">
                                Learn more about us 
                                <a href="http://www.faceofhope211.org" class="ironboard-link" style="color: #00b4ff; text-decoration: none;">
                                    {{ view.app.name }}
                                </a>
                                <br/>
                                If this email is unsolicited, please 
                                <a href="{{ 'http://www.faceofhope211.org/unsubscribe?unsubscribe=' ~ hashedMail }}" class="ironboard-link" style="color: #00b4ff; text-decoration: none;">
                                    click here 
                                </a>
                                to 
                                <a href="{{ 'http://www.faceofhope211.org/unsubscribe?unsubscribe=' ~ hashedMail }}" class="ironboard-link" style="color: #00b4ff; text-decoration: none;">
                                    unsubscribe.  
                                </a>
                                <br/>
                                <br/>
                            </font>
                            <font size="2" color="#cccccc">
                                Copyright &copy; 2011 - {{ "now"|date("Y") }} {{ view.app.name }}. All rights reserved.
                            </font>
                        </td>
                        <td align="center"
                            width="1%"
                            valign="top"
                            style=" border-color: transparent;">
                            <a href="http://www.faceofhope211.org">
                                <img src="{{ message.embed(resources_path~'/assets/img/logo-mini.png') }}" 
                                     width="96"/>
                            </a>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</body>
</html>