@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Oswald:300,400');
@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "susy";
body{
    line-height: 19px;
    font-family: 'Open Sans', sans-serif;
}
.logo{
    @include span( 100 of 100 border-box );
    position: absolute;
    left: 0;
    top: 90px;
    z-index: 90;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    height: 15%;
    a{
        color: #555555;
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
        display: inline-block;
        height: 100%;
        img{
            margin: 0 auto;
            height: 100%
        }
    }
    &:hover{
        color: #333333;
        text-decoration: none;
    }

    .logo-contacts{
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        @include transition-duration(.3s);
        @include transition-timing-function(ease);
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        color: #777777;
        line-height: 28px;
        overflow: hidden;
        height: 0;
        width: 100%;
        padding: 25px 0 0 0;
        position: absolute;
        left: 0;
        top: 100%;
        opacity: 0;
        clear: both;
        b{
            font-size: 24px;
            font-weight: 400;
            line-height: 38px;
        }
        &.animate{
            opacity: 1;
            height: 500px;
        }
    }
    label{
        cursor: pointer;
    }
    
}
.clear{
    clear: both;
}
.social{
    @include span( 100 of 100 border-box );
    position: fixed;
    right: 0;
    top: 30%;
    background: none;
    z-index: 35;
    width: 50px;
    padding: 5px 0 0 3px;
    border-radius: 4px 4px 4px 4px;
    border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
    border: 0px solid #000000;
    &.stop{
        top: -1000px;
    }
    li{
        display: block;
        a{
            @include span( 100 of 100 border-box );
            display: block;
            height: 42px;
            width: 43px;
            background: url('../img/vector/social.svg') no-repeat;
            background-size: 170px 170px;
            margin: 0 0 4px 0;
            opacity: .45;
            @include transition-duration(.3s);
            @include transition-timing-function(ease);
            &.google{
                background-position: -128px -43px;
                
            }
            &.facebook{
                background-position: 1px 0px;
            }
            &.twitter{
                background-position: -42px 0px;
            }
            &.linkedin{
                background-position: -128px -86px;
            }
            &:hover{
                opacity: 1;
            }
        }
    }
}
.double{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    &.left{
        float: left;
        padding: 0 15px 0 0;
    }
    &.right{
        float: right;
        padding: 0 0 0 15px;
    }
}
.triple, .qadruple, quintuple{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333333%;
    float: left;
    padding: 0 7px 0 7px;
    &.left{
        float: left;
        padding: 0 8px 0 0;
    }
    &.right{
        float: right;
        padding: 0 0 0 8px;
    }
}
.qadruple{
    width: 25%;
}

.base-block{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 100px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(209,239,248,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(80%, rgba(255,255,255,1)), color-stop(100%, rgba(209,239,248,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(209,239,248,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(209,239,248,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(209,239,248,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(209,239,248,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1eff8', GradientType=0 );
    &.grey-back{
        background: #f8f8f8;
    }
    .block{
        padding: 0 0 0 270px;
        min-height: 500px;
        &.without-menu{
            padding: 0;
        }
        .title{
            @include span( 1 of 1 border-box );
            border-bottom: 1px solid #cccccc;
            font-size: 28px;
            font-family: 'Oswald', sans-serif;
            font-weight: 400;
            padding: 0 0 25px 0;
        }
        p{
            b{
                font-family: 'Oswald', sans-serif;
                font-weight: normal;
                font-size: 16px;
            }
            @include span( 1 of 1 border-box );
            font-size: 14px;
            line-height: 21px;
            font-family: 'Open Sans', sans-serif;
            padding: 25px 0 0 0;
        }
        form{
            padding: 25px 0 0 0;
            background: none;
            border: 0;
        }
    }
}
b{
    font-weight: bold;
}
.rating-desc{
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    height: 0;
    width: 0;
    border: 0;
    padding: 0;
    margin: 0;
}
.button-donate,
a .button-donate{
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    background: #f78000;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 1);
}
.nowrap{
    white-space: nowrap;
}
.form-line{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 10px;
    margin: 0 0 25px 0;
    border-bottom: 1px solid #e1e1e1;
}
.collapsed,
.form .collapsed{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    height: 0;
}
.base-block .block .timce-code-block,
.timce-code-block{
    *{
        padding: 0;
        margin: 0;
    }
    p{
        display: inline-block;
        width: auto;
        min-width: 0;
        max-width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 100%;
        vertical-align: baseline;
        float: none;
        margin: 0 0 15px 0px;
        display: block; 
        unicode-bidi: embed;
        line-height: 21px;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
    }
    strong, b {
        font-weight: bold;
    }
    i, em{
        font-style: italic;
    }
    img{
        margin: 0 15px 10px 15px;
        clear: none;
        &[style*="float:left"]{
            margin-left: 0px;
        }
        &[style*="float:right"]{
            margin-right: 0px;
        }
    }
}
.applied{
    white-space: nowrap;
    font-weight: bold;
    color: #777777;
}
.btn.small.apply{
    border: 1px solid transparent;
    background: #4175a7;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.pagination{
    @include span( 100 of 100 border-box );
    display: block;
    padding: 55px 0;
    margin: 0 auto;
    text-align: center;
    .page{
        display: inline-block;
        padding: 3px 5px;
        border: 1px solid #cccccc;
        background: #ffffff;
        color: #4175a7;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        &:hover{
            background: #f8f8f8;
        }
        &.active{
            border: 1px solid #4175a7;
            background: #4175a7;
            color: #ffffff;
        }
    }
}

.sign{
    display: inline-block;
    border: 1px solid #e1e1e1;
    background: #ffffff;
    padding: 0 5px;
    margin-top: 5px;
    white-space: nowrap;
}