form{
    .btn-group{
        margin: 0 0 15px 0;
        &>label.btn{
            border-radius: 0px 0px 0px 0px;
            -moz-border-radius: 0px 0px 0px 0px;
            -webkit-border-radius: 0px 0px 0px 0px;
            border: 0px solid #000000;
            height: auto;
            padding: 8px 14px;
            margin-left: 4px;
            margin: 0px 0px 4px 4px;
            font-size: 16px;
            text-transform: capitalize;
            font-weight: normal;
            background: #ffffff;
            border: 1px solid #cccccc;
            color: #555555;
            position: static;
            float: left;
            -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
            &+.btn{
                margin: 0px 0px 4px 4px;
            }
            &.active{
                background: #5e9f09;
                color: #ffffff;
                border: 1px solid transparent;
                &:hover, &:active{
                    background: #5e9f09;
                    color: #ffffff;
                }
            }
            &:hover, &:focus, &:active{
                color: #5e9f09;
                border: 1px solid #5e9f09;
                background: #ffffff;
            }
        }
        &.simple-buttons{
            width: 100%;
            &>label.btn{
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                font-size: normal;
                color: #1e1e1e;
                padding: 5px 10px;
                margin: 0 10px 10px 0;
                text-transform: none;
                text-align: left;
                &.active{
                    background: #4175a7;
                    color: #ffffff;
                    border: 1px solid #4175a7;
                    &:hover, &:active{
                        background: #4175a7;
                        color: #ffffff;
                    }
                }
                &:hover, &:focus, &:active{
                    border: 1px solid #85a8c8;
                    color: #285278;
                    background: #ffffff;
                }
            }
        }
    }
}
.btn{
    &.small{
        border: 1px solid #cccccc;
        background: #f8f8f8;
        color: #313131;

    }
}