.footer{
    @include span( 1 of 1 border-box );
    padding: 45px 0 0 0;
    text-align: left;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    background: #4175a7;
    font-weight: 300;
    position: relative;
    border-top: 1px solid #ffffff;
    color: rgba(255,255,255,.9);
    .footer-logo{
        display: inline;
        width: 200px;
        margin: 0 0 0 25px;
    }
    .phone{
        font-size: 34px;
        color: #ffffff;
    }
    a{
        color: #ffffff;
    }
    .copy{
        @include span( 1 of 1 border-box );
        background: #214b74;
        text-align: left;
        padding: 5px;
        font-size: 12px;
        font-weight: 300;
        color: rgba(255,255,255,.4);
    }
    .other-details{
        position: absolute;
        width: 250px;
        right: 25px;
        top: 45px;
        text-align: right;
        z-index: 1;
    }
    .footer-nav{
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        width: 70%;
        z-index: 10;
        left: 50%;
        margin: 0 0 0 -30%;
        top: 45px;
        .footer-nav-block{
            @include span( 1 of 3 border-box );
            padding: 0 35px;
            margin: 0;
            max-width: 310px;
            text-align: center;
            .title{
                @include span( 1 of 1 border-box );
                padding: 0 0 15px 0;
                font-family: 'Oswald', sans-serif;
                font-size: 20px;
                font-weight: normal;
                color: #ffffff;
                
            }
            a{
                display: inline-block;
                padding: 8px;
                
            }
        }
    }
}