.form{
    width: 100%;
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    background: #f8f8f8;
    padding: 20px;
    margin: 0 auto;
    text-align: left;
    line-height: 19px;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 7px solid #cccccc;
    font-size: 14;
    &.white-back{
        background: #ffffff;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    select,
    textarea{
        @include span( 100 of 100 border-box );
        display: block;
        height: 45px;
        padding: 10px 18px;
        border: 1px solid #aaaaaa;
        color: #333333;
        margin-bottom: 15px;
        font-weight: 300;
        &:focus{
            outline: none;
            border: 1px solid #777777;
        }
        &.error{
            border: 1px solid #e77c5b;
            background: #ffede8;
        }
        &.changed{
            background: #ffffff;
            border: 1px solid #9fbdd8;
        }
        /* Webkit */
        &::-webkit-input-placeholder { color: #777777; }
        /* Firefox 4-18 */
        &:-moz-placeholder { color: #777777; }
        /* Firefox 19+ */
        &::-moz-placeholder { color: #777777; }
        /* IE10+ */
        &:-ms-input-placeholder { color: #777777; }
    }
    textarea{
        height: auto;
        min-height: 150px;
    }
    label{
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 0 8px 0;
        color: #333333;
        font-size: 14px;
        font-family: 'Oswald', sans-serif;
        .note{
            font-size: 13px;
            font-family: 'Open Sans', sans-serif;
            color: #555555;
        }
    }
    button{
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: #2192ad;
        color: #ffffff;
        font-weight: normal;
        height: 45px;
        padding: 0 25px;
        border: 1px solid #2192ad;
        &:hover{
            background: #2192ad;
        }
        &:focus{
            outline: none;
        }
    }
    a{
        font-size: 14px;
        color: #2192ad;
        font-weight: 300;
        text-align: left;
        line-height: 18px;
        &:hover{
            text-decoration: underline;
        }
    }
    .form-checkbox{
        font-weight: 300;
    }
    .simple-checkbox{
        display: inline-block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: #1e1e1e;
        padding: 4px 8px 4px 8px;
        border: 1px solid transparent;
        margin: 0;
        text-transform: none;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        cursor: pointer;
        &:hover{
            border: 1px solid #e1e1e1;
            background: #ffffff;
        }
    }
}
.chosen-container{
    @include span( 100 of 100 border-box );
    display: block;
    background: #ffffff;
    height: 45px;
    padding: 10px 18px;
    margin: 0;
    border: 1px solid #aaaaaa;
    color: #333333;
    margin-bottom: 15px;
    font-weight: 300;
    text-align: left;
    line-height: 19px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14;
    &:focus{
        outline: none;
        border: 1px solid #777777;
    }
    &.error{
        border: 1px solid #e77c5b;
        background: #ffede8;
    }
    &.changed{
        background: #ffffff;
        border: 1px solid #9fbdd8;
    }
    &.chosen-container-single .chosen-single,
    &.chosen-container-single a,
    .chosen-single{
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
        background: none;
        border: 0px;
        padding: 0;
        margin: 0;
        border-radius: 0px 0px 0px 0px;
        -moz-border-radius: 0px 0px 0px 0px;
        -webkit-border-radius: 0px 0px 0px 0px;
        border: 0px solid #000000;
        text-decoration: none;
    }
    &.chosen-container-single .chosen-search{
        padding: 0;
        margin: 0;
        input{
            border: 0px;
            padding: 10px 18px;
            border-bottom: 1px solid #cccccc;
            background: white;
        }
    }
    .chosen-single div,
    &.chosen-with-drop .chosen-single div{
        right: -10px;
    }
    &.chosen-container-single .chosen-drop{
        margin: 1px 0 0 0;
    }
    .chosen-results{
        padding: 0;
        margin: 0;
        clear: both;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        font-size: 14px;
        color: #333333;
        .active-result{
            @include transition-duration(.3s);
            @include transition-timing-function(ease);
            padding: 10px 18px;
            &.highlighted{
                background: #f8f8f8;
                color: #333333;
                padding: 10px 0px 10px 22px;
                font-weight: bold;
            }
        }
    }
}
.note-message,
.success-message{
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    border: 1px solid #f0d498;
    background: #fff5e0;
    color: #7c5604;
    margin-bottom: 10px;
    clear: both;
    font-family: 'Open Sans', sans-serif;
}
.success-message{
    border: 1px solid #5e9f09;
    background: #ecf9db;
    color: #3a5318;
}
.form-details{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 19px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    b{
        font-family: 'Oswald', sans-serif;
        font-weight: normal;
        font-size: 16px;
    }
}
.form-title{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    background: rgb(247, 128, 0);
    color: #ffffff;
    padding: 15px 20px ;
}
button.btn{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: normal;
    
    &.orange{
        background: #f78000;
        color: #ffffff;
    }
}