header{
    @include span( 100% border-box); 
    position: relative;
    padding: 45px 0 0 0;
    .login-nav{
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 45px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 101;
        white-space: no-wrap;
        a{
            display: inline-block;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-decoration: none;
            font-weight: 300;
            font-size: 14px;
            color: #ffffff;
            margin: 15px 8px 0 0;
            padding: 0px 8px 0 0;
            cursor: pointer;
            font-family: 'Open Sans', sans-serif;
            &:first-child{
                border-right: 1px solid #ffffff;
            }
            &.forgot-password{
                position: absolute;
                right: 5px;
                bottom: -18px;
                color: #2192ad;
                border: 0;
                font-size: 12px;
                padding: 0;
                margin: 0;
            }
            &:hover{
                text-decoration: underline;
            }
        }
    }
}