.home-banner{
    @include span( 1 of 1 border-box );
    display: block;
    height: 500px;
    position: relative;
    top: 0px;
    overflow: hidden;
    background: rgba(255,255,255,0.9);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.9) 7%, rgba(212,226,250,0.9) 39%, rgba(130,172,240,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(7%, rgba(255,255,255,0.9)), color-stop(39%, rgba(212,226,250,0.9)), color-stop(100%, rgba(130,172,240,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.9) 7%, rgba(212,226,250,0.9) 39%, rgba(130,172,240,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.9) 7%, rgba(212,226,250,0.9) 39%, rgba(130,172,240,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.9) 7%, rgba(212,226,250,0.9) 39%, rgba(130,172,240,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.9) 7%, rgba(212,226,250,0.9) 39%, rgba(130,172,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#82acf0', GradientType=0 );
    z-index: 50;
    @include transition-duration(1.5s);
    @include transition-timing-function(ease);
    & *{
        @include transition-duration(1.5s);
        @include transition-timing-function(ease);
    }
    .home-button{
        opacity: 1;
        &.next{ right: 4%;}
        &.back{left: 4%;}
    }
    .cloud{
        @include span( 40 of 100 border-box );
        position: absolute;
        z-index: 9;
        margin: 0;
        &.left{
            right: 61%;
            bottom: -9px;
        }
        &.right{
            left: 61%;
            bottom: -9px;
        }
    }
    .hends{
        @include span( 100 of 100 border-box );
        position: absolute;
        bottom: -20px;
        left: 0;
        height: 30%;
        .hend{
            height: 100%;
            position: absolute;
            z-index: 2;
            margin: 0;
            opacity: 1;
            &.left{
                right: 51%;
            }
            &.right{
                left: 51%;
            }
        }
    }
    .hends-back{
        @include span( 100 of 100 border-box );
        position: absolute;
        left: 0;
        bottom: -5px;
        z-index: 1;
        height: 170%;
        margin: 0 0 0 0;
    }
    .heart{
        @include span( 100 of 100 border-box );
        position: absolute;
        top: 0;
        left: 0;
        height: 61%;
        z-index: 4;
        img{
            display: block;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            height: 100%;
            margin: 0 auto;
            opacity: 1;
        }
    }
    .text{
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 15%;
        color: #333333;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        top: 55px;
        z-index: 8;
        line-height: 19px;
        b{
            color: #33679a;
            display: block;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-weight: 700;
            padding-bottom: 8px;
        }
        &.left{
            right: 71%;
            .bottom{
                position: absolute;
                width: 100%;
                right: -100px;
                top: 200px;
            }
        }
        &.right{
            left: 71%;
            .bottom{
                position: absolute;
                width: 100%;
                left: -100px;
                top: 200px;
            }
        }
    }
    .rays{
        position: absolute;
        height: 100%;
        width: 140%;
        top: 0;
        left: -20%;
        overflow: hidden;
        img{
            @include transition-duration(.5s);
            @include transition-timing-function(ease);
            width: 100%;
            height: 140%;
            position: absolute;
            left: 0%;
            opacity: .20;
            bottom: 0%;
        }
    }
}
form.newsletters-home{
    @include span( 100 of 100 border-box );
    position: absolute;
    height: 200px;
    width: 700px;
    left: 50%;
    margin: 0 0 0 -350px;
    top: 535px;
    background: none;
    overflow: hidden;
    opacity: 1;
    border: 0;
    z-index: 20;
    @include transition-delay(0s);
    @include transition-duration(1.2s);
    @include transition-timing-function(ease);
    display: block;
    
    input[type="email"]{
        position: absolute;
        width: 520px;
        left: 15px;
        bottom: 0;
        margin: 0px;
    }
    button{
        position: absolute;
        width: 140px;
        right: 15px;
        bottom: 0;
        background: #f78000;
        border: 1px solid #f78000;
        &:hover{
            background: #f78000;
            border: 1px solid #f78000;
        }
    }
    h3{
        @include span( 100 of 100 border-box );
        position: absolute;
        left: 0;
        bottom: 70px;
        font-weight: 400;
        color: #333333;
        font-size: 26px;
        text-align: center;
    }
}
.about-us{
    @include span( 100 of 100 border-box );
    position: relative;
    height: 530px;
    margin: 200px 0 0 0;
    padding: 11% 20% 0 20%;
    @include transition-duration(.05s);
    @include transition-timing-function(ease);
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
    background: rgba(130,172,240,1);
    background: -moz-linear-gradient(top, rgba(130,172,240,1) 0%, rgba(189,211,247,0.9) 44%, rgba(255,255,255,0.9) 93%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(130,172,240,1)), color-stop(44%, rgba(189,211,247,0.9)), color-stop(93%, rgba(255,255,255,0.9)));
    background: -webkit-linear-gradient(top, rgba(130,172,240,1) 0%, rgba(189,211,247,0.9) 44%, rgba(255,255,255,0.9) 93%);
    background: -o-linear-gradient(top, rgba(130,172,240,1) 0%, rgba(189,211,247,0.9) 44%, rgba(255,255,255,0.9) 93%);
    background: -ms-linear-gradient(top, rgba(130,172,240,1) 0%, rgba(189,211,247,0.9) 44%, rgba(255,255,255,0.9) 93%);
    background: linear-gradient(to bottom, rgba(130,172,240,1) 0%, rgba(189,211,247,0.9) 44%, rgba(255,255,255,0.9) 93%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82acf0', endColorstr='#ffffff', GradientType=0 );
    @include transition-duration(1.5s);
    @include transition-timing-function(ease);
    border-top: 45px solid #ffffff;
    overflow: hidden;
    *{
        @include transition-duration(1.5s);
        @include transition-timing-function(ease);
    }
    .text{
        @include transition-duration(0.1s);
        @include transition-timing-function(ease);
        opacity: 1;
        position: relative;
        top: 0;
        z-index: 5;
    }
    .light-circles{
        position: absolute;
        right: 54%;
        top: 40px;
    }
    b{
        font-size: 14px;
        font-weight: bold;
    }
    .hends-back{
        @include span( 70 of 100 border-box );
        position: absolute;
        left: 50%;
        bottom: 0px;
        z-index: 1;
        margin: 0 0 0 -35%;
    }
    .cloud{
        @include span( 45 of 100 border-box );
        position: absolute;
        z-index: 3;
        margin: 0;
        &.left{
            right: 55%;
            top: -9px;
        }
        &.right{
            left: 55%;
            top: -9px;
        }
    }
}
.home-categories{
    @include span( 100 of 100 border-box );
    position: relative;
    height: 600px;
    z-index: 1;
    @include transition-duration(1.5s);
    @include transition-timing-function(ease);
    .categories-box{
        @include span( 100 of 100 border-box );
        position: absolute;
        left: 50%;
        opacity: 1;
        overflow: hidden;
        z-index: 91;
        margin: 55px 0 0 -450px;
        top: 10px;
        text-align: center;
        max-width: 900px;
        text-align: center;
        .category-block{
            display: block;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            display: block;
            width: 33.333333333%;
            height: 100%;
            padding: 15px;
            text-align: left;
            border-radius: 10px 10px 10px 10px;
            -moz-border-radius: 10px 10px 10px 10px;
            -webkit-border-radius: 10px 10px 10px 10px;
            border: 1px solid transparent;
            float: left;
            font-family: 'Open Sans', sans-serif;
            @include transition-duration(.5s);
            @include transition-timing-function(ease);
            &:hover{
                background: rgba(255,255,255, .3);
                .details{
                    border-bottom: 7px solid #f78000;
                }
            }
            .title{
                @include span( 100 of 100 border-box );
                background: #f78000;
                padding: 11px;
                font-size: 24px;
                font-family: 'Oswald', sans-serif;
                color: #ffffff;
            }
            .details{
                @include span( 100 of 100 border-box );
                background: #f8f8f8;
                padding: 11px;
                font-size: 14px;
                line-height: 19px;
                height: 280px;
                position: relative;
                border-bottom: 7px solid #cccccc;
                color: #333333;
                a{
                    display: block;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 8px 15px;
                    background: #1b728a;
                    text-decoration: none;
                    font-weight: bold;
                    color: #ffffff;
                    text-align: center;
                    position: absolute;
                    left: 50%;
                    bottom: 20px;
                    margin-left: -50px;
                    width: 100px;
                    &:hover{
                        background: #4299b1;
                    }
                }
            }

        }
    }
}

.home-button{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    height: auto;
    width: 170px;
    bottom: 5%;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #2192ad;
    background: #ffffff;
    font-weight: 400;
    color: #2192ad;
    padding: 14px 0;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    @include transition-duration(.3s);
    @include transition-timing-function(ease);
    &.next{ right: -24%;}
    &.back{left: -24%;}
    &:hover{
        border: 1px solid #054d5e;
        color: #054d5e;
    }
}
