.images-block{
    .view{
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 25px 20px 0 20px;
        font-size: 14px;
        color: #333333;
        line-height: 19px;
        font-family: 'Open Sans', sans-serif;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        &.quadruple{
            width: 25%;
            float: left;
        }
        &.octuple{
            width: 12.5%;
            float: left;
        }
        .image{
            display: block;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            padding-top: 95%; /* 1:1 Aspect Ratio */
            position: relative;
            height: -8px;
            overflow: hidden;
            margin: 0px 0px 20px 0px;
            border-radius: 200px 200px 200px 200px;
            -moz-border-radius: 200px 200px 200px 200px;
            -webkit-border-radius: 200px 200px 200px 200px;
            border: 4px solid #e1e1e1;
            img{
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                padding: 0;
                margin: 0;
                width: 100%;
            }
        }
    }
}
.images-uploader-block{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    .image-back{
        overflow: hidden;
        margin: 0;
        border: 4px solid #e1e1e1;
        
    }
}