.simple-list{
    @include span( 1 of 1 border-box );
    font-size: 14px;
    line-height: 19px;
    font-family: 'Open Sans', sans-serif;
    tr{
        &.simple-list-tabs{
            padding: 10px 25px;
            td{
                white-space: nowrap;
                font-weight: bold;
                border-right: 1px solid #e1e1e1;
                border-bottom: 1px solid #e1e1e1;
                border-top: 1px solid #e1e1e1;
                padding: 10px 25px;
                &:first-child{
                    border-left: 1px solid #e1e1e1;
                }
                &:first-child,
                &:last-child{
                    width: 1px;
                }
            }
        }
        td{
            padding: 10px 0;
            border-bottom: 1px solid #e1e1e1;
        }
    }
}

.job-title{
    color: #555555;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: normal;
    padding: 25px 0 0 0;
    color: #005b8f;
}