
nav {
    @include span( 100% border-box); 
    height: 45px;
    background: #4175a7;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    .nav{
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        list-style: none;
        height: 45px;
        font-family: 'Oswald', sans-serif;
        li{
            display: block;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            float: left;
            a{
                display: block;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                width: 100px;
                height: 45px;
                width: 100%;
                border-right: 1px solid #ffffff;
                text-decoration: none;
                font-weight: 300;
                font-size: 18px;
                color: #ffffff;
                padding: 12px 17px 0 17px;
                white-space: nowrap;
                cursor: pointer;
                &.active{
                    background: #f78000;
                    &:hover{
                        background: #f78000;
                    }
                }
                &:hover, &:focus, &:active{
                    background: #384774;
                }
                .glyphicon{
                    font-size: 15px;
                }
            }
        }
        &.profile{
            z-index: 2;
            left: auto;
            right: 0;
            li{
                float: right;
                a{
                    border: 0;
                    padding-right: 25px;
                    padding-left: 25px;
                    border-left: 1px solid #ffffff;
                    .glyphicon{
                        margin: 0 0 0 25px;
                    }
                }
                &:hover{
                    ul{
                        height: auto;
                    }
                }
            }
            ul{
                display: block;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                background: #f8f8f8;
                position: absolute;
                overflow: hidden;
                height: 0;
                right: 0;
                top: 45px;
                border-left: 1px solid #cccccc;
                li{
                    width: 100%;
                    a{
                        float: none;
                        text-align: right;
                        clear: both;
                        border: 0;
                        border-bottom: 1px solid #cccccc;
                        background: #ffffff;
                        color: #4175a7;
                        &:hover, &.active, &:focus, &:active{
                            color: #333333;
                            background: #f8f8f8;
                        }
                    }
                }
            }
        }
    }
}
