.common-newsletter-block{
    @include span( 1 of 1 border-box );
    height: 180px;
    background: #efefef;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #ffffff;
    padding: 24px;
    .statistics{
        @include span( 1 of 1 border-box );
        width: 250px;
        .title{
            @include span( 1 of 1 border-box );
            font-size: 26px;
            font-family: 'Oswald', sans-serif;
            padding: 0 0 25px 0;
            color: #333333;
            b{
                color: #4175a7;
            }
        }
        .st-option{
            @include span( 65 of 100 border-box );
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            padding: 0 0 2px 0;
            *{
                @include span( 35 of 100 border-box );
                padding: 0;
                margin: 0;
                border: 0;
                text-align: left;
            }
            .st-name{
                font-weight: 700;
                float: left;
            }
            .st-count{
                float: right;
            }
        }
    }
    .last-news{
        @include span( 1 of 1 border-box );
        width: 40%;
        position: absolute;
        left: 275px;
        top: 25px;
        padding: 8px 25px 0 25px;
        border-left: 1px solid #aaaaaa;
        border-right: 1px solid #aaaaaa;
        height: 130px;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        overflow: hidden;
        line-height: 18px;
        z-index: 5;
        .last-news-title{
            @include span( 1 of 1 border-box );
            padding: 0 0 8px 0;
            font-size: 16px;
            font-family: 'Oswald', sans-serif;
        }
    }
    form.form{
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 60%;
        padding: 15px 185px 0 300px;
        position: absolute;
        left: 40%;
        z-index: 4;
        background: none;
        border: none;
        h3{
            font-size: 22px;
            @include span( 1 of 1 border-box );
            padding: 0 0 15px 0;
            .icon-newsletters{
                display: inline-block;
                width: 22px;
                margin: 0 0 -1px 0;
            }
        }
        .small{
            position: absolute;
            right: 25px;
            bottom: 15px;
            width: 150px;
            font-size: 18px;
        }
        
    }
}

.newsletters-block{
    @include span( 1 of 1 border-box );
    background: #f8f8f8;
    padding: 0 25px 0 25px;
    .newsletters-back{
        max-width: 1200px;
        background: #ffffff;
        padding: 55px 35px 0 35px;
        margin: 0 auto;
    }
    .newsletter{
        @include span( 1 of 1 border-box );
        display: block;
        .title{
            @include span( 1 of 1 border-box );
            display: block;
            padding: 0 0 15px 0;
            font-size: 24px;
            font-weight: normal;
            color: #174979;
            font-family: 'Oswald', sans-serif;
            border-bottom: 1px solid #cccccc;
            position: relative;
            clear: both;
            .date{
                display: block;
                position: absolute;
                background: #ffffff;
                padding: 5px 10px;
                font-size: 14px;
                color: #555555;
                right: 15px;
                bottom: -12px;
                margin: 0;
                line-height: 19px;
                font-family: 'Open Sans', sans-serif;
            }
        }
        .details{
            @include span( 100 of 100 border-box );
            display: block;
            color: #555555;
            font-size: 14px;
            margin: 0;
            line-height: 19px;
            font-family: 'Open Sans', sans-serif;
            padding: 23px 0px 0 0;
            float: left;
            
        }
        .images{
            @include span( 20 of 100 border-box );
            display: block;
            float: right;
            margin: 0;
            padding: 25px 0 0 0;
            .image{
                @include span( 1 of 1 border-box );
                display: block;
                padding: 0 0 5px 0;
                img{
                    width: 100%;
                }
            }
        }
    }
}