.projects-banner{
    @include span( 100 of 100 border-box );
    display: block;
    height: 400px;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    position: relative;
    height: 80%;
    font-size: 14px;
    color: #1e1e1e;
    line-height: 19px;
    font-weight: bold;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    &.banner-1{
        background: url('../img/projects/banner-1.jpg') top left no-repeat content-box transparent;
        background-size: cover;
        .description{
            left: 8%;
            top: 200px;
        }
    }
    &.banner-2{
        background: url('../img/projects/banner-2.jpg') top right no-repeat content-box transparent;
        background-size: cover;
        .description{
            right: 8%;
            top: 100px;
        }
    }
    &.banner-3{
        background: url('../img/projects/banner-3.jpg') top left no-repeat content-box transparent;
        background-size: cover;
        .description{
            left: 8%;
            top: 100px;
        }
    }
    &.banner-4{
        background: url('../img/projects/banner-4.jpg') top right no-repeat content-box transparent;
        background-size: cover;
        .description{
            right: 8%;
            top: 100px;
        }
    }
    &.banner-5{
        background: url('../img/projects/banner-5.jpg') top left no-repeat content-box transparent;
        background-size: cover;
        .description{
            &.right{
                right: 8%;
                top: 200px;
                width: 35%;
            }
            &.left{
                left: 8%;
                top: 200px;
                width: 35%;
            }
        }
    }
    
    .back-button{
        padding: 10px;
        background: rgba(255,255,255,.25);
        border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px 4px 4px 4px;
        -webkit-border-radius: 4px 4px 4px 4px;
        border: 0px solid #000000;
        float: left;
        
    }
    .description{
        position: absolute;
        max-width: 590px;
        height: auto;
        font-weight: normal;
        color: #333333;
        .title{
            font-family: 'Oswald', sans-serif;
            font-weight: normal;
            font-size: 38px;
            color: #000000;
        }
        .project-title{
            font-family: 'Open Sans', sans-serif;
            font-weight: normal;
            font-size: 25px;
            color: #333333;
        }
    }
}