.side-menu{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 250px;
    position: fixed;
    left: 45px;
    top: 100px;
    z-index: 10;
    @include transition-duration(0.5s);
    @include transition-timing-function(ease);
    &.stop{
        @include transition-duration(0.5s);
        @include transition-timing-function(ease);
        top: -1000px;
    }
    .side-menu-logo{
        width: 90%;
        margin: 0 0 25px 0;
    }
    a{
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 14px 0 14px 10px;
        font-size: 18px;
        font-weight: normal;
        font-family: 'Oswald', sans-serif;
        border-bottom: 1px solid #cccccc;
        text-decoration: none;
        color: #555555;
        
        &:hover, &.active, &:active, &:focus{
            background: #f8f8f8;
            color: #337ab7;
        }
        .glyphicon{
            margin-right: 10px;
        }
    }
}