.veterans-banner{
    @include span( 100 of 100 border-box );
    display: block;
    height: 400px;
    background: url('../img/veterans/banner.jpg') top left no-repeat content-box transparent;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    position: relative;
    height: 80%;
    font-size: 14px;
    color: #ffffff;
    line-height: 19px;
    font-weight: bold;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    font-family: 'Open Sans', sans-serif;
    .back-button{
        padding: 10px;
        border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px 4px 4px 4px;
        -webkit-border-radius: 4px 4px 4px 4px;
        border: 0px solid #000000;
        float: left;
        
    }
    .description{
        position: absolute;
        left: 10%;
        top: 20%;
        width: 500px;
        height: auto;
        .title{
            font-family: 'Oswald', sans-serif;
            font-weight: normal;
            font-size: 38px;
        }
    }
}