{% extends 'base' %}

{% block content %}
    <div class="projects-banner banner-1">
        <div class="description">
            <h1 class="title">
                PROJECTS
            </h1>
            <br/><br/>
            <hr/>
            <br/><br/>
            <h2 class="project-title">
                NO MORE HOMELESSNESS!
            </h2>
            <br/>
            <br/>
            <b>
            <i style="font-size: 18px;">At Face_of_Hope we strive to improve people’s lives...</i>
            <br/>
            <br/>
            We screen and assist clients for access to Section 8 and affordable housing.
            <br/>
            Our case manager completes due diligence quickly to provide prompt service.
            <br/>
            Food pantry, clothing, furniture and hygiene products are readily available.
            <br/>
            We provide Temporary Financial Assistance for utility bills and rent to keep people in
            sustainable housing on a case-by- case basis.
            </b>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="projects-banner banner-2">
        <div class="description">
            <br/><br/>
            <h2 class="project-title">
                BUILD A BRIDGE
            </h2>
            <br/>
            <br/>
            <b>
            ​​We are calling on conglomerates, corporations, foundations, organizations, and businesses to join
            with us to provide assistance the needy vets and families in our community. This partnership will
            assure that we're doing all we can address the needs of clients that we serve.
            </b>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="projects-banner banner-3">
        <div class="description">
            <br/><br/>
            <h2 class="project-title">
                TEAMWORK
            </h2>
            <br/>
            <br/>
            <b>
            ​Teamwork, a good idea, but very few people actually utilize it. It's our objective to enhance teamwork
            so that even our volunteers can impact their own lives along with our clients. We are committed to
            creating a facility that cultivates personal growth. Join us in a partnership that makes our community
            a better place to live and work.
            </b>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="projects-banner banner-4">
        <div class="description">
            <br/><br/>
            <h2 class="project-title">
                WHY EDUCATE
            </h2>
            <br/>
            <br/>
            <b>
            ​If knowing is half the battle, then educating is the weapon to win. 
            We can't win the war alone. It takes all of us to make this process 
            a winning formula. Bring awareness to the issues in our region. 
            Here's how you can help, partner up with us as we fight homelessness 
            and proverty in our region.
            </b>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="projects-banner banner-5">
        <div class="description left">
            <br/><br/>
            <h2 class="project-title">
                PROJECT GRANT A WISH
            </h2>
            <br/>
            <br/>
            <b>
            ​​It’s easy. So we thought. Grants are an important part of how we finance our projects. While grant
            proceeds may be used for either acquisition of capital assets or operating cost, the majority of the
            grants must be used to address the needs of our clients such as shelter, food and clothing.
            </b>
        </div>
        <div class="description right">
            <br/><br/>
            <h2 class="project-title">
                PROJECT 6
            </h2>
            <br/>
            <br/>
            <b>
            ​​This is where volunteers, contributors and donors can make a difference. Giving is one of our
            greatest assets as a country. This is why we&#39;re teaming up with everyone who participates in giving
            to the homeless, vets and needy families. There&#39;s no shame in needing assistance. Join with us
            today.
            </b>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="clear"></div>

{% endblock %}

{% block js %}

    <script type="text/javascript">
        var wh = $(window).height();
        $('.projects-banner').css('min-height', (wh - 45) + 'px' );
    </script>

{% endblock %}

