{% extends 'admin.base' %}

{% block content %}
    <table class="list">
        <tr class="sort">
            <td>
                Event title
            </td>
            <td >
                Donation type
            </td>
            <td>
                Name
            </td>
            <td>
                Surname
            </td>
            <td>
                Address
            </td>
            <td>
                Email
            </td>
            <td>
                Phone
            </td>
        </tr>
        {% for subscriber in subscribers %}
            <tr>
                <td>
                    {{ subscriber['event_title'] }}
                </td>
                <td >
                    {{ subscriber['event_type'] }}
                </td>
                <td>
                    {{ subscriber['first_name'] }}
                </td>
                <td>
                    {{ subscriber['last_name'] }}
                </td>
                <td>
                    {{ subscriber['address'] }}
                </td>
                <td>
                    {{ subscriber['email'] }}
                </td>
                <td>
                    {{ subscriber['phone'] }}
                </td>
            </tr>
        {% endfor %}
        
    </table>
{% endblock %}