<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <style>
            a.ironboard-link:hover,
            a.ironboard-link-small:hover{
                text-decoration: underline;
                color: #0a5594;
            }
            a.ironboard-link{
                color: #00b4ff;
                text-decoration: none;
            }
            a.ironboard-link-small{
                color: #777777;
                font-size: 12px;
                text-decoration: none;
            }
            a.ironboard-link-board{
                color: #0c9ad5;
            }
            a.ironboard-link-board-highlighted{
                color: #0a5594;
            }
            a.title{
                color: #0c9ad5;
            }
        </style>
        <table cellpadding="0" 
               cellspacing="0" 
               width="100%" 
               border="0" 
               rules="none"
               bgcolor="#f8f8f8"
               style="font-family: Arial, Helvetica, sans-serif;
                      font-size: 14px;
                      width: 100%;
                      text-align: center;
                      background-color: #f8f8f8;">
            <tr>
                <td align="center">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <table cellpadding="0" 
                           cellspacing="0" 
                           width="700" 
                           border="0" 
                           rules="none"
                           style="font-family: Arial, Helvetica, sans-serif;
                                  font-size: 14px;
                                  width: 700px;
                                  margin: 0 auto;">
                        
                        <tr>
                            <td>
                                <a href="{{ base_url~'/newsletters/'~newsletter.id }}" 
                                   style="text-decoration: none; padding: 0 25px">
                                    <font size="4" color="#0c9ad5" style="text-decoration: none;">
                                        <strong style="text-decoration: none;">
                                            {{ newsletter.title }}
                                        </strong>
                                    </font>
                                </a>
                                <br/>
                                <br/>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                
                                <table cellpadding="0"
                                       cellspacing="0"
                                       width="100%"
                                       border="0"
                                       rules="none"
                                       bgcolor="#ffffff"
                                       style="border-collapse: collapse;">
                                    <tr>
                                        <td align="left" style="padding: 25px;">
                                            <font color="#555555">
                                                {{ newsletter.details|striptags|slice(0, 250)|raw }}
                                                {{ newsletter.details|length > 249 ? ' ...' : '' }}
                                            </font>
                                            <br/>
                                            <br/>
                                            <a target="_blank" class="ironboard-link" style="text-decoration: none;"
                                               href="{{ base_url~'/newsletters/'~newsletter.id }}">
                                                Read more ...
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                                                     
                                <br/>
                                <br/>
                                <br/>
                                
                                <table cellpadding="0"
                                       cellspacing="0"
                                       width="700"
                                       border="1"
                                       rules="all"
                                       bgcolor="#ffffff"
                                       style="font-family: Arial, Helvetica, sans-serif;
                                              font-size: 14px;
                                              width: 700px;
                                              margin: 0 auto;
                                              border-collapse: collapse; 
                                              border: 1px solid #cccccc;">
                                    <tr>
                                        <td align="left"
                                            width="99%"
                                            style="padding: 25px; border-color: transparent;">
                                            <font size="2" color="#777777">
                                                Learn more about us 
                                                <a href="{{ base_url }}" class="ironboard-link" style="color: #00b4ff; text-decoration: none;">
                                                    {{ view.app.name }}
                                                </a>
                                                <br/>
                                                If this email is unsolicited, please 
                                                <a href="{{ base_url~'/unsubscribe?unsubscribe=' ~ hashedMail }}" class="ironboard-link" style="color: #00b4ff; text-decoration: none;">
                                                    click here 
                                                </a>
                                                to 
                                                <a href="{{ base_url~'/unsubscribe?unsubscribe=' ~ hashedMail }}" class="ironboard-link" style="color: #00b4ff; text-decoration: none;">
                                                    unsubscribe.  
                                                </a>
                                                <br/>
                                                <br/>
                                            </font>
                                            <font size="2" color="#cccccc">
                                                Copyright &copy; 2011 - {{ "now"|date("Y") }} {{ view.app.name }}. All rights reserved.
                                            </font>
                                        </td>
                                        <td align="center"
                                            width="1%"
                                            valign="top"
                                            style="padding: 25px; border-color: transparent;">
                                            <a href="{{ base_url }}">
                                                <img src="{{ message.embed(resources_path~'/assets/img/logo-mini.png') }}" 
                                                     width="96"/>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                                
                            </td>
                        </tr>
                    </table>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </td>
            </tr>
            
        </table>
    </body>
</html>