<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <table cellpadding="0" 
               cellspacing="0" 
               width="100%" 
               border="0" 
               rules="none"
               style="font-family: Arial, Helvetica, sans-serif;
                      font-size: 14px;
                      max-width: 700px;">
            <tr>
                <td align="left">
                    <br/>
                    <br/>
                    <br/>
                    NEW registration on faceofhope211.org<br/>
                    _________________________________
                    <br/><br/>
                    
                    <b>Name:</b> {{ first_name }} {{ last_name }}
                    <br/>
                    <br/>
                    <b>Email:</b> {{ email }}
                    
                    <br/>
                    <br/>
                    <br/>
                </td>
            </tr>
            
        </table>
    </body>
</html>