{% extends 'admin.base' %}

{% block content %}
    
    <table class="list">
        <tr class="sort">
            <td>
                Photo
            </td>
            <td>
                Details
            </td>
            <td width="1">
                Actions
            </td>
        </tr>
        {% for contact in contacts %}
            <tr>
                <td width="1">
                    {% if contact.photo %}
                        <div style="width:100px; height: 105px;
                             background:url('{{ asset('images/contacts/')~'/'~contact.photo }}') center center no-repeat content-box transparent;
                             background-size: cover;">
                        </div>
                    {% endif %}
                </td>
                <td valign="top">
                    {{ contact.details|raw }}
                </td>
                <td>
                    <a href="{{ url('admin/contacts/edit')~'/'~contact.id }}" class="glyphicon glyphicon-pencil" title="Edit"></a>&nbsp;&nbsp;&nbsp;
                    <a href="{{ url('admin/contacts/remove')~'/'~contact.id }}" class="glyphicon glyphicon-remove" title="Remove"></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    
    
    <div class="clear"></div>
    <br/><br/>
    <strong>Note:</strong> <br/> rules (just for add/edit contact details)<br/>
    To create <strong>bold</strong> text use &lt;strong&gt;&lt;/strong&gt; tags.<br/>
    To start text from new line use &lt;br/&gt; tag<br/>
    To make text <i>italic</i> enclose it in &lt;i&gt;&lt;/i&gt; tags<br/><br/>
    
    <strong>Example:</strong>
    This code<br/><br/>
    &lt;strong&gt;Some name&lt;/strong&gt;<br/>
    &lt;br/&gt;<br/>
    &lt;i&gt;Some position or job title&lt;/i&gt;<br/>
    &lt;br/&gt;<br/>
    +43523432432<br/><br/>
    will be displayed as <br/><br/>
    <strong>Some name</strong>
    <br/>
    <i>Some position or job title</i>
    <br/>
    +43523432432
    
    <div class="clear"></div>
    <br/><br/><br/>
    
    <h2 class="form-title">Add contact</h2>
    <form enctype="multipart/form-data" 
            action="{{ url('admin/contacts/administration/create') }}" 
            method="post" 
            class="form pull-left"
            style="width:250px;">
        <div style="width: 250px; float: left;">
            <div class="field">
                <label>Contact photo</label>
                <br/><br/>
                <div class="images-uploader-block company-logo">
                    <input type="file" class="hidden logo-image"/>
                    <div class="uploaded-images">
                        <div class="image uploaded-image">
                            <div class="mini-image">
                                <div class="image-back"
                                     style="background: url('{{ photo?photo: asset('assets/img/photo.jpg') }}') center center no-repeat; 
                                            background-size: cover;
                                            width: 200px; height: 200px; margin-bottom: 5px;">
                                </div>
                            </div>
                            <textarea class="hidden base-64-storage" name="photo" disabled></textarea>
                        </div>
                    </div>
                                            
                    <button class="upload-image-button" type="button" style="width: 200px; margin-bottom: 5px;">
                        <div class="image-uploader-loader" style="display: none;"><img src="{{ url('assets/img/image-loader.gif') }}" /></div>
                        <span class="glyphicon glyphicon-file pull-left"></span>
                        Choose
                    </button>
                    <br/><br/><br/>
                    <label>Contact details</label>
                    <textarea style="width: 200px; min-height: 200px; margin-top: 15px;" name="details"></textarea>
                    <br/>
                </div>
            <button type="submit">
                Create
            </button>
            </div>
        </div>
        <div class="clear"></div>
        
    </form>
    <div class="clear"></div>
    <br/><br/><br/><br/>
{% endblock %}
        
{% block js %}

    <script type="text/javascript" src="{{ asset('components/blueimp-load-image/js/load-image.all.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/services/fileService.js') }}"></script>
    
    
    <script type="text/javascript">
        
        $( document ).scroll(function() {
            if(getFooterPos() < $(document).scrollTop()){
                $('.side-menu').addClass('stop');
            }else{
                $('.side-menu').removeClass('stop');
            }
        });
        
    </script>
{% endblock %}