{% extends 'admin.base' %}

{% block content %}
    
    <h2 class="form-title">Edit contact</h2>
    <form enctype="multipart/form-data" 
            action="{{ url('admin/contacts/edit/')~'/'~contact.id }}" 
            method="post" 
            class="form pull-left"
            style="width:250px;">
        {% if form.errors|length > 0 %}<span class="notice-message">{{ form.errors.first() }}</span>{% endif %}
        <div style="width: 250px; float: left;">
            <div class="field">
                <label>Contact photo</label>
                <br/><br/>
                <div class="images-uploader-block company-logo">
                    <input type="file" class="hidden logo-image"/>
                    <div class="uploaded-images">
                        <div class="image uploaded-image">
                            <div class="mini-image">
                                <div class="image-back"
                                     style="background: url('{{ contact.photo?asset('images/contacts/')~'/'~contact.photo : asset('assets/img/photo.jpg') }}') center center no-repeat; 
                                            background-size: cover;
                                            width: 200px; height: 200px; margin-bottom: 5px;">
                                </div>
                            </div>
                            <textarea class="hidden base-64-storage" name="photo" disabled></textarea>
                        </div>
                    </div>
                                            
                    <button class="upload-image-button" type="button" style="width: 200px; margin-bottom: 5px;">
                        <div class="image-uploader-loader" style="display: none;"><img src="{{ url('assets/img/image-loader.gif') }}" /></div>
                        <span class="glyphicon glyphicon-file pull-left"></span>
                        Choose
                    </button>
                    <br/><br/><br/>
                    <label>Contact details</label>
                    <textarea style="width: 200px; min-height: 200px; margin-top: 15px;" name="details">{{ contact.details }}</textarea>
                    <br/>
                </div>
            <button type="submit">
                Create
            </button>
            </div>
        </div>
        <div class="clear"></div>
        
    </form>
    <div class="clear"></div>
    <br/><br/><br/><br/>
{% endblock %}
        
{% block js %}

    <script type="text/javascript" src="{{ asset('components/blueimp-load-image/js/load-image.all.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/services/fileService.js') }}"></script>
    
    
    <script type="text/javascript">
        
        $( document ).scroll(function() {
            if(getFooterPos() < $(document).scrollTop()){
                $('.side-menu').addClass('stop');
            }else{
                $('.side-menu').removeClass('stop');
            }
        });
        
    </script>
{% endblock %}