{% extends "admin.base" %}

{% block content %}

    <div class="login-form">
        
        <form action="{{ url('admin/auth/signin') }}" method="POST">
            <div class="form-title">Admin</div>
            {% if form.error %}<span class="error">{{ form.error }}</span>{% endif %}
            <div class="field">
                <span class="label">Email/Login</span>
                <input type="text" 
                       name="email"
                       value="{{ form.email }}"/>
            </div>
            <div class="field">
                <span class="label">Password</span>
                <input type="password" name="password" />
            </div>
            <div class="field">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="rememberme" />  Keep me logged in
                    </label>
                </div>
                <br/>
                <button type="submit" class="submitButton">Sign In</button>
            </div>
            <br/>
        </form>
            
    </div>

{% endblock %}