{% extends 'base' %}

{% block content %}
    <div class="volunteering-banner">
        <div class="description">
            <h1 class="title">
                Better world together!
            </h1>
            <br/><br/>
            All of our volunteers are also our clients <br/>
            who benefit from training programs and food assistance, <br/>
            plus the joy of serving others here at Face_of_Hope.
            <br/><br/>
            {% if not view.isAuth %}
                <a href="{{ url('/register') }}" class="text-center" style="text-decoration: none;">
                    <div class="back-button">
                        <span class="button-donate">
                            JOIN US
                        </span>
                    </div>
                </a>
            {% endif %}
            <div class="clear"></div>
        </div>
    </div>
    
    <div class="clear"></div>
    
    <div class="base-block">
        <div class="block without-menu">

            <div class="title">Our Volunteers</div>
            <div class="images-block">
                {% set randUsersByType = view.utils.getRandomUsersByType(2, 8) %}
                {% for userByType in randUsersByType %}
                    {% set userPhoto = view.utils.userPhoto(userByType.user_id) %}
                    <div class="images-block">
                        <div class="view octuple with-description">
                            <div class="image" style="background: url('{{ userPhoto ? asset('/images/users/'~userByType.user_id~'/photo.jpg') : asset('/assets/img/photo.jpg') }}') center center no-repeat; 
                                                      background-size: cover;">
                            </div>
                            {% set userData = view.utils.getUserById(userByType.user_id) %}
                            {{ userData.first_name }}
                            {{ userData.middle_name }}
                            {{ userData.last_name }}
                            <div class="descript">
                                {{ userData.description }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
                    
            {% if not view.isAuth %}
                <div class="clear"><br/><br/><br/><br/><br/></div>
                <div class="text-left">
                    <a href="{{ url('/register') }}">
                        <span class="button-donate">
                            JOIN US
                        </span>
                    </a>
                </div>
            {% endif %}
                    
            <div class="clear"><br/><br/><br/><br/><br/></div>
            
            {% if jobs|length > 0 %}
                <div class="title" style="border: 0px;">Open positions</div>
            
                <table class="simple-list">
                    <tr class="simple-list-tabs hide-on-tablet">
                        <td style="width: auto;">
                            Position
                        </td>
                        <td>
                            Actions
                        </td>
                    </tr>
                    {% for job in jobs %}
                        <tr>
                            <td>
                                <div class="job-title">
                                    <a href="{{ url('volunteering/position')~'/'~job.id }}">
                                        {{ job.title }}
                                    </a>
                                </div>
                                <div class="timce-code-block">
                                    {{ job.details|striptags|slice(0, 500)|raw }}
                                    {{ job.details|length > 499 ? '<br/> ...' : '' }}
                                </div>
                            </td>
                            <td class="hide-on-tablet" valign="bottom" style="vertical-align: bottom; padding-left: 25px; text-align: right;">
                                {% if view.utils.isVolunteer(view.user.id) %}
                                    {% if view.utils.isApplied(view.user.id, job.id) %}
                                        <span class="applied">Applied !</div>
                                    {% else %}
                                        <a href="{{ url('/volunteering/jobs/apply')~'/'~job.id }}">
                                            <button class="btn small apply">Apply</button>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            {% endif %}
        </div>
                    
        {% if jobs|length > 0 %}
        
            <div class="pagination hide-on-mobile hide-on-print">
                {% set displayingTotalPages = 11 %}
                {% set totalPages = ( jobs.total()/ jobs.perPage())|round(0, 'ceil') %}
                {% set displayingFirstPage =  jobs.currentPage() - 5 > 1 ?  jobs.currentPage() - 5 : 1 %}
                {% set displayingLastPage =  jobs.currentPage() + 5 < totalPages ?  jobs.currentPage() + 5 : totalPages %}
                {% if  jobs.currentPage() > 1 %}
                    <a href="{{ url('volunteering/positions/') ~ '?page=' ~ ( jobs.currentPage() - 1) }}" class="page" itemprop="pagination">Prev</a>
                {% endif %}
                {% if displayingFirstPage != 1 %}
                    <a href="{{ url('volunteering/positions/') ~ '?page=1' }}" class="page">1</a>
                    ..
                {% endif %}
                {% for page in displayingFirstPage..displayingLastPage %}
                    <a href="{{  url('volunteering/positions/') ~ '?page=' ~ page }}" 
                       class="page {{  jobs.currentPage() == page ? 'active' : '' }}"
                       itemprop="pagination">
                        {{ page }}
                    </a>
                {% endfor %}
                {% if  jobs.currentPage() + 5 < totalPages and  jobs.currentPage() + 5 > 0 %}
                    ..
                    <a href="{{  url('volunteering/positions/') ~ '?page=' ~  jobs.lastPage() }}" 
                       class="page">
                        {{  jobs.lastPage() }}
                    </a>
                {% endif %}
                {% if  jobs.currentPage() < totalPages %}
                    <a href="{{  url('volunteering/positions/') ~ '?page=' ~ ( jobs.currentPage() + 1) }}" class="page" itemprop="pagination">Next</a>
                {% endif %}
            </div>
        
        {% endif %}
        
        <div class="clear"></div>
    </div> 
    
    <div class="clear"></div>
            
            
{% endblock %}

{% block js %}

    <script type="text/javascript">
        var wh = $(window).height();
        $('.volunteering-banner').css('min-height', (wh - 45) + 'px' );
        
        $('.timce-code-block img').each(function() {
            if($(this).css('float') === 'left'){
                $(this).css('margin-left', '0');
            };
            if($(this).css('float') === 'right'){
                $(this).css('margin-right', '0');
            };
        });
        
        $('.timce-code-block img').remove();
        
    </script>

{% endblock %}

