{% extends 'base' %}

{% block content %}
    <div class="donating-banner">
        <div class="description">
            <h1 class="title">
                We appreciate your support!
            </h1>
            <br/><br/>
            Our organization can not accomplish it’s mission and vision without our
            generous donors.
            <br/><br/>
            <br/>
            
            
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="37ZJXHZ83JWFA">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
            <div class="clear"></div>
        </div>
    </div>
    
    
    <div class="clear"></div>
    
    <div class="base-block">
        <div class="block without-menu">
            {% if donations|length > 0 %}
                <div class="double left hide-on-tablet">
                    <div class="title">Last donations</div>
                    <div class="clear"></div>
                    <br/><br/>
                    <table class="simple-list">
                        <tr class="simple-list-tabs">
                            <td>
                                Date
                            </td>
                            <td>
                                Comments
                            </td>
                            <td>
                                Donated
                            </td>
                        </tr>
                        {% for donation in donations %}
                            <tr>
                                <td style="white-space: nowrap; padding-right: 25px;  padding-left: 25px; vertical-align: top;">
                                    {% set userData = view.utils.getUserById(donation.user_id) %}
                                    {{ userData.first_name }} {{ userData.middle_name }} {{ userData.last_name }}
                                </td>
                                <td style="padding-left: 25px; vertical-align: top;">
                                    {{ donation.comments }}
                                </td>
                                <td style="padding-left: 25px; ">
                                    {% if donation.money%}
                                        <span class="sign">{{ donation.money }}$</span>
                                    {% endif %}

                                    {% for object in view.utils.jsonDecode(donation.stuff) %}
                                        <span class="sign">{{ object }}</span>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
            
            {% set randUsersByType = view.utils.getRandomUsersByType(1, 12) %}
            {% if randUsersByType|length > 0 %}
                <div class="double right">
                    <div class="title">Donors</div>
                    {% for userByType in randUsersByType %}
                        {% set userData = view.utils.getUserById(userByType.user_id) %}
                        {% if userData.active %}
                            {% set userPhoto = view.utils.userPhoto(userByType.user_id) %}
                            <div class="images-block">
                                <div class="view quadruple">
                                    <div class="image" style="background: url('{{ userPhoto ? asset('/images/users/'~userByType.user_id~'/photo.jpg') : asset('/assets/img/photo.jpg') }}') center center no-repeat; 
                                                              background-size: cover;">
                                    </div>
                                    {{ userData.first_name }}
                                    {{ userData.middle_name }}
                                    {{ userData.last_name }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            
                <div class="clear"><br/><br/><br/><br/><br/></div>
            {% endif %}
            
            <div class="title text-center">Every little bit helps!</div>
            <div class="double left">
                <p style="font-weight: bold;">
                Donating a little bit of money or time may not seem like much. But if your donation is joined
                with others, it becomes something much bigger. Giving to others increases your capacity for
                love. It makes you realize that even if you don’t have much, you have enough to share with
                others. 
                <br/><br/>
                ​Eighty-eight percent of households give to charity. Some people give to charity because they
                want to make a difference, while others do so because they feel obligated. Some people do it
                to get credit, and others because it’s socially expected of them. Others who cannot give
                financially give their time by volunteering at non-profits that are important to them. In 2011,
                the estimated dollar value of volunteer time was $19.54 per hour. In addition to the financial
                impact of volunteering, many people in need do benefit by the volunteer efforts of others.
                </p>
            </div>
            <div class="double right">
                <p style="font-weight: bold;">
                It’s easy to get overwhelmed by all the problems in the world and feel like you can’t make a
                difference. There is a lot of poverty and millions of underserved children. Many non-profits
                are underfunded and understaffed. If everybody gave of their resources and time then our
                world would be much happier and a much better place. Just getting the word out makes a
                difference. Many employers offer employees one day off with pay per year just for
                volunteering. Others will offer paid time off for employee volunteer projects when multiple
                people participate together.
                <br/><br/>
                Donating money can be just as contagious. If you see an important cause, share it over social
                media. Dare your friends to pick an important cause and donate. Give a donation as a gift
                instead of buying a useless gadget. Donate in honor of a loved one.
                </p>
            </div>
            <div class="clear"><br/><br/><br/></div>
            <div class="text-center">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="37ZJXHZ83JWFA">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
        </div>
        <div class="clear"></div>
    </div> 
    
    <div class="clear"></div>
            
            
{% endblock %}

{% block js %}

    <script type="text/javascript">
        var wh = $(window).height();
        $('.donating-banner').css('min-height', (wh - 45) + 'px' );
    </script>

{% endblock %}

