
{% if view.isAuth %}
    <ul class="nav profile">
        <li>
            <a href="{{ url('/profile/settings') }}"
               class="{{ view.category == 'profile' ? 'active' : '' }}">
                {{ view.user.first_name }} {{ view.user.last_name }}
                <span class="glyphicon glyphicon-user"></span>
            </a>
            <ul>
                <li>
                    <a href="{{ url('/profile/settings') }}"
                       class="{{ view.breadcrumbs[1] == 'settings' ? 'active' : '' }}">
                        Settings
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
                <li>
                    <a href="{{ url('/profile/donations') }}"
                       class="{{ view.breadcrumbs[1] == 'donations' ? 'active' : '' }}">
                        Donations
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </li>
                <li>
                    <a href="{{ url('/profile/volunteerings') }}"
                       class="{{ view.breadcrumbs[1] == 'volunteerings' ? 'active' : '' }}">
                        Volunteerings
                        <span class="glyphicon glyphicon-star"></span>
                    </a>
                </li>
                <li>
                    <a href="{{ url('/profile/needs') }}"
                       class="{{ view.breadcrumbs[1] == 'needs' ? 'active' : '' }}">
                        Needs
                        <span class="glyphicon glyphicon-cutlery"></span>
                    </a>
                </li>
                <li>
                    <a href="{{ url('/profile/uploads') }}"
                       class="{{ view.breadcrumbs[1] == 'uploads' ? 'active' : '' }}">
                        Uploads
                        <span class="glyphicon glyphicon-file"></span>
                    </a>
                </li>
                <li>
                    <a href="{{ asset('/logout') }}">
                        Sign Out
                        <span class="glyphicon glyphicon-log-out"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
{% else %}
    <div class="login-nav">  
        <a href="{{ url('/login') }}">Sign In</a>
        <a href="{{ url('/register') }}">Register</a>
    </div>
{% endif %}