{% extends "admin.base" %}

{% block content %}
    
    {% if session('success-message') %}
        <div class="success-message" style="border: 1px solid green; padding: 25px;">
            {{ session('success-message') }}
        </div>
        <div class="clear">
            <br/><br/><br/>
        </div>
    {% endif %}
    
    <div style="min-width: 500px; float: left; margin-right: 55px;">
        
        <form action="{{ url('admin/app') }}" method="POST">
            <div class="form-title">{{ view.app.name }} Settings</div>
            
            <div class="field">
                <span class="label">Name</span>
                <input type="text" 
                       name="name"
                       required
                       value="{{ view.app.name }}"/>
            </div>
            
            <div class="field">
                <span class="label">Phone</span>
                <input type="text" 
                       name="phone"
                       required
                       value="{{ view.app.phone }}"/>
            </div>
            
            
            <div class="field">
                <span class="label">Fax</span>
                <input type="text" 
                       name="fax"
                       value="{{ view.app.fax }}"/>
            </div>
            
            <div class="field">
                <span class="label">Email</span>
                <input type="email" 
                       name="email"
                       value="{{ view.app.email }}"/>
            </div>
            
            <div class="field">
                <span class="label">Address</span>
                <input type="text" 
                       name="address"
                       value="{{ view.app.address }}"/>
            </div>
            
            <div class="field">
                <span class="label">Url</span>
                <input type="text" 
                       name="url"
                       value="{{ view.app.url }}"/>
            </div>
            
            <div class="field">
                <span class="label">Description</span>
                <textarea name="description">{{ view.app.description }}</textarea>
            </div>
            
            <div class="field">
                <br/>
                <button type="submit" class="submitButton">Update</button>
            </div>
            <br/>
        </form>
            
    </div>  
            
    <div style="min-width: 500px; float: left;">
        <div class="form-title">Update admin password</div>
        <form class="form simple white-back" action="{{ url('admin/app/updatepassword') }}" method="POST">
            
            {% if errors.first() %}
                <div class="note-message" style="color: red;">
                    {{ errors.first() }}
                </div>

                <div class="clear form-line"></div>
            {% elseif session('error-message') %}
                <div class="note-message" style="color: red;">
                    {{ session('error-message') }}
                </div>

                <div class="clear form-line"></div>
            {% endif %}
            
            <div >
                <label>Current password</label>
                <input type="password" 
                       class="{{ session('error-message') ? 'error' : '' }}"
                       name="current_password"
                       required/>
            </div>
            
            <div >
                <label>New password</label>
                <input type="password" 
                       class="{{ errors.has('password') ? 'error' : '' }}"
                       name="password"
                       required/>
            </div>
            
            <div >
                <label>Repeat new password</label>
                <input type="password" 
                       class="{{ errors.has('password') ? 'error' : '' }}"
                       name="password_confirmation"
                       required/>
            </div>
            
            <div >
                <br/>
                <button type="submit" class="submitButton">Update password</button>
            </div>
            <br/>
        </form>
            
    </div>

{% endblock %}