{% extends 'base' %}

{% block content %}
    <div class="citizenship-banner">
        <div class="description">
            <h1 class="title">
                Become a citizen with us!
            </h1>
            <br/><br/>
            The Face_ of_ Hope Foundation Inc. provides comprehensive legal
            assistance to our clients in order to establish legal citizenship.
            <br/><br/>
            <a href="{{ url('/contactus') }}" style="text-decoration: none;">
                <span class="button-donate">
                    CONTACT US
                </span>
            </a>
        </div>
    </div>
    
    <div class="clear"></div>

{% endblock %}

{% block js %}

    <script type="text/javascript">
        var wh = $(window).height();
        $('.citizenship-banner').height(wh - 45);
    </script>

{% endblock %}

