{% extends 'base' %}

{% block content %}
    <div class="newsletters-block">
        <div class="newsletters-back">
            <div class="newsletter text-center">
                
                <h2>
                    <br/><br/>
                    Future events will be listed here.
                    <br/><br/><br/><br/><br/>
                </h2>
                
            </div>
            <div class="clear"><br/><br/><br/><br/><br/></div>
        </div>
    </div>
    
{% endblock %}

